.header-container-wrapper {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}
.header-container__logo {
    margin-top: auto;
    margin-bottom: auto;
}
.header-container__navigation {
    display: flex;
    justify-content: space-between;
}
.header-container__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    width: 530px;

    padding: 0;
    margin: 0;
}
.header-container__item {
    position: relative;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.header-container__item:first-child .header-container__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: rgba(31, 32, 65, 0.75);
}
.header-container__item:nth-of-type(3) .header-container__link::before {
    position: absolute;
    content: 'keyboard_arrow_down';

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    right: -20px;

}
.header-container__link {
    text-decoration: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: rgba(31, 32, 65, 0.5);

    margin: 0;
    padding: 0;
}
.header-container__user {
    display: flex;
    justify-content: space-between;

    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    z-index: 1;
}