include ../../elements/logo/logo.pug
include ../../elements/base-button/base-button.pug
include ../../elements/base-input/base-input.pug

mixin header1()
    .header-container-wrapper
        .header-container
            .header-container__logo
                +logo()
            .header-container__navigation
                ul.header-container__list
                    each val, index in ['Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation']
                        li.header-container__item
                            a.header-container__link(href="")= val
                .header-container__user
                    +base-button('Войти', 'small', 'small', 'border')
                    +base-button('Зарегистироваться', 'madium-large', 'small', 'background')
