mixin dropdown({label, placeholder = 'Выберите нужное количество', dropdownFor = '', isButtonsHidden = false, dropdownRows = [{subjectOfCalculation: '', count: '0'}]})
  .dropdown.js-dropdown
    .dropdown__input.js-dropdown__input
      span.dropdown__input-label= label
      .dropdown__input-wrapper
        span.dropdown__input-arrow-down.js-dropdown__input-arrow-down
        input.dropdown__input-content.js-dropdown__input-content(type= 'text', name='dropdown-input-content', placeholder= placeholder, readonly= 'readonly')
    .dropdown__content.js-dropdown__content
      .dropdown__rows.js-dropdown__rows(class=`dropdown__rows_for-count-${dropdownFor}`)
        block
        each dropdownRow in dropdownRows
          - const {subjectOfCalculation, count} = dropdownRow
          .dropdown__row.js-dropdown__row
            span.dropdown__row-label= subjectOfCalculation
            ul.dropdown__row-amount-counter
              li.dropdown__row-amount.js-dropdown__row-amount.dropdown__row-amount_with-sign.js-dropdown__row-amount_with-sign -
              li.dropdown__row-amount.js-dropdown__row-amount.dropdown__row-amount_with-count.js-dropdown__row-amount_with-count
                = count
              li.dropdown__row-amount.js-dropdown__row-amount.dropdown__row-amount_with-sign.js-dropdown__row-amount_with-sign +
      .dropdown__buttons(class=`${isButtonsHidden ? 'dropdown__buttons_hidden' : ''}`)
        .dropdown__buttons-container.dropdown__buttons-container_with-button-clear.js-dropdown__buttons-container_with-button-clear
          +button({text: 'Очистить'})
        .dropdown__buttons-container.dropdown__buttons-container_with-button-apply.js-dropdown__buttons-container_with-button-apply
          +button({text: 'Применить'})
