include ../../elements/dropdown-row/dropdown-row.pug

mixin dropdown({label, placeholder, display, readonly, dropdownFor} = {})
  .dropdown
    .dropdown__list
      +base-input({
        label: label,
        placeholder: placeholder,
        arrow: 'arrow-down',
        borderRadiusTop: 'top',
        hide: 'dropdown-list',
        readonly: readonly,
      })
    .dropdown__content
      .dropdown__rows(class=`dropdown__rows_for-count-${dropdownFor}` || false)
        block
      .dropdown__buttons(class=`dropdown__buttons_${display}` || false)
        .dropdown__buttons-container.dropdown__buttons-container_for-clear
          +base-button({text: 'Очистить', decor: 'noDecor'})
        .dropdown__buttons-container.dropdown__buttons-container_for-apply
          +base-button({text: 'Применить', decor: 'noDecor'})
