include ../../elements/dropdown-row/dropdown-row.pug

mixin dropdown(label, placeholder, display, readonly)
  .dropdown
    .dropdown__list
      +base-input(label, placeholder, 'arrow-down', 'top', '', 'dropdown-list', readonly)
    .dropdown__content
      .dropdown__rows
        block
      .dropdown__buttons(class='dropdown__buttons_'+display || false)
        +base-button('Очистить', '', 'noDecor', '', 'button')
        +base-button('Применить', '', 'noDecor', '', 'button')
