include ../../elements/dropdown-row/dropdown-row.pug

mixin dropdown({label, placeholder = 'Выберите нужное количество', isHide = false, readonly = 'readonly', display = '', dropdownFor = ''})
  .dropdown.js-dropdown
    .dropdown__list
      +input({
        label: label,
        placeholder: placeholder,
        arrow: 'arrow-down',
        hasBorderRadiusTop: true,
        isHide: isHide,
        readonly: readonly,
        areInDropdown: true,
      })
    .dropdown__content.js-dropdown__content
      .dropdown__rows.js-dropdown__rows(class=`dropdown__rows_for-count-${dropdownFor}`)
        block
      .dropdown__buttons(class=`dropdown__buttons_${display}`)
        .dropdown__buttons-container.dropdown__buttons-container_with-button-clear.js-dropdown__buttons-container_with-button-clear
          +button({text: 'Очистить', decor: 'noDecor'})
        .dropdown__buttons-container.dropdown__buttons-container_with-button-apply.js-dropdown__buttons-container_with-button-apply
          +button({text: 'Применить', decor: 'noDecor'})
