extends ../base.pug

include ../../components/header-1/header-1.pug

include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug

block content
    .room-details-container-wrapper
        +header1()
        .room-details-content
			.room-details-content__slider
			.room-details-content__column
				.room-details-content__row
					.room-details-content__number-info
					.room-details-content__impressions
				.room-details-content__row
					.room-details-content__review
				.room-details-content__row
					.room-details-content__extra-info
			.room-details-content__column
        +footer()
        +copyright()