.room-details-container-wrapper {
	height: auto;
}
.room-details-content {
	width: 100%;
	background: white;
}
.room-details-content__slider {
	min-width: 320px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4.8%;

	display: flex;
}
.room-details-content__slider-group-image {
	max-width: 31.875%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background: rgba(128, 128, 128, 0.8);
}
.room-details-content__slider-image-1 {
	height: auto;
	max-width: 68.125%;
	object-fit: none;
}
.room-details-content__slider-image-2 {
	height: auto;
	max-width: 100%;
	object-fit: none;
}
.room-details-content__slider-image-3 {
	height: auto;
	max-width: 100%;
	object-fit: none; 
}

.room-details-content__information {
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 65px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	@media(min-width: 720px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	@media(min-width: 1000px) {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-rows: 305px 335px 160px;
	}
}
.room-details-content__column-wide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 710px;
	min-height: 725px;
}
.room-details-content__column-narrow {
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
	max-width: 380px;
	margin-bottom: 25px;
	order: -1;
	@media(min-width: 380px) {
		margin-left: auto;
		margin-right: auto;
	}
	@media(min-width: 720px) {
		width: 50.77%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		order: 0;
	}
	@media(min-width: 1000px) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
		width: 100%;
		min-width: 380px;
		margin-left: auto;
		margin-right: 2%;
		order: 0;
	}
}
.room-details-content__number-impressions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 290px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	@media(min-width: 720px) {
		width: 45.23%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}
	@media(min-width: 1000px) {
		grid-column-start: 1;
		grid-column-end: 2;
		width: 100%;
		flex-direction: row;
		min-width: 600px;
		margin-left: 2%;
		margin-bottom: 0;
	}
	@media(min-width: 1160px) {
		min-width: 655px;
	}
}
.room-details-content__number-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 260px;
	min-height: 290px;
	@media(min-width: 1000px) {
		max-height: 290px;
	}
}
.room-details-content__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 24px;

	color: #1F2041;

	margin: 0;
}
.room-details-content__title-review {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;

	color: #1F2041;

	margin: 0;
}
.room-details-content__title-regulations {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;

	color: #1F2041;

	margin: 0;
}
.room-details-content__title-cancel {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;

	color: #1F2041;

	margin: 0;
}
.room-details-content__impressions {
	max-width: 318px;
}
.room-details-content__review {
	width: 100%;
	min-width: 320px;
	max-width: 720px;
	min-height: 300px;

	padding-right: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-bottom: 35px;
	@media(min-width: 1000px) {
		grid-column-start: 1;
		grid-column-end: 2;
		margin-left: 0;
		margin-right: 0;
	}
	@media(min-width: 1160px) {
		min-width: 730px;
	}
}
.room-details-content__review-description {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.room-details-content__review-sum {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 13px;
	text-align: center;


	display: flex;
	align-items: center;

	color: rgba(31, 32, 65, 0.5);
}
.room-details-content__extra-info {
	display: flex;
	flex-wrap: wrap;
	min-width: 320px;
	max-width: 720px;
	min-height: 350px;

	padding-left: 10px;
	padding-right: 10px;

	justify-content: space-between;
	width: 100%;
	@media(min-width: 590px) {
		min-height: 150px;
		margin-left: auto;
		margin-right: auto;
	}
	@media(min-width: 1000px) {
		grid-column-start: 1;
		grid-column-end: 2;
		margin-left: 0;
		margin-right: 0;
	}
}
.room-details-content-regulations {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 250px;
	height: 150px;
}
.room-details-content-regulations__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 110px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.room-details-content-regulations__item {
	position: relative;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	color: rgba(31, 32, 65, 0.75);

	padding-left: 18.5px;
}
.room-details-content-regulations__item::before {
	position: absolute;
	content: '';

	width: 9.3px;
	height: 9.3px;
	border-radius: 50%;

	top: 7px;
	left: 0;

	background: rgba(31, 32, 65, 0.25);
}
.room-details-content__cancel {
	width: 320px;
	min-height: 141px;

	padding-left: 2px;
	
}
.room-details-content__title-cancel {
	margin-bottom: 16px;
}
.room-details-content__cancel-description {
	display: inline-block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	
	color: rgba(31, 32, 65, 0.75);

	margin: 0;
}