@import '../variables.scss';

.room-details {
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 66px auto 72px auto;
    padding: 0 20px;
    background: #fff;
  }

  &__information {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 710px;
  }

  &__room-impressions {
    display: flex;
    justify-content: space-between;
    max-width: 675px;
  }

  &__advantages {
    width: 280px;
  }

  &__diagram {
    width: 316px;
  }

  &__comment {
    margin: 10px 0;
  }

  &__extra-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 687px;
  }

  &__rules {
    width: 255px;
  }

  &__cancel {
    max-width: 325px;

    &-description {
      margin: 0;
      line-height: 24px;
    }
  }

  &__title-cancel {
    @include h2();
    margin-bottom: 18px;
  }

  &__form-room-cost {
    width: 380px;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 4px;
    box-shadow: $cardShadow;
  }
}
