.room-details {
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 66px auto 72px auto;
    padding: 0 20px;
    background: #fff;

    @media (max-width: 1150px) {
      flex-direction: column;
    }

    @media (max-width: 800px) {
      padding: 0 10px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    max-width: 710px;

    @media (max-width: 1150px) {
      margin: 0 auto 40px auto;
    }

    @media (max-width: 800px) {
      max-width: 320px;
    }

    @media (max-width: 340px) {
      max-width: 300px;
    }
  }

  &__room-impressions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 675px;
  }

  &__advantages {
    width: 280px;
  }

  &__diagram {
    width: 316px;

    @media (max-width: 800px) {
      margin-top: 30px;
    }
  }

  &__comment {
    margin: 10px 0;

    @media (max-width: 800px) {
      margin-top: 40px;
    }
  }

  &__extra-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 687px;
  }

  &__rules {
    width: 255px;
  }

  &__cancel {
    max-width: 325px;

    @media (max-width: 800px) {
      margin-top: 30px;
    }

    &-description {
      margin: 0;
      line-height: 24px;
    }
  }

  &__title-rules {
    @include h2();
    margin-left: 20px;
  }

  &__title-cancel {
    @include h2();
    margin-bottom: 18px;
  }

  &__form-room-cost {
    width: 380px;

    @include card;

    @media (max-width: 1150px) {
      margin: 0 auto;
    }

    @media (max-width: 800px) {
      width: 300px;
    }
  }
}
