extends ../base.pug

include ../../components/header-1/header-1.pug
include ../../elements/advantages/advantages.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../elements/diagramma/diagramma.pug
include ../../elements/review/review.pug
include ../../components/form-result-search-room/form-result-search-room.pug

block content
	.room-details-container-wrapper
		+header1()
		.room-details-content
			.room-details-content__slider
				img(src="images/image1.png", alt="", width="892px" height="441px")
				.room-details-content__img-min-group
					img(src="images/image2.png", alt="", width="416px", height="221px")
					img(src="images/image3.png", alt="", width="416px", height="220px")
			.room-details-content__information
				.room-details-content__column-wide
					.room-details-content__row
						.room-details-content__number-info
							h2.room-details-content__title Сведения о номере
							+advantages('Комфорт', 'Шумопоглощающие стены', 'mood', 'line', 'large', '14')
							+advantages('Удобство', 'Окна в каждой из спален', 'locationCity', 'line', 'large', '14')
							+advantages('Уют', 'Номер оснащен камином', 'whatshot', '', 'large', '14')
						.room-details-content__impressions
							h2.room-details-content__title Впечатления от номера
							+diagramma('260', 'голосов')
					.room-details-content__row
						.room-details-content__review
							.room-details-content__review-description
								h2.room-details-content__title-review Отзывы посетителей номера
								span.room-details-content__review-sum 2 отзыва
							+review('Мурад Сарафанов', '5 дней назад', 'Murad', '', 'small', '8', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
							+review('Патрисия Стёклышкова', 'Неделю назад', 'Patriziya', '', 'small', '8', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
					.room-details-content__row
						.room-details-content__extra-info
							.room-details-content-regulations
								h2.room-details-content__title-regulations Правила
								ul.room-details-content-regulations__list
									each val, index in ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
										li.room-details-content-regulations__item= val
							.room-details-content__cancel
								h2.room-details-content__title-cancel Отмена
								p.room-details-content__cancel-description Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
				.room-details-content__column-narrow
					+resultSearchRoom('888', 'люкс', '9 990')
		+footer()
		+copyright()