extends ../base.pug

include ../../components/header/header.pug
include ../../elements/advantages/advantages.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../elements/diagram/diagram.pug
include ../../elements/bulleted-list/bulleted-list.pug
include ../../components/review/review.pug
include ../../components/form-room-cost/form-room-cost.pug
include ../../components/calendar/calendar.pug
include ../../components/datepicker-group/datepicker-group.pug

block meta
    meta(name='keywords', content='room details, toxin')
    meta(name='description', content='Room details page TOXIN')
block title
    title Room details page
block content
  .room-details
    .room-details__wrapper
      .room-details__header
        .room-details__header-container
          +header()
      .room-details__content
        .room-details__slider
          img.room-details__slider-image-1(src='images/image1.png')
          .room-details__slider-group-image
            img.room-details__slider-image-2(src='images/image2.png')
            img.room-details__slider-image-3(src='images/image3.png')
        .room-details__information
          .room-details__number-impressions
            .room-details__number-info
              h2.room-details__title Сведения о номере
              .room-details__advantages
                .room-details__advantage-item
                  +advantages({title: 'Комфорт', value: 'Шумопоглощающие стены', nameIcon: 'mood'})
                .room-details__advantage-item
                  +advantages({title: 'Удобство', value: 'Окна в каждой из спален', nameIcon: 'locationCity'})
                .room-details__advantage-item
                  +advantages({title: 'Уют', value: 'Номер оснащен камином', nameIcon: 'whatshot'})
            .room-details__impressions
              h2.room-details__title Впечатления от номера
              .room-details__diagram
                - const impressions = [{color: 'yellow-pink', text: 'Великолепно'}, {color: 'turquoise-blue', text: 'Хорошо'}, {color: 'light-blue', text: 'Удовлетворительно'}, {color: 'violet-blue', text: 'Разочарован'}]
                - const data = [{votes: 65, color: 'violet-blue', colorRGB: '#BC9CFF', text: 'Разочарован'}, {votes: 65, colorRGB: '#6FCF97'}, {votes: 130, colorRGB: '#FFBA9C'}]
                +diagram({totalOfVotes: 260, label: 'голосов', impressions: impressions, data: data})
          .room-details__column-narrow
            -const roomDetailsRoomDateFormat = ['19.08.2019', '23.08.2019']
            +form-room-cost({number: '888', text: 'люкс', cost: '9 990', dateFormat: roomDetailsRoomDateFormat})
          .room-details__review
            .room-details__review-description
              h2.room-details__title-review Отзывы посетителей номера
              span.room-details__review-sum 2 отзыва
            +review({
              title: 'Мурад Сарафанов',
              value: '5 дней назад',
              srcImage: '../../elements/advantages/images/Murad.png',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
            })
            +review({
              title: 'Патрисия Стёклышкова',
              value: 'Неделю назад',
              srcImage: '../../elements/advantages/images/Patriziya.png',
              text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
            })
          .room-details__extra-info
            .room-details__rules
              h2.room-details__title-rules Правила
              .room-details__rules-list
                - const rules = [{modifier: 'light-gray', text: 'Нельзя с питомцами', padding: 'increased-indent'}, {modifier: 'light-gray', text: 'Без вечеринок и мероприятий', padding: 'increased-indent'}, {modifier: 'light-gray', text: 'Время прибытия — после 13:00, а выезд до 12:00', padding: 'increased-indent'}]
                +bulleted-list({height: 'middle', values: rules})
            .room-details__cancel
              h2.room-details__title-cancel Отмена
              p.room-details__cancel-description Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .room-details__footer
        +footer()
      +copyright()