include ../../components/datepicker/datepicker.pug
include ../../components/dropdown/dropdown.pug
include ../../elements/numerical-group/numerical-group.pug
include ../../elements/dropdown-row/dropdown-row.pug

mixin room-cost-form(number, text, cost)
    .room-cost-form
      .room-cost-form__identification-room
          .room-cost-form__specification-room
              - const specificationState = {number: '888', description: 'люкс', visibilitySignNumber: '', visibilitySignRouble: 'hidden', visibilityDescriptionSign: 'hidden', numberDecor: 'bold', descriptionDecor: 'bold-pink'}
              +numerical-group(specificationState)
          .room-cost-form__cost-per-day
              - const costPerDay = {number: '9 990', description: ' в сутки', visibilitySignNumber: 'hidden', visibilitySignRouble: '', visibilityDescriptionSign: 'hidden', numberDecor: '', descriptionDecor: 'normal'}
              +numerical-group(costPerDay)
      .room-cost-form__inputs
          .room-cost-form__inputs-with-datepicker
            .room-cost-form__input-container
                +base-input('Прибытие', '19.08.2019', 'arrow-down', 'top', 'bottom', '', 'readonly')
            .room-cost-form__input-container
                +base-input('Выезд', '23.08.2019', 'arrow-down', 'top', 'bottom', '', 'readonly')
          .room-cost-form__datepicker
              +datepicker()
          .room-cost-form__dropdown-container
            +dropdown('Гости', '3 гостя', 'arrow-down', 'top', 'bottom', '', 'readonly')
              +dropdown-row('Взрослые', '2')
              +dropdown-row('Дети', '1')
              +dropdown-row('Младенцы', '0')
      .room-cost-form__calculation
          - const calculationItems = [[{number: '9 990', description: ' x 4 суток', visibilitySignNumber: 'hidden', visibilitySignRouble: '', visibilityDescriptionSign: 'hidden'},{number: '39 690', description: '', visibilitySignNumber: 'hidden', visibilitySignRouble: '', visibilityDescriptionSign: 'hidden'}],[{number: '', description: 'Сбор за услуги: скидка', visibilitySignNumber: 'hidden', visibilitySignRouble: 'hidden', visibilityDescriptionSign: 'hidden'},{number: ' 2 179', description: '', visibilitySignNumber: 'hidden', visibilitySignRouble: '', visibilityDescriptionSign: ''},{number: '0', description: '', visibilitySignNumber: 'hidden', visibilitySignRouble: '', visibilityDescriptionSign: 'hidden'}],[{number: '', description: 'Сбор за дополнительные услуги', visibilitySignNumber: 'hidden', visibilitySignRouble: 'hidden', visibilityDescriptionSign: ''},{number: '300', description: '', visibilitySignNumber: 'hidden', visibilitySignRouble: '', visibilityDescriptionSign: 'hidden'}]]
          - const itemNumber = ['first', 'second', 'third']
          each val, index in calculationItems
              - let calculationItem = val
              .room-cost-form__calculation-item
                  if(index === 1)
                      .room-cost-form__calculation-item-content(class="room-cost-form__calculation-item-content_" + itemNumber[index])
                          +numerical-group(calculationItem[0])
                          +numerical-group(calculationItem[1])
                      +numerical-group(calculationItem[2])
                  else
                      .room-cost-form__calculation-item-content(class="room-cost-form__calculation-item-content_" + itemNumber[index])
                          +numerical-group(calculationItem[0])
                      +numerical-group(calculationItem[1])
      .room-cost-form__total
          .room-cost-form__total-item Итого
          .room-cost-form__total-item.room-cost-form__total-item_with-border
          .room-cost-form__total-item.room-cost-form__total-item_with-cost
              - const totalState = {number: '38 081', description: '', visibilitySignNumber: 'hidden', visibilitySignRouble: '', visibilityDescriptionSign: 'hidden'}
              +numerical-group(totalState)
      .room-cost-form__armor-button
          +base-button('Забронировать', 'background', 'arrow', 'button')