mixin range-slider(lable, price1, price2)
    .range-slider-container
        lable.range-slider-container__description= lable
        span.range-slider-container__text
                span= price1 
                | &#x20bd
                |-
                span= price2 
                | &#x20bd
        .range-slider-container__content
            button.range-slider-container__button.range-slider-container__button-left(type="button")
            button.range-slider-container__button.range-slider-container__button-right(type="button")