mixin range-slider({text} = {text})
  .slider
    .slider__description
      h1.slider__title= text
      .slider__price
        .slider__left
          input.slider__left-price.js-slider__left-price(type='text') 
          p.slider__ruble-sign ₽
        span.slider__sign
          |-
        .slider__right
          input.slider__right-price.js-slider__right-price(type='text') 
          p.slider__ruble-sign ₽
    .slider__range.js-slider__range