mixin range-slider(text)
  .range-slider-container
    .range-slider-container__description
      h1.range-slider-container__title= text
      .range-slider-container__price
        input.range-slider-container__left-price(type="text")
        span.range-slider-container__sign
          |-
        input.range-slider-container__right-price(type="text")
    .range-slider-container__polzunok