include ../../elements/radio-button/radio-button.pug
include ../../elements/toggle/toggle.pug

mixin form-check-in({text = 'Form name'} = {})
  .form-check-in
    span.form-check-in__title= text
    .form-check-in__user-data
      .form-check-in__group-inputs
          +input({
            placeholder: 'Имя',
            isTitleHidden: true,
          })
          +input({
            placeholder: 'Фамилия',
            isTitleHidden: true,
          })
      .form-check-in__buttons
        +radio-button({text: 'Мужчина', checked: 'checked', name: 'gender-for-form-check-in'})
        +radio-button({text: 'Женщина', name: 'gender-for-form-check-in'})
    .form-check-in__input
      .form-check-in__input-container
        +input({
          title: 'Дата рождения',
          placeholder: 'ДД.ММ.ГГГГ',
          hasInputMask: true
        })
    .form-check-in__login-details
      .form-check-in__group-inputs-login
        .form-check-in__input-container
          +input({
            title: 'Данные для входа в сервис',
            placeholder: 'email',
            type: 'Email',
          })
        .form-check-in__input-container
          +input({
            placeholder: 'Пароль',
            type: 'password',
          })
      .form-check-in__toggle
        +toggle({text: 'Получать спецпредложения'})
    .form-check-in__check-in-details
      .form-check-in__check-in-button
        +button({text: 'Зарегистрироваться', decor: 'background', hasArrow: true, height: 'large', href: '../../pages/landing/landing.pug'})
      .form-check-in__have-an-account
        span.form-check-in__text Уже есть аккаунт на Toxin
        .form-check-in__sign-in-button
          +button({text: 'Войти', decor: 'border', height: 'large', href: '../../pages/sign-in/sign-in.pug'})