.check-in {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  z-index: 2;
  width: 100%;
}
.check-in__title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.6px;

  color: #1F2041;
}
.check-in__user-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 130px;
}
.check-in__group-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100px;
}
.check-in__buttons {
  display: flex;
  justify-content: space-between;

  width: 220px;
  height: 25px;
  padding-top: 3px;
}
.check-in__group-inputs-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 115px;
}
.check-in__login-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 150px;
}
.check-in__text {
  display: inline-block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  text-align: center;

  align-items: center;
  @media(min-width: 400px) {
    line-height: 39px;
    text-align: left;
  } 
}
.check-in__check-in-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 115px;
}
.check-in__check-in-button {
  width: 100%;
  height: 44px;
}
.check-in__have-an-account {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 40px;
}
.check-in__sign-in-button {
  width: 99px;
  height: 44px;
}