include ../../elements/radio-button/radio-button.pug
include ../../elements/toggle/toggle.pug

mixin form-check-in({text = 'Form name'} = {text})
  .form-check-in
    span.form-check-in__title= text
    .form-check-in__user-data
      .form-check-in__group-inputs
          +input({
            placeholder: 'Имя',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            isHide: true,
          })
          +input({
            placeholder: 'Фамилия',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            isHide: true,
          })
      .form-check-in__buttons
        +radio-button({text: 'Мужчина', checked: 'checked', name: 'gender-for-form-check-in'})
        +radio-button({text: 'Женщина', name: 'gender-for-form-check-in'})
    .form-check-in__input
      .form-check-in__input-container.form-check-in__input-container_with-masked-field.js-form-check-in__input-container_with-masked-field
        +input({
          label: 'Дата рождения',
          placeholder: 'ДД.ММ.ГГГГ',
          type: 'text',
          hasBorderRadiusTop: true,
          hasBorderRadiusBottom: true,
        })
    .form-check-in__login-details
      .form-check-in__group-inputs-login
        .form-check-in__input-container
          +input({
            label: 'Данные для входа в сервис',
            placeholder: 'email',
            type: 'Email',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
          })
        .form-check-in__input-container
          +input({
            placeholder: 'Пароль',
            type: 'password',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
          })
      .form-check-in__toggle
        +toggle({text: 'Получать спецпредложения'})
    .form-check-in__check-in-details
      a.form-check-in__check-in-button(href='../../pages/landing/landing.pug', target='_blank')
        +button({text: 'Зарегистрироваться', decor: 'background', arrow: 'arrow', type: 'submit', height: 'large'})
      .form-check-in__have-an-account
        span.form-check-in__text Уже есть аккаунт на Toxin
        a.form-check-in__sign-in-button(href='../../pages/sign-in/sign-in.pug', target='_blank')
          +button({text: 'Войти', decor: 'border', type: 'submit', height: 'large'})