mixin checkIn(text)
    .checkIn-container
        span.checkIn-container__title= text
        .checkIn-container__user-data
            +base-input('', 'Имя', 'large', '', 'top', 'bottom')
            +base-input('', 'Фамилия', 'large', '', 'top', 'bottom')
            .checkIn-container__buttons
                +radio-button('Мужчина', 'checked')
                +radio-button('Женщина')
        +base-input('Дата рождения', 'ДД.ММ.ГГГГ', 'large', '', 'top', 'bottom')
        .checkIn-container__login-details
            +base-input('Данные для входа в сервис', 'Email', 'large', '', 'top', 'bottom')
            +base-input('', 'Пароль', 'large', '', 'top', 'bottom')
            +toggle('Получать спецпредложения')
        +base-button('Зарегистрироваться', 'large', 'large', 'background')
        .checkIn-container__have-an-account
            span.checkIn-container__text Уже есть аккаунт на Toxin
            +base-button('Войти', 'medium', 'large', 'border')