include ../../elements/input-date/input-date.pug
include ../../elements/radio-button/radio-button.pug
include ../../elements/toggle/toggle.pug

mixin form-check-in
  -
    const registrationButton = {
      text: 'Зарегистрироваться',
      type: 'solid',
      isDirected: true,
      size: 'large',
      href: '../../pages/landing/landing.pug'
    }

    const loginButton = {
      text: 'Войти',
      type: 'bordered',
      size: 'large',
      href: '../../pages/sign-in/sign-in.pug'
    }

  form.form-check-in
    span.form-check-in__title= 'Регистрация аккаунта'
    .form-check-in__user-data
      .form-check-in__group-inputs
        input.form-check-in__input(type='text', placeholder='Имя')
        input.form-check-in__input(type='text', placeholder='Фамилия')
      .form-check-in__buttons
        +radio-button({ text: 'Мужчина', checked: true, name: 'gender-for-form-check-in' })
        +radio-button({ text: 'Женщина', name: 'gender-for-form-check-in' })
    .form-check-in__date-of-birth
      span.form-check-in__input-title= 'Дата рождения'
      +input-date
    .form-check-in__login-details
      span.form-check-in__input-title= 'Данные для входа в сервис'
      .form-check-in__group-inputs
        input.form-check-in__input(type='email', placeholder='Email')
        input.form-check-in__input(type='password', placeholder='Пароль')
      .form-check-in__toggle
        +toggle({ text: 'Получать спецпредложения', name: 'receive-special-offers' })
    .form-check-in__check-in-details
      .form-check-in__check-in-button
        +button(registrationButton)
      .form-check-in__have-an-account
        span.form-check-in__text Уже есть аккаунт на Toxin
        .form-check-in__sign-in-button
          +button(loginButton)
