include ../../elements/radio-button/radio-button.pug
include ../../elements/toggle/toggle.pug

mixin checkIn(text)
	.checkIn
		span.checkIn__title= text
		.checkIn__user-data
			.checkIn__group-inputs
					+base-input('', '', 'Имя', '', 'top', 'bottom')
					+base-input('', '', 'Фамилия', '', 'top', 'bottom')
			.checkIn__buttons
				+radio-button('Мужчина', 'checked')
				+radio-button('Женщина')
		.checkIn__input-container
			+base-input('Дата рождения', 'padding', 'ДД.ММ.ГГГГ', '', 'top', 'bottom')
		.checkIn__login-details
			.checkIn__group-inputs-login
				.checkIn__input-container
					+base-input('Данные для входа в сервис', 'padding', 'Email', '', 'top', 'bottom')
				.checkIn__input-container
					+base-input('', '', 'Пароль', '', 'top', 'bottom')
			+toggle('Получать спецпредложения')
		.checkIn__checkIn-details
			+base-button('Зарегистрироваться', 'large', 'large', 'background', 'arrow')
			.checkIn__have-an-account
				span.checkIn__text Уже есть аккаунт на Toxin
				+base-button('Войти', 'medium', 'large', 'border')