.form-check-in {
  position: relative;
  z-index: 2;

  &__title {
    color: $DarkShade100;
    font-weight: bold;
    font-size: 24px;
  }

  &__user-data {
    margin-top: 20px;
  }

  &__input {
    @include input;
    width: 100%;
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 220px;
  }

  &__date-of-birth {
    margin-top: 22px;
  }

  &__input-title {
    display: inline-block;
    margin-bottom: 5px;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__login-details {
    margin-top: 18px;
  }

  &__check-in-details {
    margin-top: 25px;
  }

  &__check-in-button {
    margin-bottom: 30px;
  }

  &__have-an-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
  }

  &__sign-in-button {
    width: 99px;
  }
}
