.form-check-in {
  position: relative;
  z-index: 2;
  width: 100%;

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
    margin-top: 20px;
  }

  &__login-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    margin-top: 20px;
  }

  &__group-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 96px;

    &-login {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 115px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 220px;
    min-height: 25px;
    padding-top: 3px;
  }

  &__input {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 22px;

    &-container {
      width: 100%;
    }
  }

  &__datepicker {
    display: none;
    width: 320px;
    min-height: 369px;
    background: #fff;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $DarkShade05;
    border-radius: 4px;
    padding: 10px;
    padding-top: 10px;
    margin-top: 5.5px;
    margin-bottom: 5px;

    &_visible {
      display: block;
    }
  }

  &__text {
    display: inline-block;
    line-height: 25px;
    text-align: center;
    align-items: center;
    @media(min-width: 400px) {
      line-height: 39px;
      text-align: left;
    } 
  }

  &__check-in {

    &-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 117px;
      margin-top: 22px;
    }

    &-button {
      width: 100%;
      min-height: 44px;
      text-decoration: none;
    }
  }

  &__have-an-account {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
  }

  &__sign-in-button {
    width: 99px;
    min-height: 44px;
    text-decoration: none;
  }
}
