.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-left: 2px;
  }

  &__like-button {
    width: 40px;
    height: 20px;
  }

  &__paragraph {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $DarkShade75;
    width: 92%;
    margin: 0;
    margin-left: 10px;
  }
}