include ../../elements/advantages/advantages.pug
include ../../elements/like-button/like-button.pug

mixin review({title = 'Title', value = 'text', nameIcon = 'userIcon', text = 'text description'} = {})
  .review
    +advantages({title: title, value: value, nameIcon: nameIcon})
    .review__content
      .review__like-button
        +like-button({text: '12', checked: 'checked'})
      p.review__paragraph= text
