.review {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}
.review__content {
    display: flex;
    justify-content: space-around;
	width: 100%;
    margin-top: 5px;
}
.review__paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);

	padding-left: 15px;
    margin: 0;
}