include ../../elements/advantage/advantage.pug
include ../../elements/like-button/like-button.pug

mixin review({title = 'Title', value = 'text', srcImage, nameIcon = false, text = 'text description'} = {})
  .review
    +advantage({title: title, value: value, srcImage: srcImage, nameIcon: nameIcon})
    .review__content
      .review__like-button
        +like-button({text: '12', checked: 'checked'})
      p.review__paragraph= text
