.landing-container-wrapper {
    width: 1440px;
    background: url(landing/image/image-3.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.landing-content {
    position: relative;
    min-height: 830px;
    padding-top: 70px;
    padding-left: 140px;
}
.landing-content__datepicker {
    position: absolute;
    top: 260px;
    left: 171px;
}