body {
  margin: 0;
}
.landing {
  background-image: url('../../src/pages/landing/image/image-3.png');
  background-repeat: no-repeat;

  @media (width: 280px) {
    min-height: 1850px;
  }
  @media (width: 320px) {
    min-height: 1680px;
  }
  @media (width: 360px) {
    min-height: 1780px;
  }
  @media (width: 375px) {
    min-height: 2000px;
  }
  @media (width: 411px) {
    min-height: 1950px;
  }
  @media (width: 414px) {
    min-height: 1930px;
  }
  @media (width: 540px) {
    min-height: 1820px;
  }
  @media (width: 768px) {
    min-height: 2120px;
  }
  @media (width: 1024px) {
    min-height: 2450px;
  }
}
.landing__header {
  background-color: white;
  box-shadow: 0px 10px 20px $DarkShade05;
  
  min-width: 280px;
  min-height: 70px;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 720px) {
    min-width: 720px;
  }
  @media (min-width: 1160px) {
    min-width: 1160px;
  }
}
.landing__header-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;

  min-width: 280px;
  @media (min-width: 720px) {
    min-width: 720px;
    padding-top: 0;
  }
  @media (min-width: 1160px) {
    max-width: 1160px;
    height: 64px;
    flex-direction: row;
  }
}
.landing__container {
  min-width: 280px;
  max-width: 1440px;
  min-height: 765px;

  margin-left: auto;
  margin-right: auto;
}
.landing__content {
  position: relative;
  min-width: 280px;
  max-width: 1160px;
  min-height: 765px;
  padding-top: 70px;

  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
.landing__form-search-room {
  width: 280px;
  height: 375px;

  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media(min-width: 300px) {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @media(min-width: 480px) {
    width: 380px;
    padding-left: 27px;
    padding-right: 30px;
    margin-left: 8%;
    margin-right: auto;
  }
  @media(min-width: 1160px) {
    margin-left: 7.5%;
    margin-right: 0;
  }
  @media(min-width: 1180px) {
    margin-left: 7%;
  }
  @media(min-width: 1200px) {
    margin-left: 6%;
  }
  @media(min-width: 1220px) {
    margin-left: 4%;
  }
  @media(min-width: 1240px) {
    margin-left: 2%;
  }
  @media(min-width: 1260px) {
    margin-left: 0;
  }
}
.landing__text {
  position: absolute;

  width: 280px;

  right: 5px;
  bottom: -45px;

  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  text-align: right;
  
  color: $DarkShade75;

  margin: 0;
  @media(min-width: 320px) {
    margin-right: 20px;
    right: -5px;
  }
  @media(min-width: 1160px) {
    margin-right: 0px;
    
  }
}
.landing__footer {
  margin-top: 65px;
  @media(min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media(min-width: 1160px) {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}