extends ../base.pug

include ../../components/header/header.pug
include ../../components/form-search-room/form-search-room.pug

include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-button/social-button.pug
include ../../components/calendar/calendar.pug
include ../../components/date-dropdown/date-dropdown.pug

block meta
    meta(name='keywords', content='landing, toxin')
    meta(name='description', content='Landing page TOXIN')
block title 
    title Landing page
block content
  .landing
    .landing__wrapper
      .landing__header
        .landing__header-container
          +header()
      .landing__container
        .landing__content
          .landing__form-search-room
            -const landingDateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']
            - const toDate = new Date();
            - let fromDate = new Date();
            - fromDate.setDate(fromDate.getDate() + 3);
            - const toDateShort = toDate.toISOString().replace(/T.*/,'').split('-').reverse().join('.');
            - const fromDateShort = fromDate.toISOString().replace(/T.*/,'').split('-').reverse().join('.');
            - const landingUserDate = [toDateShort, fromDateShort]
            +form-search-room({text: 'Найдём номера под ваши пожелания', dateFormat: landingDateFormat, userDates: landingUserDate})
          p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      .landing__footer
        +footer()
      +copyright()