.landing {
  height: 830px;
  background-color: $Purple;
  background-image: url('../../src/pages/landing/image/landing.jpeg');
  background-position: bottom;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 135px 21px 140px;

    @media (max-width: 800px) {
      align-items: center;
      padding: 0 5px;
    }
  }

  &__form-search-room {
    width: 380px;
    min-height: 375px;
    padding: 40px 30px 30px 30px;

    @include card;

    @media (max-width: 450px) {
      width: 280px;
      min-height: 350px;
      padding: 20px 8px 10px 8px;
    }
  }

  &__slogan {
    align-self: flex-end;
    max-width: 300px;
    margin-top: 300px;

    @media (max-width: 800px) {
      align-self: center;
      padding: 0 10px;
    }
  }

  &__text {
    line-height: 24px;
    text-align: end;
  }
}
