extends ../base.pug

include ../../components/header/header.pug
include ../../components/form-search-room/form-search-room.pug

include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-btn/social-btn.pug
include ../../components/datepicker/datepicker.pug
include ../../components/datepicker-with-inputs/datepicker-with-inputs.pug

block meta
    meta(name='keywords', content='landing, toxin')
    meta(name='description', content='Landing page TOXIN')
block title 
    title Landing page
block content
  .landing
    .landing__header
      .landing__header-container
        +header()
    .landing__container
      .landing__content
        .landing__form-search-room
          -const landingDateFormat = ['19.08.2019', '23.08.2019']
          +form-search-room({text: 'Найдём номера под ваши пожелания', dateFormat: landingDateFormat})
        p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения
    .landing__footer
      +footer()
    +copyright()