extends ../base.pug

include ../../components/header-1/header-1.pug
include ../../components/form-search-room/form-search-room.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-btn/social-btn.pug
include ../../components/datepicker/datepicker.pug

block content
	.landing-container-wrapper
		+header1()
		.landing-content
			+searchRoom('Найдем номера под ваши пожелания')
			.landing-content__datepicker
				+datepicker()
			p.landing-content__text Лучшие номера для вашей работы, отдыха и просто вдохновения
		+footer()
		+copyright()