extends ../common/common.pug

include ../../components/header/header.pug
include ../../components/form-search-room/form-search-room.pug

include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-button/social-button.pug
include ../../components/calendar/calendar.pug
include ../../components/date-dropdown/date-dropdown.pug

block meta
  meta(name='keywords', content='landing, toxin')
  meta(name='description', content='Landing page TOXIN')
block title
  title Landing page
block content
  .landing
    .landing__content
      .landing__form-search-room
        +form-search-room({})
      .landing__slogan
        p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения
