mixin footer-small()
    .footer-small-container-wrapper
        .footer-small-container
            .footer-small-container__logo
                +logo()
                span.footer-small-container__logo-description
                    |Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                +social-btn()