mixin rate-button()
    ul.rating
        li.rating-item(class="active" data-rate="1")
        li.rating-item(data-rate="2")
        li.rating-item(data-rate="3")
        li.rating-item(data-rate="4")
        li.rating-item(data-rate="5")
