mixin rate-button()
    //- ul.rating
    //-     li.rating__item(class="active" data-rate="1")
    //-     li.rating__item(data-rate="2")
    //-     li.rating__item(data-rate="3")
    //-     li.rating__item(data-rate="4")
    //-     li.rating__item(data-rate="5")
