.sign-in {
  &__wrapper {
    background-image: url('../../src/pages/sign-in/images/image4.png');
    background-repeat: no-repeat;
    background-position: top;
  
    @media (width: 280px) {
      min-height: 1740px;
    }
    @media (width: 320px) {
      min-height: 1690px;
    }
    @media (width: 360px) {
      min-height: 1710px;
    }
    @media (width: 375px) {
      min-height: 1940px;
    }
    @media (width: 411px) {
      min-height: 1895px;
    }
    @media (width: 414px) {
      min-height: 1810px;
    }
    @media (width: 540px) {
      min-height: 1700px;
    }
    @media (width: 768px) {
      min-height: 1880px;
    }
    @media (width: 1024px) {
      min-height: 2230px;
    }
  }

  &__header {
    background-color: #fff;
    box-shadow: 0px 10px 20px $DarkShade05;
    min-width: 280px;
    min-height: 70px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 720px) {
      min-width: 720px;
    }
    @media (min-width: 1160px) {
      min-width: 1160px;
    }

    &-container {
      margin-left: 10px;
      margin-right: 10px;
      min-width: 280px;
      @media (min-width: 720px) {
        min-width: 720px;
      }
      @media (min-width: 1160px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1160px;
        min-height: 64px;
        flex-direction: row;
      }
    }
  }

  &__container {
    min-width: 280px;
    max-width: 1440px;
    min-height: 702px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 172px;
  }

  &__login {
    width: 280px;
    min-height: 357px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 40px;
    padding-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media(min-width: 320px) {
      width: 300px;
    }
    @media(min-width: 400px) {
      width: 380px;
    }
  }

  &__footer {
    margin-top: 60px;
    padding-bottom: 20px;
  }
}