extends ../base.pug

include ../../components/header-1/header-1.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-btn/social-btn.pug
include ../../components/login/login.pug

block content
	.sign-in-container-wrapper
		+header1()
		.sign-in-content
			.sign-in-content__login
				+login('Войти')
		+footer()
		+copyright()