extends ../base.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-btn/social-btn.pug
include ../../components/login/login.pug

block content
  .sign-in
    .sign-in__header
      .sign-in__header-container
        +header()
    .sign-in__container
      img.sign-in__image-background(src="images/image4.png")
      //- .sign-in__login
      .sign-in__login
        +login('Войти')
    +footer()
    +copyright()