.sign-in-container-wrapper {
    width: 1310px;
    min-height: 1092px;
    background: url(sign-in/images/image4.png);
	background-repeat: no-repeat;
	background-size: 1310px;
    margin-left: auto;
    margin-right: auto;
}
.sign-in-content {
	position: relative;
	width: 100%;
	min-height: 621px;
	display: flex;
	justify-content: center;
	align-items: center;
}