.sign-in-container-wrapper {
    min-width: 320px;
    max-width: 1440px;
	min-height: 685px;
    
    margin-left: auto;
    margin-right: auto;
}
.sign-in-content__image-background {
	position: absolute;
	top: 0;
    z-index: -1;
}
.sign-in-content {
	position: relative;
	width: 100%;
	min-height: 685px;
	display: flex;
	justify-content: center;
	align-items: center;
}