.resultSearchRoom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 380px;
    height: 511px;
    padding: 30px;
    padding-top: 40px;
    margin-top: 50px;

    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.resultSearchRoom-container__description {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding-bottom: 20px;
}
.resultSearchRoom-container__sign-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #1F2041;

    padding-right: 5px;
}
.resultSearchRoom-container__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #1F2041;
    padding-right: 5px;
}
.resultSearchRoom-container__kind {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #BC9CFF;
}
.resultSearchRoom-container__cost-room {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;

    color: rgba(31, 32, 65, 0.5);
}
.resultSearchRoom-container__cost-room-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    color: rgba(31, 32, 65, 0.5);
}
.resultSearchRoom-container__count-wrapper {
    width: 100%;
    height: 104px;
}
.resultSearchRoom-container__count {
    display: flex;
    justify-content: space-between;

    width: 100%;

    list-style: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: rgba(31, 32, 65, 0.75);

    padding: 0;
}
.resultSearchRoom-container__count-item {
    position: relative;
    max-width: 214px;
}
.resultSearchRoom-container__total {
    display: flex;
    justify-content: space-between;

    width: 100%;

    list-style: none;
    padding: 0;
}

.resultSearchRoom-container__total-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    color: #1F2041;
}
.resultSearchRoom-container__total-item_border {
    width: 180px;
    height: 18px;
    border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
}
.resultSearchRoom-container__count-item-sign::before {
    position: absolute;
    content: 'i';
    width: 20px;
    height: 20px;
    top:-2px;
    right: -25px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;

    text-align: center;

    color: rgba(31, 32, 65, 0.25);
}