mixin result-search-room(number, text, cost)
	.result-search-room
		.result-search-room__description
			.result-search-room__specification
				span.result-search-room__sign-number №
				span.result-search-room__number= number
				span.result-search-room__kind= text
			.result-search-room__cost
				span.result-search-room__cost-room= cost
					| &#x20bd
				span.result-search-room__cost-room-description в сутки
		.result-search-room__inputs
			.result-search-room__input-container
				+base-input('Прибытие', 'padding', '19.08.2019', 'arrow-down', 'top', 'bottom')
			.result-search-room__input-container
				+base-input('Выезд', 'padding', '23.08.2019', 'arrow-down', 'top', 'bottom')
			.result-search-room__input-container
				+base-input('Гости', 'padding', '3 гостя', 'arrow-down', 'top', 'bottom')
		.result-search-room__count-wrapper
			ul.result-search-room__count
				li.result-search-room__count-item 
					| 9 990&#x20bd
					| x 4 суток
				li.result-search-room__count-item 
					| 39 960&#x20bd
			ul.result-search-room__count
				li.result-search-room__count-item 
					| Сбор за услуги: скидка 2 179&#x20bd
					span.result-search-room__count-item-sign
				li.result-search-room__count-item 
					| 0&#x20bd
			ul.result-search-room__count
				li.result-search-room__count-item 
					| Сбор за дополнительные услуги
					span.result-search-room__count-item-sign
				li.result-search-room__count-item 
					| 300&#x20bd
		ul.result-search-room__total
			li.result-search-room__total-item Итого
			li.result-search-room__total-item.result-search-room__total-item_border
			li.result-search-room__total-item.result-search-room-__total-item_cost 38 081&#x20bd
		+base-button('Забронировать', 'large', 'large', 'background', 'arrow')