.result-search-room {
    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.result-search-room__description {
  display: flex;
  justify-content: space-between;

	width: 100%;
	margin-bottom: 20px;
}
.result-search-room__sign-number {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #1F2041;

    padding-right: 6px;
}
.result-search-room__number {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    color: #1F2041;
    padding-right: 6px;
}
.result-search-room__kind {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;

    text-transform: uppercase;

    color: #BC9CFF;
}
.result-search-room__cost-room {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;

	color: rgba(31, 32, 65, 0.5);
	
	margin-right: 3px;
}
.result-search-room__cost-room-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;

    color: rgba(31, 32, 65, 0.5);
}
.result-search-room__inputs {
	width: 100%;
	height: 145px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;

	margin-bottom: 20px;
}
.result-search-room__input-container {
    width: 47%;
}
.result-search-room__input-container:last-of-type {
    width: 100%;
}
.result-search-room__count-wrapper {
    width: 100%;
	height: 110px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 28px;
}
.result-search-room__count {
    display: flex;
    justify-content: space-between;

    width: 100%;

    list-style: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    color: rgba(31, 32, 65, 0.75);

	padding: 0;
	margin: 0;
}
.result-search-room__count-item {
    position: relative;
    max-width: 200px;
    @media(min-width: 380px) {
        max-width: 215px;
    }
}
.result-search-room__total {
    display: flex;
	justify-content: space-between;

	width: 100%;
	height: 21px;

    list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 22px;
}

.result-search-room__total-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    color: #1F2041;
}
.result-search-room__total-item_border {
    width: 120px;
    height: 18px;
    border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
    @media(min-width: 380px) {
        width: 160px;
    }
}
.result-search-room__total-item_cost {
	font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    color: #1F2041;
}
.result-search-room__count-item-sign::before {
    position: absolute;
    content: 'i';
    width: 18px;
    height: 18px;
    top: 0px;
    right: -15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;

    text-align: center;

    color: rgba(31, 32, 65, 0.25);
    @media(min-width: 380px) {
        right: -25px;
    }
}