mixin social-button()
  ul.social-button
    - const social = ['tw', 'fb', 'insta']
    each val in social
      li.social-button__item
        a.social-button__button
          case val
            when 'tw'
              img(src='../../components/social-button/images/twitter.svg', alt='', weight='19px', height='19px')
            when 'fb'
              img(src='../../components/social-button/images/facebook.svg', alt='', weight='20.5px', height='20.5px')
            when 'insta'
              img(src='../../components/social-button/images/instagram.svg', alt='', weight='20.5px', height='20.5px')