@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin size($width, $height, $top, $bottom) {
  max-width: $width;
  min-height: $height;
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin filter($size, $translate) {
  background-color: #fff;
  border: 2px solid $Purple;
  border-left: none;
  border-top-right-radius: $size;
  border-bottom-right-radius: $size;
  box-shadow: $primaryShadow;
  transform: translateX($translate);
  transition: all 0.5s ease-in-out;
}

.search-room {
  &__content {
    position: relative;
    display: flex;
    padding: 30px 20px 0 20px;

    @media (min-width: 1024px) {
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      width: 1160px;
      margin: 0 auto;
      padding: 30px 0 0 0;
    }
  }

  &__filter-button {
    position: absolute;
    top: 20px;
    left: 0;
    width: 40px;
    height: 40px;

    @include filter(10px, 0);

    @media (min-width: 1024px) {
      display: none;
    }

    &::after {
      @include fontMaterialIcons;
      position: absolute;
      top: 9px;
      left: 5px;
      font-size: 27px;
      background: $DarkShade50;
      -webkit-background-clip: text;
      content: 'swap_horiz';
      -webkit-text-fill-color: transparent;
    }

    &:hover,
    &:focus {
      cursor: pointer;

      &::after {
        background: $PrimaryGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_open {
      transform: translateX(280px);
    }
  }

  &__filter {
    @include flexColumn;
    position: absolute;
    top: 0;
    left: -280px;
    z-index: 1;
    width: 280px;
    padding: 10px;

    @include filter(5px, -280px);

    @media (min-width: 1024px) {
      position: static;
      min-width: 265px;
      margin: 1px 5.2% 0 0;
      padding: 0;
      border: none;
      box-shadow: none;
      transform: none;
    }

    &_open {
      transform: translateX(280px);

      @media (min-width: 1024px) {
        transform: none;
      }
    }

    &-inputs {
      @include flexColumn;
      @include size(none, 147px, none, 15px);
    }

    &-range-slider {
      @include flexColumn;
      @include size(none, 72px, 17px, none);

      &-description {
        color: $DarkShade50;
        font-size: 12px;
      }
    }

    &-checkbox-buttons {
      display: flex;
      flex-direction: column;

      @include size(230px, 135px, 29px, none);

      &-group {
        @include flexColumn;
        width: 100%;
        min-height: 102px;
      }
    }

    &-rich-checkbox {
      @include flexColumn;
      @include size(255px, 145px, 25px, none);

      &-group {
        @include flexColumn;
        min-height: 115px;
      }
    }

    &-item-title {
      margin-bottom: 15px;
      color: $DarkShade100;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }

    &-dropdown {
      margin-top: 30px;
    }

    &-options {
      @include size(265px, none, 15px, none);
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 70px;
  }

  &__result-title {
    margin: 0 auto 22px auto;
    margin-left: 20px;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    @media (min-width: 400px) {
      margin-left: 30px;
    }

    @media (min-width: 1024px) {
      margin-left: 0;
      font-size: 24px;
    }
  }

  &__result-cards-numbers {
    display: grid;
    grid-column-gap: 1.5%;
    grid-template-columns: 1fr;

    @media (min-width: 540px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__card-number {
    margin-bottom: 20px;
  }

  &__result-pagination {
    display: flex;
    justify-content: center;
    margin-top: 22px;
  }
}
