extends ../common/common.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../elements/slider/slider.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/checkbox-list/checkbox-list.pug
include ../../components/room-card/room-card.pug
include ../../elements/pagination/pagination.pug

block meta
  meta(name='keywords', content='search room, toxin')
  meta(name='description', content='Search room page TOXIN')
block title
  title Search room page
block content
  -
    const rooms = [
      {
        number: '888',
        level: 'люкс',
        cost: '9 990',
        amountReviews: '145',
        images: [
          './images/room-888.jpeg',
          './images/room-350.jpeg',
          './images/room-352.jpeg',
          './images/room-444.jpeg',
        ],
        amountActiveStar: '5',
      },
      {
        number: '840',
        cost: '9 990',
        amountReviews: '65',
        images: [
          './images/room-350.jpeg',
          './images/room-352.jpeg',
          './images/room-444.jpeg',
          './images/room-450.jpeg',
        ],
        amountActiveStar: '4',
      },
      {
        number: '980',
        level: 'люкс',
        cost: '8 500',
        amountReviews: '35',
        images: [
          './images/room-352.jpeg',
          './images/room-444.jpeg',
          './images/room-450.jpeg',
          './images/room-666.jpeg',
        ],
        amountActiveStar: '3',
      },
      {
        number: '856',
        cost: '7 300',
        amountReviews: '19',
        images: [
          './images/room-444.jpeg',
          './images/room-450.jpeg',
          './images/room-666.jpeg',
          './images/room-678.jpeg',
        ],
        amountActiveStar: '5',
      },
      {
        number: '740',
        cost: '6 000',
        amountReviews: '44',
        images: [
          './images/room-450.jpeg',
          './images/room-666.jpeg',
          './images/room-678.jpeg',
          './images/room-740.jpeg',
        ],
        amountActiveStar: '4',
      },
      {
        number: '982',
        cost: '5 800',
        amountReviews: '56',
        images: [
          './images/room-666.jpeg',
          './images/room-678.jpeg',
          './images/room-740.jpeg',
          './images/room-840.jpeg',
        ],
        amountActiveStar: '3',
      },
      {
        number: '678',
        cost: '5 500',
        amountReviews: '45',
        images: [
          './images/room-678.jpeg',
          './images/room-740.jpeg',
          './images/room-840.jpeg',
          './images/room-856.jpeg',
        ],
        amountActiveStar: '5',
      },
      {
        number: '450',
        cost: '5 300',
        amountReviews: '39',
        images: [
          './images/room-740.jpeg',
          './images/room-840.jpeg',
          './images/room-856.jpeg',
          './images/room-980.jpeg',
        ],
        amountActiveStar: '4',
      },
      {
        number: '350',
        cost: '5 000',
        amountReviews: '77',
        images: [
          './images/room-840.jpeg',
          './images/room-856.jpeg',
          './images/room-980.jpeg',
          './images/room-982.jpeg',
        ],
        amountActiveStar: '3',
      },
      {
        number: '666',
        cost: '5 000',
        amountReviews: '25',
        images: [
          './images/room-856.jpeg',
          './images/room-980.jpeg',
          './images/room-982.jpeg',
          './images/room-888.jpeg',
        ],
        amountActiveStar: '5',
      },
      {
        number: '444',
        cost: '5 000',
        amountReviews: '15',
        images: [
          './images/room-980.jpeg',
          './images/room-982.jpeg',
          './images/room-888.jpeg',
          './images/room-350.jpeg',
        ],
        amountActiveStar: '4',
      },
      {
        number: '352',
        cost: '5 000',
        amountReviews: '55',
        images: [
          './images/room-982.jpeg',
          './images/room-888.jpeg',
          './images/room-350.jpeg',
          './images/room-352.jpeg',
        ],
        amountActiveStar: '3',
      },
    ];

  -
    const checkboxList = [
      { value: 'Завтрак' },
      { value: 'Письменный стол', checked: 'checked' },
      { value: 'Стул для кормления', checked: 'checked' },
      { value: 'Кроватка', checked: 'checked' },
      { value: 'Телевизор' },
      { value: 'Шампунь' },
      { value: 'Телевизор' },
      { value: 'Шампунь' },
    ];

  -
    const dateDropdownData = {
      labelArray: ['Даты пребывания в отеле'],
      datesFormat: ['ДД.ММ - ДД.ММ'],
      size: 'large',
      amountField: 'with-one-input'
    };

  -
    const dataForDropdownFirst = [
      { subjectOfCalculation: 'Взрослые', count: '3' },
      { subjectOfCalculation: 'Дети', count: '0' },
      { subjectOfCalculation: 'Младенцы', count: '1' },
    ];

  -
    const dataForDropdownSecond = [
      { subjectOfCalculation: 'Спальни', count: '2' },
      { subjectOfCalculation: 'Кровати', count: '2' },
      { subjectOfCalculation: 'Ванные комнаты', count: '0' },
    ];

  -
    const dropdownGuests = {
      label: 'Гости',
      placeholder: '3 гостя, 1 младенец',
      isButtonsHidden: true,
      dropdownRows: dataForDropdownFirst,
      wordsForm: `{ "0": ["гость", "гостя", "гостей"], "1": ["младенец", "младенца", "младенцев"] }`
    };

  -
    const dropdownConveniences = {
      label: 'Удобства номера',
      placeholder: '2 спальни, 2 кровати...',
      isButtonsHidden: true,
      dropdownRows: dataForDropdownSecond,
      wordsForm: `{ "0": ["спальня", "спальни", "спален"], "1": ["кровать", "кровати", "кроватей"], "2": ["ванная комната", "ванные комнаты", "ванных комнат"] }`
    };

  -
    const checkboxHallway = {
      value: 'Широкий коридор',
      isBoldText: true,
      description: 'Ширина коридоров в номере не менее 91 см.'
    };

  -
    const checkboxForInvalid = {
      value: 'Помощник для инвалидов',
      isBoldText: true,
      description: 'На 1 этаже вас встретит специалист и проводит до номера.'
    };

  .search-room__content
    .search-room__filter-button.js-search-room__filter-button
    .search-room__filter.js-search-room__filter
      .search-room__filter-inputs
        +date-dropdown(dateDropdownData)
        .search-room__filter-input
          +dropdown(dropdownGuests)
      .search-room__filter-range-slider
        +slider({ text: 'Диапазон цены' })
        span.search-room__filter-range-slider-description Стоимость за сутки пребывания в номере
      .search-room__filter-checkbox-buttons
        label.search-room__filter-item-title Правила дома
        .search-room__filter-checkbox-buttons-group
          +checkbox-button({ value: 'Можно курить' })
          +checkbox-button({ value: 'Можно с питомцами', checked: 'checked' })
          +checkbox-button({ value: 'Можно пригласить гостей (до 10 человек)', checked: 'checked' })
      .search-room__filter-rich-checkbox
        label.search-room__filter-item-title Доступность
        .search-room__filter-rich-checkbox-group
          +checkbox-button(checkboxHallway)
          +checkbox-button(checkboxForInvalid)
      .search-room__filter-dropdown
        +dropdown(dropdownConveniences)
      .search-room__filter-options
        +checkbox-list({ title: 'Дополнительные удобства', checkboxList })
    .search-room__result
      label.search-room__result-title Номера, которые мы для вас подобрали
      .search-room__result-cards-numbers
        each room in rooms
          .search-room__card-number
            +room-card(room)
      .search-room__result-pagination
        +pagination({ text: '1 – 12 из 100+ вариантов аренды' })
