extends ../base.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/dropdown/dropdown.pug
include ../../elements/base-input/base-input.pug
include ../../elements/range-slider/range-slider.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/checkbox-list/checkbox-list.pug
include ../../components/number-card/number-card.pug
include ../../elements/pagination/pagination.pug

block meta
    meta(name="keywords", content="search room, toxin")
    meta(name="description", content="Search room page TOXIN")
block title
    title Search room page
block content
  .search-room
    .search-room__header
      .search-room__header-container
        +header()
    .search-room__content
      .search-room__filter-access
        h1.search-room__filter-access-title Дополнительные параметры
      .search-room__filter
        .search-room__filter-inputs
          .search-room__filter-input
            +base-input('Даты пребывания в отеле', '19 авг - 23 авг', 'arrow-down', 'top', 'bottom')
          .search-room__filter-input
            +base-input('Гости', '3 гостя, 1 младенец', 'arrow-down', 'top', 'bottom')
        .search-room__filter-range-slider
          +range-slider('Диапазон цены')
          span.search-room__filter-range-slider-description Стоимость за сутки пребывания в номере
        .search-room__filter-checkbox-buttons
          h1.search-room__filter-checkbox-buttons-title Chechbox buttons
          .search-room__filter-checkbox-buttons-group
            +checkbox-button('Можно курить')
            +checkbox-button('Можно с питомцами', 'checked')
            +checkbox-button('Можно пригласить гостей (до 10 человек)', 'checked')
        .search-room__filter-rich-checkbox
          h1.search-room__filter-item-title Доступность
          +checkbox-button('Широкий коридор', '', 'bold', 'Ширина коридоров в номере не менее 91 см.')
          +checkbox-button('Помощник для инвалидов', '', 'bold', 'На 1 этаже вас встретит специалист и проводит до номера.')
        .search-room__filter-dropdown
          +dropdown('Удобства номера', '2 спальни, 2 кровати...', 'hidden')
            +dropdown-row('Спальни', '2')
            +dropdown-row('Кровати', '1')
            +dropdown-row('Ванные комнаты', '0')
        .search-room__filter-options
          +checkbox-list('Дополнительные удобства')
            +checkbox-button('Завтрак')
            +checkbox-button('Письменный стол', 'checked')
            +checkbox-button('Стул для кормления', 'checked')
            +checkbox-button('Кроватка', 'checked')
            +checkbox-button('Телевизор')
            +checkbox-button('Шампунь')
            +checkbox-button('Телевизор')
            +checkbox-button('Шампунь')
      .search-room__result
        h1.search-room__result-title Номера, которые мы для вас подобрали
        .search-room__result-cards-numbers
          .search-room__card-number
            +number-card('888', 'люкс', '9 990', '145', 'border')
          .search-room__card-number
            +number-card('840', '', '9 990', '65', 'border')
          .search-room__card-number
            +number-card('980', 'люкс', '8 500', '35', 'border')
          .search-room__card-number
            +number-card('856', '', '7 300', '19', 'border')
          .search-room__card-number
            +number-card('740', '', '6 000', '44', 'border')
          .search-room__card-number
            +number-card('982', '', '5 800', '56', 'border')
          .search-room__card-number
            +number-card('678', '', '5 500', '45', 'border')
          .search-room__card-number
            +number-card('450', '', '5 300', '39', 'border')
          .search-room__card-number
            +number-card('350', '', '5 000', '77', 'border')
          .search-room__card-number
            +number-card('666', '', '5 000', '25', 'border')
          .search-room__card-number
            +number-card('444', '', '5 000', '15', 'border')
          .search-room__card-number
            +number-card('352', '', '5 000', '55', 'border')
        .search-room__result-pagination
          +pagination('1 – 12 из 100+ вариантов аренды')
    .search-room__footer
      +footer('borderTop', 'marginTop')
    +copyright()