.search-room-container-wrapper {
    width: 1440px;
    height: 1360px;
    margin-left: auto;
    margin-right: auto;
}
.search-room-content {
	position: relative;
	display: flex;
	justify-content: space-between;

	width: 1055px;
    min-height: 1232px;
    padding-top: 27px;
    margin-left: auto;
    margin-right: auto;
}
.search-room-filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 248px;
	height: 675px;
}
.search-room-filter__group-inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 135px;
}
.search-room-filter__range-slider {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 67px;

	padding-left: 1px;
	padding-right: 5.5px;

	margin-top: 16px;
}
.search-room-filter__range-slider-description {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 10.95px;
	line-height: 14px;

	color: rgba(31, 32, 65, 0.5);
}
.search-room-filter__chechbox-buttons {
	display: flex;
    flex-wrap: wrap;

    max-width: 222px;
	min-height: 135px;

	margin-top: 9px;
}
.search-room-filter__rich-checkbox {
	display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 240px;
	min-height: 139px;
	margin-bottom: 16px;
}
.search-room-filter__dropdown {
	margin-bottom: 2px;
}
.search-room-filter__item-title {
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 10.9px;
    line-height: 11px;

    text-transform: uppercase;

    color: #1F2041;
}
.search-room-filter__chechbox-buttons-title {
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 10.9px;
    line-height: 11px;

    text-transform: uppercase;

	color: #1F2041;
	margin-bottom: 12px;
}
.search-room-result__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 21.1px;
	line-height: 21px;

	color: #1F2041;
	margin: 0;
	margin-top: 4px;

	width: 100%;
	margin-bottom: 21px;
}
.search-room-result {
	height: 1152px;
}
.search-room-result__cards-numbers {
	max-width: 758px;
	height: 1010px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-between;
	
}
.search-room-result__pagination {
	display: flex;
	justify-content: center;

	margin-top: 20px;
}