extends ../base.pug

include ../../components/header-1/header-1.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../elements/base-input/base-input.pug
include ../../elements/range-slider/range-slider.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/dropdown/dropdown.pug
include ../../elements/checkbox-list/checkbox-list.pug
include ../../components/number-card/number-card.pug
include ../../components/number-card-2/number-card-2.pug
include ../../elements/pagination/pagination.pug

block content
	.search-room-container-wrapper
		+header1()
		.search-room-content
			.search-room-filter
				.search-room-filter__group-inputs
					+base-input('Даты пребывания в отеле', 'padding', '19 авг - 23 авг', 'medium', 'arrow-down', 'top', 'bottom')
					+base-input('Гости', 'padding', '3 гостя, 1 младенец', 'medium', 'arrow-down', 'top', 'bottom')
				.search-room-filter__range-slider
					+range-slider('Диапазон цены')
					span.search-room-filter__range-slider-description Стоимость за сутки пребывания в номере
				.search-room-filter__chechbox-buttons
					h1.search-room-filter__chechbox-buttons-title Chechbox buttons
					+checkbox-button('Можно курить')
					+checkbox-button('Можно с питомцами', 'checked')
					+checkbox-button('Можно пригласить гостей (до 10 человек)', 'checked')
				.search-room-filter__rich-checkbox
					h1.search-room-filter__item-title Доступность
					+checkbox-button('Широкий коридор', '', 'bold', 'Ширина коридоров в номере не менее 91 см.')
					+checkbox-button('Помощник для инвалидов', '', 'bold', 'На 1 этаже вас встретит специалист и проводит до номера.')
				.search-room-filter__dropdown
					+dropdown('Удобства номера', 'padding', '2 спальни, 2 кровати...', 'medium')
				+checkbox-list('Дополнительные удобства')
			.search-room-result
				h1.search-room-result__title Номера, которые мы для вас подобрали
				.search-room-result__cards-numbers
					+numberCard('888', 'люкс', '9 990', '145', 'border')
					+numberCard2('840', '', '9 990', '65', 'border')
					+numberCard2('980', 'люкс', '8 500', '35', 'border')
					+numberCard2('856', '', '7 300', '19', 'border')
					+numberCard2('740', '', '6 000', '44', 'border')
					+numberCard2('982', '', '5 800', '56', 'border')
					+numberCard2('678', '', '5 500', '45', 'border')
					+numberCard2('450', '', '5 300', '39', 'border')
					+numberCard2('350', '', '5 000', '77', 'border')
					+numberCard2('666', '', '5 000', '25', 'border')
					+numberCard2('444', '', '5 000', '15', 'border')
					+numberCard2('352', '', '5 000', '55', 'border')
				.search-room-result__pagination
					+pagination('1 – 12 из 100+ вариантов аренды')
		+footer()
		+copyright()