extends ../base.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../elements/input/input.pug
include ../../elements/slider/slider.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/checkbox-list/checkbox-list.pug
include ../../components/number-card/number-card.pug
include ../../elements/pagination/pagination.pug

block meta
    meta(name='keywords', content='search room, toxin')
    meta(name='description', content='Search room page TOXIN')
block title
    title Search room page
block content
  .search-room
    .search-room__wrapper
      .search-room__header
        .search-room__header-container
          +header()
      .search-room__content
        .search-room__filter-access.js-search-room__filter-access
          h1.search-room__filter-access-title Дополнительные параметры
        .search-room__filter.js-search-room__filter
          .search-room__filter-inputs
            +date-dropdown({
              labelArray: ['Даты пребывания в отеле'],
              datesFormat: ['ДД.ММ - ДД.ММ'],
              size: 'large',
              amountField: 'with-one-input'})
            .search-room__filter-input
              - const dataForDropdownFirst = [{subjectOfCalculation: 'Взрослые', count: '3'}, {subjectOfCalculation: 'Дети', count: '0'}, {subjectOfCalculation: 'Младенцы', count: '1'}]
              +dropdown({
                label: 'Гости',
                placeholder: '3 гостя, 1 младенец',
                isButtonsHidden: true,
                dropdownFor: 'the-guests',
                dropdownRows: dataForDropdownFirst
              })
          .search-room__filter-range-slider
            +slider({text: 'Диапазон цены'})
            span.search-room__filter-range-slider-description Стоимость за сутки пребывания в номере
          .search-room__filter-checkbox-buttons
            h1.search-room__filter-checkbox-buttons-title Правила дома
            .search-room__filter-checkbox-buttons-group
              +checkbox-button({value: 'Можно курить'})
              +checkbox-button({value: 'Можно с питомцами', checked: 'checked'})
              +checkbox-button({value: 'Можно пригласить гостей (до 10 человек)', checked: 'checked'})
          .search-room__filter-rich-checkbox
            h1.search-room__filter-item-title Доступность
            .search-room__filter-rich-checkbox-wrapper
              +checkbox-button({
                      value: 'Широкий коридор',
                      isBoldText: true,
                      description: 'Ширина коридоров в номере не менее 91 см.'
                      })
              +checkbox-button({
                      value: 'Помощник для инвалидов',
                      isBoldText: true,
                      description: 'На 1 этаже вас встретит специалист и проводит до номера.'
                      })
          .search-room__filter-dropdown
            - const dataForDropdownSecond = [{subjectOfCalculation: 'Спальни', count: '2'}, {subjectOfCalculation: 'Кровати', count: '2'}, {subjectOfCalculation: 'Ванные комнаты', count: '0'}]
            +dropdown({
              label: 'Удобства номера',
              placeholder: '2 спальни, 2 кровати...',
              isButtonsHidden: true,
              dropdownFor: 'amenities',
              dropdownRows: dataForDropdownSecond
            })
          .search-room__filter-options
            +checkbox-list({text: 'Дополнительные удобства'})
              +checkbox-button({value: 'Завтрак'})
              +checkbox-button({value: 'Письменный стол', checked: 'checked'})
              +checkbox-button({value: 'Стул для кормления', checked: 'checked'})
              +checkbox-button({value: 'Кроватка', checked: 'checked'})
              +checkbox-button({value: 'Телевизор'})
              +checkbox-button({value: 'Шампунь'})
              +checkbox-button({value: 'Телевизор'})
              +checkbox-button({value: 'Шампунь'})
        .search-room__result
          h1.search-room__result-title Номера, которые мы для вас подобрали
          .search-room__result-cards-numbers
            .search-room__card-number
              +number-card({number: '888', text: 'люкс', cost: '9 990', amount: '145', images: ['../../components/number-card/images/image888.png', '../../components/number-card/images/image350.png', '../../components/number-card/images/image352.png', '../../components/number-card/images/image444.png'], amountStar: '5'})
            .search-room__card-number
              +number-card({number: '840', cost: '9 990', amount: '65', images: ['../../components/number-card/images/image350.png', '../../components/number-card/images/image352.png', '../../components/number-card/images/image444.png', '../../components/number-card/images/image450.png'], amountStar: '4'})
            .search-room__card-number
              +number-card({number: '980', text: 'люкс', cost: '8 500', amount: '35', images: ['../../components/number-card/images/image352.png', '../../components/number-card/images/image444.png', '../../components/number-card/images/image450.png', '../../components/number-card/images/image666.png'], amountStar: '3'})
            .search-room__card-number
              +number-card({number: '856', cost: '7 300', amount: '19', images: ['../../components/number-card/images/image444.png', '../../components/number-card/images/image450.png', '../../components/number-card/images/image666.png', '../../components/number-card/images/image678.png'], amountStar: '5'})
            .search-room__card-number
              +number-card({number: '740', cost: '6 000', amount: '44', images: ['../../components/number-card/images/image450.png', '../../components/number-card/images/image666.png', '../../components/number-card/images/image678.png', '../../components/number-card/images/image740.png'], amountStar: '4'})
            .search-room__card-number
              +number-card({number: '982', cost: '5 800', amount: '56', images: ['../../components/number-card/images/image666.png', '../../components/number-card/images/image678.png', '../../components/number-card/images/image740.png', '../../components/number-card/images/image840.png'], amountStar: '3'})
            .search-room__card-number
              +number-card({number: '678', cost: '5 500', amount: '45', images: ['../../components/number-card/images/image678.png', '../../components/number-card/images/image740.png', '../../components/number-card/images/image840.png', '../../components/number-card/images/image856.png'], amountStar: '5'})
            .search-room__card-number
              +number-card({number: '450', cost: '5 300', amount: '39', images: ['../../components/number-card/images/image740.png', '../../components/number-card/images/image840.png', '../../components/number-card/images/image856.png', '../../components/number-card/images/image980.png'], amountStar: '4'})
            .search-room__card-number
              +number-card({number: '350', cost: '5 000', amount: '77', images: ['../../components/number-card/images/image840.png', '../../components/number-card/images/image856.png', '../../components/number-card/images/image980.png', '../../components/number-card/images/image982.png'], amountStar: '3'})
            .search-room__card-number
              +number-card({number: '666', cost: '5 000', amount: '25', images: ['../../components/number-card/images/image856.png', '../../components/number-card/images/image980.png', '../../components/number-card/images/image982.png', '../../components/number-card/images/image888.png'], amountStar: '5'})
            .search-room__card-number
              +number-card({number: '444', cost: '5 000', amount: '15', images: ['../../components/number-card/images/image980.png', '../../components/number-card/images/image982.png', '../../components/number-card/images/image888.png', '../../components/number-card/images/image350.png'], amountStar: '4'})
            .search-room__card-number
              +number-card({number: '352', cost: '5 000', amount: '55', images: ['../../components/number-card/images/image982.png', '../../components/number-card/images/image888.png', '../../components/number-card/images/image350.png', '../../components/number-card/images/image352.png'], amountStar: '3'})
          .search-room__result-pagination
            +pagination({text: '1 – 12 из 100+ вариантов аренды'})
      .search-room__footer
        +footer()
      +copyright()