.datepicker-group {
  position: relative;
}
.datepicker-group__inputs {
  display: flex;
  justify-content: space-between;
}
.datepicker-group__input_large-width {
  width: 100%;
}
.datepicker-group__input_medium-width {
  width: 265px;
}
.datepicker-group__input_small-width {
  width: 150px;
}
.datepicker-group__datepicker {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 3;

  background: #FFFFFF;
  border: 1px solid $DarkShade25;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $DarkShade05;
  border-radius: 4px;
  padding: 10px;
  padding-top: 10px;

  margin-top: 5px;
  margin-bottom: 5px;
}
.datepicker-group__datepicker_visible {
  display: block;
}
