include ../../components/datepicker/datepicker.pug
include ../../elements/base-input/base-input.pug

mixin datepicker-with-inputs({labelArray = ['date dropdown', 'date dropdown'], dates = ['ДД.ММ.ГГГГ','ДД.ММ.ГГГГ'], size = 'large-width', amountField = 'two'} = {labelArray, dates, size, amountField})
  .datepicker-group
    .datepicker-group__inputs
      if (amountField === 'only')
        .datepicker-group__input(class=`datepicker-group__input_${size}`)
          +base-input({
            label: labelArray[0],
            placeholder: dates[0],
            arrow: 'arrow-down',
            borderRadiusTop: true,
            borderRadiusBottom: true,
            readonly: 'readonly',
            forDropdown: true,
            })
      else if (amountField === 'two')
        .datepicker-group__input(class=`datepicker-group__input_${size}`)
          +base-input({
            label: labelArray[0],
            placeholder: dates[0],
            arrow: 'arrow-down',
            borderRadiusTop: true,
            borderRadiusBottom: true,
            readonly: 'readonly',
            forDropdown: true,
          })
        .datepicker-group__input(class=`datepicker-group__input_${size}`)
          +base-input({
            label: labelArray[1],
            placeholder: dates[1],
            arrow: 'arrow-down',
            borderRadiusTop: true,
            borderRadiusBottom: true,
            readonly: 'readonly',
            forDropdown: true,
          })
    .datepicker-group__datepicker(class=`datepicker-group__datepicker_${amountField}`)
      +datepicker()