.date-dropdown {
  position: relative;

  &__inputs {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_width {

      &_large {
        width: 100%;
      }
  
      &_medium {
        width: 265px;
      }
  
      &_small {
        width: 48%;
        @media(min-width: 480px) {
          width: 150px;
        }
      }
    }
  }
  &__input-label {
    font-weight: bold;
    font-size: 12px;
    line-height: 14.63px;
    text-transform: uppercase;
    color: $DarkShade100;
  }
  &__input-wrapper {
    position: relative;
  }
  &__input-arrow-down {
    &:hover {
      & + .date-dropdown__input-content {
        border: 1px solid $DarkShade50;
        line-height: 24px;
      }
    }
    &::before {
      position: absolute;
      content: 'keyboard_arrow_down';
      width: 44px;
      height: 44px;
      right: 0;
      top: 0px;
      font-family: 'Material Icons', Arial, sans-serif;
      font-size: 22px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-transform: initial;
      color: $DarkShade50;
      cursor: pointer;
    }
  }
  &__input-content {
    min-height: 43px;
    width: 100%;
    background: #fff;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    line-height: 18px;
    padding-left: 12px;
    padding-right: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-overflow: ellipsis;

    &_opened {
      border: 1px solid $DarkShade50;
    }

    &:hover, :focus {
      outline-style: none;
      border: 1px solid $DarkShade50;
      line-height: 24px;
    }
    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      line-height: 18px;
      color: $DarkShade25;
    }
  }

  &__datepicker {
    min-width: 260px;
    display: none;
    position: absolute;
    z-index: 3;
    background: #fff;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $DarkShade05;
    border-radius: 4px;
    padding: 10px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__datepicker_visible {
    display: block;
  }
}
