.date-dropdown {
  position: relative;

  &__inputs {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_width {
      &_large {
        width: 100%;
      }

      &_small {
        width: 47%;
      }
    }
  }

  &__input-label {
    color: $DarkShade100;
    font-weight: bold;
    font-size: 12px;
    line-height: 14.63px;
    text-transform: uppercase;
  }

  &__input-content-wrapper {
    position: relative;
    margin-top: 4px;
  }

  &__input-content {
    @include input;
    width: 100%;
    padding: 7px 10px 10px 15px;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid $DarkShade50;
      outline: none;
    }

    &::placeholder {
      color: $DarkShade25;
      font-size: 14px;

      @media (max-width: 450px) {
        font-size: 12px;
      }
    }
  }

  &__input-arrow-down {
    &:hover,
    &:focus {
      & + .date-dropdown__input-content {
        line-height: 24px;
        border: 1px solid $DarkShade50;
      }
    }

    &::before {
      position: absolute;
      top: 12px;
      right: 22px;
      width: 6px;
      height: 6px;
      border-top: 2px solid $DarkShade50;
      border-right: 2px solid $DarkShade50;
      transform: translate(50%, 50%) rotate(135deg);
      cursor: pointer;
      content: '';
    }
  }

  &__datepicker {
    position: absolute;
    z-index: 3;
    display: none;
    min-width: 260px;
    margin: 7px 0 0 0;
    padding: 10px 10px 7px 10px;
    background: #fff;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    box-shadow: $primaryShadow;
  }

  &__datepicker_visible {
    display: block;
  }
}
