.number-card {
  position: relative;
  background: #fff;
  border-radius: 4px;
  box-shadow: $primaryShadow;

  &__slider {
    position: relative;
    width: 100%;

    &:hover {
      & .number-card__prev {
        &::after {
          position: absolute;
          top: 60px;
          left: 5px;
          color: #fff;
          font-size: 24px;
          font-family: 'Material Icons', Arial, sans-serif;
          line-height: 24px;
          cursor: pointer;
          content: 'keyboard_arrow_left';
        }

        &::before {
          position: absolute;
          top: 0;
          width: 42px;
          height: 152px;
          background-image: $BlackTransparent;
          border-top-left-radius: 4px;
          content: '';
        }
      }

      & .number-card__next {
        &::after {
          position: absolute;
          top: 60px;
          right: 5px;
          color: #fff;
          font-size: 24px;
          font-family: 'Material Icons', Arial, sans-serif;
          line-height: 24px;
          cursor: pointer;
          content: 'keyboard_arrow_right';
        }

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          width: 42px;
          height: 152px;
          background-image: $BlackTransparent;
          border-top-left-radius: 4px;
          transform: matrix(-1, 0, 0, 1, 0, 0);
          content: '';
        }
      }
    }

    &-dots {
      position: absolute;
      top: 48%;
      right: 15px;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    min-height: 152px;
    background-size: 245px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &_display_hidden {
      display: none;
    }
  }

  &__prev {
    width: 44px;
  }

  &__next {
    width: 44px;
  }

  &__switch-slider {
    position: relative;
    display: inline-block;
    width: 7px;
    min-height: 7px;
    margin-right: 3.3px;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      border: 1px solid #fff;
      border-radius: 50%;
      box-shadow: $cardShadow;
      content: '';
    }

    &-active {
      background-color: #fff;
    }
  }

  &__content {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 101px;
    padding-top: 5px;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;

    &-border {
      border-bottom: solid 1px $DarkShade10;
    }
  }

  &__specification {
    text-decoration: none;

    &-group {
      background-color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  &__sign-number {
    padding-right: 5px;
    color: $DarkShade100;
    font-weight: bold;
    line-height: 17px;
  }

  &__number {
    padding-right: 5px;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
  }

  &__kind {
    color: $Purple;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__cost {
    display: flex;
    align-items: center;

    &-room {
      padding-right: 5px;
      color: $DarkShade50;
      font-weight: bold;
      line-height: 18px;

      &-description {
        color: $DarkShade50;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__rate-group-button {
    display: flex;
    justify-content: space-between;
    width: 105px;
  }

  &__amount {
    display: flex;
    align-items: center;

    &-reviews {
      padding-right: 7px;
      color: $DarkShade50;
      font-weight: bold;
      line-height: 20px;

      &-description {
        color: $DarkShade50;
        line-height: 20px;
      }
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    right: 12px;
    display: flex;
    justify-content: space-between;
    width: 16.5%;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
