include ../../elements/rate-button/rate-button.pug

mixin numberCard(number, text, cost, amount)
  .numberCard
    .numberCard__slider
      - var images = new Array(4);
      each val, index in images
        .numberCard__content(class='numberCard__content_'+number)
      .numberCard__prev
      .numberCard__next
    .numberCard__slider-dots
      - var switches = new Array(4);
      each val, index in switches
        span.numberCard__switch-slider
    .numberCard__description
      .numberCard__data
        .numberCard__specification
          span.numberCard__sign-number №
          span.numberCard__number= number
          span.numberCard__kind= text
        .numberCard__cost
          span.numberCard__cost-room= cost
            | &#x20bd
          span.numberCard__cost-room-description в сутки
      .numberCard__data-border
      .numberCard__reviews
        .numberCard__rate-group-button
            +rate-button()
        .numberCard__amount
          span.numberCard__amount-reviews= amount
          span.numberCard__amount-reviews-description
            |  Отзывов