@import './variables.scss';

.slider {
  &::after {
    display: table;
    clear: both;
    content: '';
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__title {
    color: $DarkShade100;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  & .ui-widget.ui-widget-content {
    border: 1px solid $DarkShade25;
    border-radius: 3px;
    cursor: pointer;
  }

  & .ui-slider {
    height: 6px;

    & .ui-slider-handle {
      top: -6px;
      width: 16px;
      height: 16px;
      background: $SecondaryGradient;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;
    }

    & .ui-slider-range {
      min-height: 6px;
      background: $SecondaryGradient;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 108px;
  }

  &__left,
  &__right {
    display: flex;
  }

  &__left-price,
  &__right-price {
    max-width: 40px;
    padding: 0;
    color: $DarkShade50;
    font-size: 12px;
    font-family: inherit;
    text-align: right;
    border: none;
  }

  &__ruble-sign,
  &__sign {
    color: $DarkShade50;
    font-size: 12px;
  }
}
