@import './variables.scss';

.slider {
  & * {
    outline: none;
  }

  &::after {
    display: table;
    clear: both;
    content: '';
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__title {
    margin: 0;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 12px;
    line-height: 14.63px;
    text-transform: uppercase;
  }

  & .ui-widget.ui-widget-content {
    border: 1px solid $DarkShade25;
    border-radius: 3px;
    cursor: pointer;
  }

  & .ui-slider {
    position: relative;
    height: 6px;
    background: #fff;
    border: 1px solid $DarkShade25;
    border-radius: 3px;

    & .ui-slider-handle {
      position: absolute;
      top: -6px;
      z-index: 2;
      width: 16px;
      height: 16px;
      background: $SecondaryGradient;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s, border 0.4s;
    }

    & .ui-slider-range {
      position: absolute;
      z-index: 1;
      min-height: 5px;
      margin-top: -1px;
      background: $SecondaryGradient;
      border: 0;
      border-radius: 3px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 108px;
  }

  &__left {
    display: flex;

    &-price {
      max-width: 40px;
      padding: 0;
      color: $DarkShade50;
      font-size: 12px;
      font-family: inherit;
      line-height: 14.63px;
      text-align: right;
      text-transform: uppercase;
      background: #fff;
      border: none;
    }
  }

  &__right {
    display: flex;

    &-price {
      max-width: 40px;
      padding: 0;
      color: $DarkShade50;
      font-size: 12px;
      font-family: inherit;
      line-height: 14.63px;
      text-align: right;
      text-transform: uppercase;
      background: #fff;
      border: none;
    }
  }

  &__ruble-sign {
    margin: 0;
    padding: 0;
    color: $DarkShade50;
    font-size: 11px;
    line-height: 15px;
  }

  &__sign {
    color: $DarkShade50;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
  }
}
