mixin pagination({text = 'text description'} = {text})
  .pagination
    ul.pagination__list
      each val, index in ['1', '2', '3', '...', '15', '']
        li.pagination__item= val
    span.pagination__description=text