.pagination_list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;

    width: 240px;
}
.pagination_item {
    position: relative;
    display: inline-block;

    width: 40px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;

    text-align: center;

    color: rgba(31, 32, 65, 0.5);
}
.pagination_item:first-child {
    font-weight: bold;
    color: #FFFFFF;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}
.pagination_item:last-of-type {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
}
.pagination_item:last-of-type::before {
    content: "";

    position: absolute;
    top: 14px;
    right: 13px;

    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;

    transform: rotate(45deg);
}
.pagination_item:last-of-type::after {
    content: "";

    position: absolute;

    width: 15px;
    height: 2px;
    top: 19px;
    right: 13px;

    background-color: white;
}
.pagination_description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);

}