.pagination__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;

  width: 255px;
}
.pagination__item {
  position: relative;
  display: inline-block;

  width: 40px;
  height: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 40px;

  text-align: center;

  color: rgba(31, 32, 65, 0.5);
}
.pagination__item:first-child {
  width: 40px;
  font-weight: bold;
  color: #FFFFFF;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 50%;
}
.pagination__item:last-of-type {
  width: 40px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%;
}
.pagination__item:last-of-type::before {
  position: absolute;

  content: "arrow_forward";
  width: 24px;
  height: 24px;
  top: 6.5px;
  left: 6px;

  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-transform: initial;

  color: white;
}
.pagination__description {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: rgba(31, 32, 65, 0.75);
  margin-top: 5px;
  padding-left: 5px;
}