mixin pagination({ text = 'некоторые из 100+ вариантов аренды' } = {})
  .pagination
    ul.pagination__list
      each value in ['1', '2', '3', '...', '15', '']
        li.pagination__item= value
    span.pagination__description= text
