mixin bulleted-list({title= 'Заголовок', values = []} = {})
  .bulleted-list
    .bulleted-list__title= title
    ul.bulleted-list__content
      each value, index in values
        li.bulleted-list__item= value
