mixin bulleted-list({values = [{modifier: 'light-gray', text: 'Text', padding: 'increased-indent'}]} = {values})
  ul.bulleted-list
      each val, index in values
        li.bulleted-list__item(class=`bulleted-list__item_${values[index].modifier}`, class=`bulleted-list__item_with-${values[index].padding}`)= values[index].text