@import '../../pages/variables.scss';

.bulleted-list {
  &__title {
    @include h2();
    margin-bottom: 18px;
    padding-left: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 115px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    padding-left: 20px;
    line-height: 24px;

    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background: $DarkShade25;
      border-radius: 50%;
      content: '';
    }
  }
}
