.numberCard2-container {
    position: relative;
    width: 245px;
    height: 257px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}
.numberCard2-container__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 18px;
	padding-right: 17px;
	padding-top: 7px;
	padding-bottom: 13px;
    height: 101px;
}
.numberCard2-container__data-border {
    border-bottom: solid 1px rgba(31, 32, 65, 0.1);
}
.numberCard2-container__content {
	width: 100%;
	height: 137px;
}
.numberCard2-container__img{
	width: 245px;
	height: 137px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.numberCard2-container__data {
    display: flex;
    justify-content: space-between;

    width: 100%;
}
.numberCard2-container__sign-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #1F2041;

    padding-right: 5px;
}
.numberCard2-container__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #1F2041;
    padding-right: 5px;
}
.numberCard2-container__kind {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #BC9CFF;
}
.numberCard2-container__cost {
	display: flex;
	align-items: center;
}
.numberCard2-container__cost-room {
	display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

	color: rgba(31, 32, 65, 0.5);
	padding-top: 6px;
	padding-right: 5px;
}
.numberCard2-container__cost-room-description {
	display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

	color: rgba(31, 32, 65, 0.5);
	padding-top: 6px;
}
.numberCard2-container__reviews {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding-bottom: 0px;
}
.numberCard2-container__rate-group-button {
    display: flex;
    justify-content: space-between;

    width: 105px;
}
.numberCard2--container__amount {
	display: flex;
	align-items: center;
}
.numberCard2-container__amount-reviews {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

	color: rgba(31, 32, 65, 0.5);
	padding-top: 3px;
	padding-right: 5px;
}
.numberCard2-container__amount-reviews-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

	color: rgba(31, 32, 65, 0.5);
	padding-top: 3px;
}
.numberCard2-container__switch-slider {
    display: none;
}
.numberCard2-container__controls {
    position: absolute;
    right: 10px;
    top: 109px;
}
.numberCard2-container__switch-btn {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;

    margin-right: 3.3px; 
}
.numberCard2-container__switch-btn::after {
    display: block;
    position: absolute;
    content: " ";

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
#numberCard2-slide1:checked ~ .numberCard2-container__controls .numberCard2-container__switch-btn:nth-of-type(1),
#numberCard2-slide2:checked ~ .numberCard2-container__controls .numberCard2-container__switch-btn:nth-of-type(2),
#numberCard2-slide3:checked ~ .numberCard2-container__controls .numberCard2-container__switch-btn:nth-of-type(3),
#numberCard2-slide4:checked ~ .numberCard2-container__controls .numberCard2-container__switch-btn:nth-of-type(4) {
  background: white;
}