mixin numberCard2(number, text, cost, amount, border)
    .numberCard2-container
        input.numberCard2-container__switch-slider(type="radio", name="point-slider", id="slide1" checked)
        input.numberCard2-container__switch-slider(type="radio", name="point-slider", id="slide2")
        input.numberCard2-container__switch-slider(type="radio", name="point-slider", id="slide3")
        input.numberCard2-container__switch-slider(type="radio", name="point-slider", id="slide4")
        .numberCard2-container__content
            img.numberCard2-container__img(src="../../components/number-card-2/images/image.png", alt="")
        .numberCard2-container__description
            .numberCard2-container__data(class='numberCard-container__data_'+ border)
                .numberCard2-container__specification
                    span.numberCard2-container__sign-number №
                    span.numberCard2-container__number= number
                    span.numberCard2-container__kind= text
                .numberCard2-container__cost
                    span.numberCard2-container__cost-room= cost
                        | &#x20bd
                    span.numberCard2-container__cost-room-description в сутки
            .numberCard2-container__reviews
                .numberCard2-container__rate-group-button
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
                .numberCard2--container__amount
                    span.numberCard2-container__amount-reviews= amount
                    span.numberCard2-container__amount-reviews-description
                        |  Отзывов
        .numberCard2-container__controls
            label.numberCard2-container__switch-btn(for="slide1")
            label.numberCard2-container__switch-btn(for="slide2")
            label.numberCard2-container__switch-btn(for="slide3")
            label.numberCard2-container__switch-btn(for="slide4")