extends ../base.pug

include ../../elements/base-input/base-input.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/radio-button/radio-button.pug
include ../../elements/toggle/toggle.pug
include ../../elements/like-button/like-button.pug
include ../../elements/rate-button/rate-button.pug
include ../../elements/range-slider/range-slider.pug
include ../../elements/base-button/base-button.pug
include ../../elements/pagination/pagination.pug
include ../../elements/dropdown-row/dropdown-row.pug
include ../../elements/checkbox-list/checkbox-list.pug
include ../../elements/bulleted-list/bulleted-list.pug
include ../../elements/advantages/advantages.pug
include ../../components/review/review.pug
include ../../components/room-cost-form/room-cost-form.pug
include ../../components/form-search-room/form-search-room.pug
include ../../components/form-check-in/form-check-in.pug
include ../../components/login/login.pug
include ../../components/number-card/number-card.pug
include ../../components/datepicker/datepicker.pug
include ../../components/datepicker-with-inputs/datepicker-with-inputs.pug
include ../../elements/logo/logo.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-btn/social-btn.pug

block meta
    meta(name='keywords', content='демонстрационная страница компонентов, toxin, ui kit')
    meta(name='description', content='Демонстрационная страница компонентов используемых в TOXIN')
block title
    title Demo page
block content
    .columns
        .columns__item
            .inputs
                .inputs__item
                    +base-input({
                      label: 'Text field',
                      placeholder: 'Email',
                      borderRadiusTop: 'top',
                      borderRadiusBottom: 'bottom',
                    })
                .inputs__item
                    +dropdown({
                      label: 'Dropdown',
                      placeholder: 'Сколько гостей',
                      display: 'hidden',
                      readonly: 'readonly',
                    })
                        +dropdown-row({label: 'Взрослые', number: '0'})
                        +dropdown-row({label: 'Дети', number: '0'})
                        +dropdown-row({label: 'Младенцы', number: '0'})
                .inputs__item
                    .inputs__item-masked-field
                        +base-input({
                          label: 'Masked text field',
                          placeholder: 'ДД.ММ.ГГГГ',
                          borderRadiusTop: 'top',
                          borderRadiusBottom: 'bottom',
                        })
                .inputs__item
                    - const datesDropdown = ['ДД.ММ.ГГГГ', '19.08.2019']
                    - const dateDropdownLabels = ['Date dropdown', 'Date dropdown']
                    +datepicker-with-inputs({
                      labelArray: dateDropdownLabels,
                      dates: datesDropdown,
                      size: 'small-width',
                      amountField: 'two'
                    })
                .inputs__item.inputs__item_medium-width
                    - const filterDatesDropdown = ['19 авг - 23 авг']
                    - const filterDateDropdownLabel = ['Filter date dropdown']
                    +datepicker-with-inputs({
                      labelArray: filterDateDropdownLabel,
                      dates: filterDatesDropdown,
                      size: 'large-width',
                      amountField: 'only',
                    })
                .inputs__item.inputs__item_medium-width.inputs__item_for-email
                    +base-input({
                      label: 'Subscription text field',
                      placeholder: 'Email',
                      type: 'email',
                      arrow: 'arrow',
                      borderRadiusTop: 'top',
                      borderRadiusBottom: 'bottom',
                    })
        .columns__item
            .elements
              .elements__checkbox-buttons
                  h1.buttons-title Chechbox buttons
                  +checkbox-button({value: 'Можно курить'})
                  +checkbox-button({value: 'Можно с питомцами', checked: 'checked'})
                  +checkbox-button({value: 'Можно пригласить гостей (до 10 человек)', checked: 'checked'})
              .elements__radio-buttons
                  h1.buttons-title Radio buttons
                  .elements__radio-buttons__string
                      +radio-button({text: 'Мужчина', checked: 'checked', name: 'gender'})
                      +radio-button({text:'Женщина', name: 'gender'})
              .elements__toggle
                  h1.buttons-title Toggle
                  +toggle({text: 'Получать спецпредложения', checked: 'checked'})
                  +toggle({text: 'Получать спецпредложения'})
              .elements__like-button
                  h1.buttons-title Like button
                  .buttons-string
                    .elements__like-button-content
                      +like-button({text: '2'})
                    .elements__like-button-content
                      +like-button({text: '12', checked: 'checked'})
              .elements__rate-button
                h1.buttons-title Rate button
                .elements__rate-button-string
                    .elements__rate-button-group
                        +rate-button()
                    .elements__rate-button-group
                        +rate-button()
        .columns__item
          .elements
            .range-slider
                +range-slider({text: 'Range Slider'})
            .base-button
                h1.buttons-title Buttons
                .base-button__content.base-button__content_small
                  +base-button({text: 'Click Me', decor: 'background'})
                .base-button__content.base-button__content_small
                  +base-button({text: 'Click Me', decor: 'border'})
                .base-button__content.base-button__content_small
                  +base-button({text: 'Click Me', decor: 'noDecor'})
                .base-button__content.base-button__content_big
                  +base-button({text: 'Перейти к оплате', decor: 'background', arrow: 'arrow'})
            .pagination
                h1.buttons-title Pagination
                +pagination({text: '1 - 12 из 100+ вариантов аренды'})
    .columns
        .columns__item
            .dropdown-container
                +dropdown({
                  label: 'Удобства номера',
                  placeholder: '2 спальни, 2 кровати...',
                  display: 'hidden',
                  readonly: 'readonly',
                })
                  +dropdown-row({label: 'Спальни', number: '2'})
                  +dropdown-row({label: 'Кровати', number: '1'})
                  +dropdown-row({label: 'Ванные комнаты', number: '0'})
    .columns
        .columns__item
            .expandable-checkbox-list
                +checkbox-list({text: 'Expandable checkbox list'})
                  +checkbox-button({value: 'Завтрак'})
                  +checkbox-button({value: 'Письменный стол', checked: 'checked'})
                  +checkbox-button({value: 'Стул для кормления', checked: 'checked'})
                  +checkbox-button({value: 'Кроватка', checked: 'checked'})
                  +checkbox-button({value: 'Телевизор'})
                  +checkbox-button({value: 'Шампунь'})
                  +checkbox-button({value: 'Телевизор'})
                  +checkbox-button({value: 'Шампунь'})
        .columns__item
            .rich-checkbox-buttons
                h1.buttons-title Rich checkbox buttons
                +checkbox-button({
                  value: 'Широкий коридор',
                  weight: 'bold',
                  description: 'Ширина коридоров в номере не менее 91 см.'
                  })
                +checkbox-button({
                  value: 'Помощник для инвалидов',
                  weight: 'bold',
                  description: 'На 1 этаже вас встретит специалист и проводит до номера.'
                  })
        .columns__item
            .bullet-list
                h1.buttons-title Bullet list
                - const rules = [{modifier: 'light-gray', text: 'Нельзя с питомцами', padding: 'increased-indent'}, {modifier: 'light-gray', text: 'Без вечеринок и мероприятий', padding: 'increased-indent'}, {modifier: 'light-gray', text: 'Время прибытия — после 13:00, а выезд до 12:00', padding: 'increased-indent'}]
                +bulleted-list({values: rules})
    .columns
        .columns__item
            .elements
                .elements__advantages
                    .elements__advantages-item
                        +advantages({title: 'Комфорт', value: 'Шумопоглощающие стены', nameIcon: 'mood'})
                    .elements__advantages-item
                        +advantages({title: 'Удобство', value: 'Окна в каждой из спален', nameIcon: 'locationCity'})
        .columns__item
            .elements
                .elements__review
                    +review({
                      title: 'Мурад Сарафанов',
                      value: '5 дней назад',
                      nameIcon: 'Murad',
                      text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                      })
    .columns-content-wrapper
        .columns-content
            .columns-content__item
                .columns-content__search-room
                    -const searchRoomDateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']
                    +form-search-room({text: 'Найдём номера под ваши пожелания', dateFormat: searchRoomDateFormat})
                .columns-content__check-in
                    +check-in({text: 'Регистрация аккаунта'})
            .columns-content__item
                .columns-content__result-search-room
                    -const resultSearchRoomDateFormat = ['19.08.2019', '23.08.2019']
                    +room-cost-form({number: '888', text: 'люкс', cost: '9 990', dateFormat: resultSearchRoomDateFormat})
                .columns-content__login
                    +login({text: 'Вход'})
            .columns-content__item
                .columns-content__datepicker
                    +datepicker()
                .columns-content__number-card
                    +number-card({number: '888', text: 'люкс', cost: '9 990', amount: '145'})
                .columns-content__number-card
                    +number-card({number: '840', text: 'люкс', cost: '9 990', amount: '65'})
        .demo-header
            .demo-header__container
              +header()
        .demo-footer
            +footer()
            +copyright()
            