extends ../base.pug

include ../../elements/input/input.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/radio-button/radio-button.pug
include ../../elements/toggle/toggle.pug
include ../../elements/like-button/like-button.pug
include ../../elements/rating/rating.pug
include ../../elements/slider/slider.pug
include ../../elements/button/button.pug
include ../../elements/pagination/pagination.pug
include ../../elements/dropdown-row/dropdown-row.pug
include ../../elements/checkbox-list/checkbox-list.pug
include ../../elements/bulleted-list/bulleted-list.pug
include ../../elements/advantages/advantages.pug
include ../../components/review/review.pug
include ../../components/form-room-cost/form-room-cost.pug
include ../../components/form-search-room/form-search-room.pug
include ../../components/form-check-in/form-check-in.pug
include ../../components/login/login.pug
include ../../components/number-card/number-card.pug
include ../../components/calendar/calendar.pug
include ../../components/datepicker-group/datepicker-group.pug
include ../../elements/logo/logo.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-button/social-button.pug

block meta
    meta(name='keywords', content='демонстрационная страница компонентов, toxin, ui kit')
    meta(name='description', content='Демонстрационная страница компонентов используемых в TOXIN')
block title
    title Demo page
block content
    .components
      .components__wrapper
        .components__inputs
            .components__inputs-item
                +input({
                  label: 'Text field',
                  placeholder: 'Email',
                  hasBorderRadiusTop: true,
                  hasBorderRadiusBottom: true,
                })
            .components__inputs-item
                +dropdown({
                  label: 'Dropdown',
                  placeholder: 'Сколько гостей',
                  display: 'hidden',
                  readonly: 'readonly',
                  dropdownFor: 'the-guests'
                })
                    +dropdown-row({label: 'Взрослые', number: '0'})
                    +dropdown-row({label: 'Дети', number: '0'})
                    +dropdown-row({label: 'Младенцы', number: '0'})
            .components__inputs-item
                .components__inputs-item-masked-field.js-components__inputs-item-masked-field
                    +input({
                      label: 'Masked text field',
                      placeholder: 'ДД.ММ.ГГГГ',
                      hasBorderRadiusTop: true,
                      hasBorderRadiusBottom: true,
                    })
            .components__inputs-item
                - const datesDropdown = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']
                - const dateDropdownLabels = ['Date dropdown', 'Date dropdown']
                +datepicker-group({
                  labelArray: dateDropdownLabels,
                  dates: datesDropdown,
                  size: 'small',
                  amountField: 'two'
                })
            .components__inputs-item.components__inputs-item_width_medium
                - const filterDatesDropdown = ['ДД.ММ - ДД.ММ']
                - const filterDateDropdownLabel = ['Filter date dropdown']
                +datepicker-group({
                  labelArray: filterDateDropdownLabel,
                  dates: filterDatesDropdown,
                  size: 'large',
                  amountField: 'only',
                })
            .components__inputs-item.components__inputs-item_width_medium.components__inputs-item_type_email
                    +input({
                      label: 'Subscription text field',
                      placeholder: 'Email',
                      type: 'email',
                      arrow: 'arrow',
                      hasBorderRadiusTop: true,
                      hasBorderRadiusBottom: true,
                    })
        .components__elements.components__elements_column_first
            .components__checkbox-buttons
                h1.buttons-title Chechbox buttons
                +checkbox-button({value: 'Можно курить'})
                +checkbox-button({value: 'Можно с питомцами', checked: 'checked'})
                +checkbox-button({value: 'Можно пригласить гостей (до 10 человек)', checked: 'checked'})
            .components__radio-buttons
                h1.buttons-title Radio buttons
                .components__radio-buttons-string
                    +radio-button({text: 'Мужчина', checked: 'checked', name: 'gender'})
                    +radio-button({text:'Женщина', name: 'gender'})
            .components__toggle
                h1.buttons-title Toggle
                +toggle({text: 'Получать спецпредложения', checked: 'checked'})
                +toggle({text: 'Получать спецпредложения'})
            .components__like-button
                h1.buttons-title Like button
                .components__like-button-string
                  .components__like-button-content
                    +like-button({text: '2'})
                  .components__like-button-content
                    +like-button({text: '12', checked: 'checked'})
            .components__rate-button
              h1.buttons-title Rate button
              .components__rate-button-string
                  .components__rate-button-group
                      +rating()
                  .components__rate-button-group
                      +rating()
        .components__elements.components__elements_column_last
            .components__range-slider
                +slider({text: 'Range Slider'})
            .components__base-button
                h1.buttons-title Buttons
                .components__base-button-content.components__base-button-content_small
                  +button({text: 'Click Me', decor: 'background'})
                .components__base-button-content.components__base-button-content_small
                  +button({text: 'Click Me', decor: 'border'})
                .components__base-button-content.components__base-button-content_small
                  +button({text: 'Click Me', decor: 'noDecor'})
                .components__base-button-content.components__base-button-content_big
                  +button({text: 'Перейти к оплате', decor: 'background', arrow: 'arrow'})
            .components__pagination
                h1.buttons-title Pagination
                +pagination({text: '1 - 12 из 100+ вариантов аренды'})
    .components
      .components__wrapper
        .components__dropdown
            +dropdown({
              label: 'Удобства номера',
              placeholder: '2 спальни, 2 кровати',
              display: 'hidden',
              readonly: 'readonly',
              dropdownFor: 'amenities'
            })
              +dropdown-row({label: 'Спальни', number: '2'})
              +dropdown-row({label: 'Кровати', number: '2'})
              +dropdown-row({label: 'Ванные комнаты', number: '0'})
    .components
      .components__wrapper
        .components__expandable-checkbox-list
            +checkbox-list({text: 'Expandable checkbox list'})
              +checkbox-button({value: 'Завтрак'})
              +checkbox-button({value: 'Письменный стол', checked: 'checked'})
              +checkbox-button({value: 'Стул для кормления', checked: 'checked'})
              +checkbox-button({value: 'Кроватка', checked: 'checked'})
              +checkbox-button({value: 'Телевизор'})
              +checkbox-button({value: 'Шампунь'})
              +checkbox-button({value: 'Телевизор'})
              +checkbox-button({value: 'Шампунь'})
        .components__rich-checkbox-buttons
            h1.buttons-title Rich checkbox buttons
            +checkbox-button({
              value: 'Широкий коридор',
              isBoldText: true,
              description: 'Ширина коридоров в номере не менее 91 см.'
              })
            +checkbox-button({
              value: 'Помощник для инвалидов',
              isBoldText: true,
              description: 'На 1 этаже вас встретит специалист и проводит до номера.'
              })
        .components__bullet-list
            h1.buttons-title Bullet list
            - const rules = [{modifier: 'light-gray', text: 'Нельзя с питомцами', padding: 'increased-indent'}, {modifier: 'light-gray', text: 'Без вечеринок и мероприятий', padding: 'increased-indent'}, {modifier: 'light-gray', text: 'Время прибытия — после 13:00, а выезд до 12:00', padding: 'increased-indent'}]
            +bulleted-list({values: rules})
    .components
      .components__wrapper
        .components__advantages
            .components__advantages-item
                +advantages({title: 'Комфорт', value: 'Шумопоглощающие стены', nameIcon: 'mood'})
            .components__advantages-item
                +advantages({title: 'Удобство', value: 'Окна в каждой из спален', nameIcon: 'locationCity'})
        .components__review
            +review({
              title: 'Мурад Сарафанов',
              value: '5 дней назад',
              nameIcon: 'Murad',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
              })
    .components-content-wrapper
        .components-content
          .components-content__wrapper
            .components-content__item
                .components-content__search-room
                    -const searchRoomDateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']
                    +form-search-room({text: 'Найдём номера под ваши пожелания', dateFormat: searchRoomDateFormat})
                .components-content__check-in
                    +form-check-in({text: 'Регистрация аккаунта'})
            .components-content__item
                .components-content__result-search-room
                    -const resultSearchRoomDateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']
                    +form-room-cost({number: '888', text: 'люкс', cost: '9 990', dateFormat: resultSearchRoomDateFormat})
                .components-content__login
                    +login({text: 'Вход'})
            .components-content__item
                .components-content__datepicker
                    +calendar()
                .components-content__number-card
                    +number-card({number: '888', text: 'люкс', cost: '9 990', amount: '145'})
                .components-content__number-card
                    +number-card({number: '840', text: 'люкс', cost: '9 990', amount: '65'})
        .components-header
          .components-header__wrapper
            .components-header__container
              +header()
        .components-footer
          .components-footer__wrapper
            +footer()
            +copyright()
            