extends ../base.pug

include ../../elements/text_field/text_field.pug
include ../../elements/dropdown/dropdown.pug
include ../../elements/masked_text_field/masked_text_field.pug
include ../../elements/date_dropdown/date_dropdown.pug
    
block content
    +text_field()
    +dropdown() 
    +masked_text_field() 
    +date_dropdown()
     