extends ../base.pug

include ../../elements/base-input/base-input.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/radio-button/radio-button.pug
include ../../elements/toggle/toggle.pug
include ../../elements/like-button/like-button.pug
include ../../elements/rate-button/rate-button.pug
include ../../elements/range-slider/range-slider.pug
include ../../elements/base-button/base-button.pug
include ../../elements/pagination/pagination.pug
include ../../elements/dropdown/dropdown.pug
include ../../elements/checkbox-list/checkbox-list.pug
include ../../elements/bullet-list/bullet-list.pug
include ../../elements/advantages/advantages.pug

block content
    .columns
        .columns__item
            .inputs-wrapper
                +base-input('Text field', 'Email', 'large', '', 'top', 'bottom')
                +base-input('Dropdown', 'Сколько гостей', 'large', 'arrow-down', 'top', 'bottom')
                +base-input('Masked text field', 'ДД.ММ.ГГГГ', 'large', '', 'top', 'bottom')
                +base-input('Date dropdown', 'ДД.ММ.ГГГГ', 'small', 'arrow-down', 'top', 'bottom')
                +base-input('Date dropdown', '19.08.2019', 'small', 'arrow-down', 'top', 'bottom')
                +base-input('Filter date dropdown', '19 авг - 23 авг', 'medium', 'arrow-down', 'top', 'bottom')
                +base-input('Subscription text field', 'Email', 'medium', 'arrow', 'top', 'bottom')
        .columns__item
            .chechbox-buttons-wrapper
                h1.buttons-title Chechbox buttons
                +checkbox-button('Можно курить')
                +checkbox-button('Можно с питомцами', 'checked')
                +checkbox-button('Можно пригласить гостей (до 10 человек)', 'checked')
            .radio-buttons-wrapper
                h1.buttons-title Radio buttons
                .buttons-string
                    +radio-button('Мужчина', 'checked')
                    +radio-button('Женщина')
            .toggle-wrapper
                h1.buttons-title Toggle
                +toggle('Получать спецпредложения', 'checked')
                +toggle('Получать спецпредложения')
            .like-button-wrapper
                h1.buttons-title Like button
                .buttons-string
                    +like-button('2')
                    +like-button('12', 'checked')
            .rate-button-wrapper
                h1.buttons-title Rate button
                .buttons-string
                    .rate-group-button
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button()
                    .rate-group-button
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
                        +rate-button('checked')
        .columns__item
            .range-slider-wrapper
                +range-slider('Range slider', '5000', '10000')
            .base-button-wrapper
                h1.buttons-title Buttons
                +base-button('Click Me', 'small', 'background')
                +base-button('Click Me', 'small', 'border')
                +base-button('Click Me', '', 'noDecor')
                +base-button('Перейти к оплате', 'large', 'background')
            .pagination-wrapper
                h1.buttons-title Pagination
                +pagination('1 - 12 из 100+ вариантов аренды')
    .columns
        .columns__item
            .dropdown
                +dropdown('Сколько гостей', 'large')
    .columns
        .columns__item
            .expandable-checkbox-list
                +checkbox-list('Expandable checkbox list')
        .columns__item
            .rich-checkbox-buttons
                h1.buttons-title Rich checkbox buttons
                +checkbox-button('Широкий коридор', '', 'bold', 'Ширина коридоров в номере не менее 91 см.')
                +checkbox-button('Помощник для инвалидов', '', 'bold', 'На 1 этаже вас встретит специалист и проводит до номера.')
        .columns__item
            .bullet-list-wrapper
                h1.buttons-title Bullet list
                +bullet-list('Нельзя с питомцами')
                +bullet-list('Без вечеринок и мероприятий')
                +bullet-list('Время прибытия - после 13:00, а выезд до 12:00')
    .columns
        .columns__item
            .advantages-wrapper
                +advantages('Комфорт', 'Шумопоглощающие стены', 'mood', 'line')