.columns {
  display: flex;
  justify-content: space-between;

  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.columns-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.columns-content__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  min-width: 260;
}
.footer {
  max-width: 100%;
  margin-top: 50px;
}
.columns-content-wrapper {
  position: relative;
  width: 100%;
  background-color: rgba(31, 32, 65, 0.05);
}
.columns__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  min-width: 260;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 320px;
  height: 500px;
}
.inputs__item {
  width: 320px;
}
.inputs__item_with-two-columns {
  display: flex;
  justify-content: space-between;
}
.inputs__item_medium-width {
  width: 265px;
}
.inputs__date-dropdown {
  width: 150px;
}
.checkbox-buttons {
  display: flex;
  flex-wrap: wrap;

  max-width: 222px;
  height: 130px;
}
.buttons-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: #1F2041;

  margin: 0;
}
.radio-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 220px;
  height: 51px;
}
.rate-button__string {
  display: flex;
  justify-content: space-between;
}
.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 260px;
  height: 85px;
}
.like-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 90px;
  height: 51px;
}
.like-button__content {
  width: 40px;
  height: 20px;
}
.rate-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  max-width: 260px;
  height: 55px;
}
.rate-button__group {
  display: flex;
  justify-content: space-between;

  width: 105px;
}
.range-slider {
  max-width: 266px;
  height: 45px;
}
.base-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 240px;
}
.base-button__content_small {
  width: 100px;
  height: 44px;
}
.base-button__content_big {
  width: 320px;
  height: 44px;
}
.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100px;
}
.dropdown {
  width: 265px;
}
.rich-checkbox-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 266px;
  height: 145px;
}
.bullet-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 291px;
  height: 147px;
}
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
}
.advantages__item {
  width: 291px;
  height: 68px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.columns-content__search-room {
  width: 300px;
  height: 375px;

  padding-top: 40px;
  padding-left: 27px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media(min-width: 480px) {
    width: 380px;
  }
}
.columns-content__check-in {
  display: flex;
  justify-content: center;

  width: 300px;
  height: 643px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  @media(min-width: 400px) {
    width: 380px;
  }
}
.columns-content__result-search-room {
  width: 96%;
  max-width: 380px;
  min-width: 310px;
  min-height: 510px;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 25px;
  padding-left: 7.9%;
  padding-right: 7.9%;
  padding-top: 7.8%;
  
  order: -1;
  @media(min-width: 400px) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
    padding-left: 28px;
    padding-right: 30px;
  }
  @media(min-width: 720px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    order: 0;
  }
  @media(min-width: 1000px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    min-width: 380px;
    max-height: 510px;
    margin-left: auto;
    margin-right: 2%;
    order: 0;
  }
}
.columns-content__login {
  width: 300px;
  height: 357px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 40px;
  padding-bottom: 33px;
  margin-top: 163px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media(min-width: 400px) {
    width: 380px;
  }
}
.columns-content__number-card {
  width: 270px;
  height: 258px;
  margin-bottom: 20px;
}
.columns-content__datepicker {
  width: 320px;
  height: 400px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 40px;
  padding-bottom: 33px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media(min-width: 400px) {
    width: 380px;
  }
}
.header {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  
  min-width: 320px;
  min-height: 70px;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 720px) {
    min-width: 720px;
  }
  @media (min-width: 1160px) {
    min-width: 1160px;
  }
}
.header__container {
  margin-left: auto;
  margin-right: auto;

  min-width: 300px;
  @media (min-width: 720px) {
    min-width: 720px;
  }
  @media (min-width: 1160px) {
    max-width: 1160px;
    height: 64px;
    flex-direction: row;
  }
}
.footer__container {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  padding-top: 30px;
  margin-top: 65px;
  @media (min-width: 1160px) {
    padding-top: 62px;
    padding-bottom: 60px;
  }
}