extends ../base.pug

include ../../elements/text_field/text_field.pug
include ../../elements/dropdown/dropdown.pug
include ../../elements/masked_text_field/masked_text_field.pug
include ../../elements/date_dropdown/date_dropdown.pug
include ../../elements/filter_date_dropdown/filter_date_dropdown.pug
include ../../elements/subscription_text_field/subscription_text_field.pug
include ../../elements/base_checkbox_button/base_checkbox_button.pug
include ../../elements/base_radio_button/base_radio_button.pug
include ../../elements/toggle/toggle.pug
include ../../elements/like_button/like_button.pug
include ../../elements/rate_button/rate_button.pug
include ../../elements/range_slider/range_slider.pug
include ../../elements/base_button/base_button.pug

block content
    .columns
        .column
            .inputs-wrapper
                +text_field('Text field', 'Email', 'large')
                +dropdown('Dropdown', 'Сколько гостей', 'large', 'arrow-down')
                +masked_text_field('Masked text field', 'ДД.ММ.ГГГГ', 'large')
                +date_dropdown('Date dropdown', 'ДД.ММ.ГГГГ', 'small', 'arrow-down')
                +date_dropdown('Date dropdown', '19.08.2019', 'small', 'arrow-down')
                +filter_date_dropdown('Filter date dropdown', '19 авг - 23 авг', 'medium', 'arrow-down')
                +subscription_text_field('Subscription text field', 'Email', 'medium', 'arrow')
        .column
            .chechbox_buttons-wrapper
                h1.buttons-title Chechbox buttons
                +base_checkbox_button('Можно курить')
                +base_checkbox_button('Можно с питомцами', 'checked')
                +base_checkbox_button('Можно пригласить гостей (до 10 человек)', 'checked')
            .radio_buttons-wrapper
                h1.buttons-title Radio buttons
                .buttons_string
                    +base_radio_button('Мужчина', 'checked')
                    +base_radio_button('Женщина')
            .toggle-wrapper
                h1.buttons-title Toggle
                +toggle('Получать спецпредложения', 'checked')
                +toggle('Получать спецпредложения')
            .like_button-wrapper
                h1.buttons-title Like button
                .buttons_string
                    +like_button('2')
                    +like_button('12', 'checked')
            .rate_button-wrapper
                h1.buttons-title Rate button
                .buttons_string
                    .rate_group_button
                        +rate_button('checked')
                        +rate_button('checked')
                        +rate_button('checked')
                        +rate_button('checked')
                        +rate_button()
                    .rate_group_button
                        +rate_button('checked')
                        +rate_button('checked')
                        +rate_button('checked')
                        +rate_button('checked')
                        +rate_button('checked')
        .column
            .range_slider-wrapper
                h1.buttons-title Range slider
                +range_slider('5000', '10000')
            .base_button-wrapper
                h1.buttons-title Buttons
                +base_button('Click Me', 'small', 'background')
                +base_button('Click Me', 'small', 'border')
                +base_button('Click Me', '', 'no-decor')
                +base_button('Перейти к оплате', 'large', 'background')