extends ../base.pug

include ../../elements/text_field/text_field.pug
include ../../elements/dropdown/dropdown.pug
include ../../elements/masked_text_field/masked_text_field.pug
include ../../elements/date_dropdown/date_dropdown.pug
include ../../elements/filter_date_dropdown/filter_date_dropdown.pug
include ../../elements/subscription_text_field/subscription_text_field.pug
include ../../elements/base_checkbox_button/base_checkbox_button.pug
    
block content
    .inputs
        +text_field('Text field', 'Email', 'large')
        +dropdown('Dropdown', 'Сколько гостей', 'large', 'arrow-down') 
        +masked_text_field('Masked text field', 'ДД.ММ.ГГГГ', 'large') 
        +date_dropdown('Date dropdown', 'ДД.ММ.ГГГГ', 'small', 'arrow-down')
        +date_dropdown('Date dropdown', '19.08.2019', 'small', 'arrow-down')
        +filter_date_dropdown('Filter date dropdown', '19 авг - 23 авг', 'medium', 'arrow-down')
        +subscription_text_field('Subscription text field', 'Email', 'medium', 'arrow')
    .chechbox_buttons
        h1.chechbox_buttons-title Chechbox buttons
        +base_checkbox_button('Можно курить')
        +base_checkbox_button('Можно с питомцами', 'checked')
        +base_checkbox_button('Можно пригласить гостей (до 10 человек)', 'checked')
