.columns {
    display: flex;
    justify-content: space-between;

    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.columns__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    min-width: 260;
}
.inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 320px;
    height: 500px;

}
.chechbox-buttons-wrapper {
display: flex;
flex-wrap: wrap;

max-width: 222px;
height: 130px;
}
.buttons-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #1F2041;

    margin: 0;
}
.radio-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 220px;
    height: 51px;
}
.buttons-string {
    display: flex;
    justify-content: space-between;
}
.toggle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 260px;
    height: 85px;
}
.like-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 90px;
    height: 51px;
}
.rate-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    max-width: 260px;
    height: 55px;
}
.rate-group-button {
    display: flex;
    justify-content: space-between;

    width: 105px;
}
.range-slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 266px;
    height: 45px;
}
.base-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 240px;
}
.pagination-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100px;
}
.rich-checkbox-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 266px;
    height: 145px;
}