.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 320px;
    height: 500px;

}
.chechbox_buttons {
display: flex;
flex-wrap: wrap;

max-width: 222px;
height: 130px;
}
.buttons-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #1F2041;

    margin: 0;
}