mixin rate_button(checked)
    .rate_button-container
        label.filter-rate_button
            input#rate_button.rate_button.visually-hidden(type='checkbox', name='rate_button', checked=checked || false)
            span.rate_button-indicator
