mixin range_slider(price1, price2)
    span.range_slider-text
            span= price1 
            | &#x20bd
            |-
            span= price2 
            | &#x20bd
    .range_slider-container
        button.range_slider(type="button")
        button.range_slider(type="button")