mixin range_slider(label, price1, price2)
    .range_slider-container
        label= label
        span= price1 - price2
        button.range_slider(type="button")
        button.range_slider(type="button")