mixin dropdown-string(value, number)
    .dropdown-string-container
        span.dropdown-string-container__value= value
        ul.dropdown-string-container__amount-counter
            li.dropdown-string-container__amount.dropdown-string-container__amount_sign -
            li.dropdown-string-container__amount= number
            li.dropdown-string-container__amount.dropdown-string-container__amount_sign +