include ../../elements/base-input/base-input.pug
include ../../elements/base-button/base-button.pug
include ../dropdown/dropdown.pug

mixin search-room(text)
  .search-room
    span.search-room__title= text
    .search-room__inputs
      .search-room__input-container
        +base-input('Прибытие', 'ДД.ММ.ГГГГ', 'arrow-down', 'top', 'bottom')
      .search-room__input-container
        +base-input('Выезд', 'ДД.ММ.ГГГГ', 'arrow-down', 'top', 'bottom')
      .search-room__datepicker
          +datepicker()
      .search-room__dropdown-container
        +dropdown('Гости', 'Сколько гостей')
          +dropdown-row('Взрослые', '2')
          +dropdown-row('Дети', '1')
          +dropdown-row('Младенцы', '0')
    .search-room__select-button
      +base-button('Подобрать номер', 'background', 'arrow')