.form-search-room {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 303px;

  &__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29.26px;
    color: $DarkShade100;
    text-align: left;
    padding-right: 20px;
    @media (min-width:480px) {
      font-size: 24px;
    }
  }

  &__wrapper {
    position: relative;
    min-height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__dropdown-container {
    width: 100%;
  }

  &__select-button {
    width: 100%;
    min-height: 44px;
    text-decoration: none;
  }
}