include ../../elements/button/button.pug
include ../dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug

mixin form-search-room(dateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'])
  -
    const rowsForDropdown = [
      { subjectOfCalculation: 'Взрослые', count: 0 },
      { subjectOfCalculation: 'Дети', count: 0 },
      { subjectOfCalculation: 'Младенцы', count: 0 },
    ];

    const labelInputs = ['Прибытие', 'Выезд'];

    const dateDropdown = {
      labelArray: labelInputs,
      dates: dateFormat, size: 'small',
      amountField: 'with-two-inputs',
      name: 'form-search-room-date-dropdown-input'
    };

    const dropdown = {
      label: 'Гости',
      placeholder: 'Сколько гостей',
      dropdownRows: rowsForDropdown,
      typeWordsForm: 'guests',
      name: 'form-search-room-dropdown'
    };

    const roomSelectionButton = {
      text: 'Подобрать номер',
      type: 'solid',
      isDirected: true,
      size: 'large',
      href: '../../pages/search-room/search-room.pug'
    };

  .form-search-room
    .form-search-room__wrapper
      span.form-search-room__title= 'Найдём номера под ваши пожелания'
      .form-search-room__dates
        +date-dropdown(dateDropdown)
      .form-search-room__dropdown
        +dropdown(dropdown)
    +button(roomSelectionButton)
