.searchRoom-container {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 345px;
    height: 340px;
    padding: 25px;
	padding-top: 36px;
	padding-left: 27px;
	padding-bottom: 27px;

    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.searchRoom-container__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
	font-size: 21.25px;
    line-height: 28px;

	color: #1F2041;
	margin-bottom: -11px;
}
.searchRoom-container__date-group {
    display: flex;
    justify-content: space-between;
	width: 100%;
	
	margin-bottom: -10px;
}