.form-search-room {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 303px;

  &__title {
    color: $DarkShade100;
    font-weight: bold;
    font-size: 22px;
    text-align: left;

    @media (min-width: 480px) {
      font-size: 24px;
    }
  }

  &__dates {
    margin-top: 23px;
  }

  &__dropdown {
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 227px;
  }
}
