mixin searchRoom(text)
    .searchRoom-container
        span.searchRoom-container__title= text
        +base-input('Прибытие', 'ДД.ММ.ГГГГ', 'small', 'arrow-down', 'top', 'bottom')
        +base-input('Выезд', 'ДД.ММ.ГГГГ', 'small', 'arrow-down', 'top', 'bottom')