include ../../elements/base-input/base-input.pug
include ../../elements/base-button/base-button.pug
include ../../elements/dropdown/dropdown.pug

mixin searchRoom(text)
    .searchRoom-container
        span.searchRoom-container__title= text
        .searchRoom-container__date-group
            +base-input('Прибытие', 'padding', 'ДД.ММ.ГГГГ', 'small', 'arrow-down', 'top', 'bottom')
            +base-input('Выезд', 'padding', 'ДД.ММ.ГГГГ', 'small', 'arrow-down', 'top', 'bottom')
        +dropdown('Гости', 'padding', 'Сколько гостей', 'parent-container')
        +base-button('Подобрать номер', 'parent-container', 'large', 'background', 'arrow')