include ../../elements/button/button.pug
include ../dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug

mixin form-search-room({text = 'Form name', dateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']} = {})
  .form-search-room
    div.form-search-room__wrapper
      span.form-search-room__title= text
      -const labelInputs = ['Прибытие', 'Выезд']
      +date-dropdown({labelArray: labelInputs, dates: dateFormat, size: 'small-long', amountField: 'with-two-inputs'})
      - const dataForDropdown = [{subjectOfCalculation: 'Взрослые', count: '0'}, {subjectOfCalculation: 'Дети', count: '0'}, {subjectOfCalculation: 'Младенцы', count: '0'}]
      +dropdown({
        label: 'Гости',
        placeholder: 'Сколько гостей',
        dropdownFor: 'the-guests',
        dropdownRows: dataForDropdown
        })
    +button({text: 'Подобрать номер', decor: 'solid', directed: true, size: 'large', href: '../../pages/search-room/search-room.pug'})