include ../../elements/base-input/base-input.pug
include ../../elements/base-button/base-button.pug
include ../dropdown/dropdown.pug
include ../../components/datepicker-with-inputs/datepicker-with-inputs.pug

mixin form-search-room({text = 'Form name', dateFormat = ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ']} = {text, dateFormat})
  .form-search-room
    span.form-search-room__title= text
    -const labelInputs = ['Прибытие', 'Выезд']
    +datepicker-with-inputs({labelArray: labelInputs, dates: dateFormat, size: 'small-width', amountField: 'two'})
    .form-search-room__dropdown-container
      +dropdown({
        label: 'Гости',
        display: 'visible',
        placeholder: 'Сколько гостей',
        readonly: 'readonly',
        dropdownFor: 'the-guests'
        })
        +dropdown-row({label: 'Взрослые', number: '2'})
        +dropdown-row({label: 'Дети', number: '1'})
        +dropdown-row({label: 'Младенцы', number: '0'})
    .form-search-room__select-button
      +base-button({text: 'Подобрать номер', decor: 'background', arrow: 'arrow'})