mixin base_checkbox_button(text, checked)
    .base_checkbox_button-container
        label
            input#base_checkbox_button.base_checkbox_button.visually-hidden(type='checkbox', name='base_checkbox_button', checked=checked || false)
            span.checkbox-indicator=text