mixin base_checkbox_button(placeholder, checked)
    .base_checkbox_button-container
        label
            input#base_checkbox_button.base_checkbox_button(type='checkbox', name='base_checkbox_button', placeholder=placeholder)
            span.checkbox-indicator=text