@mixin text() {
  margin: 0;
  color: $Purple;
  font-weight: bold;
  text-align: center;
}

@mixin itemIcon() {
  position: absolute;
  top: 25%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
}

.diagram {
  &__title {
    @include h2();
  }

  &__content {
    display: flex;
  }

  &__image {
    position: relative;
    width: 125px;
  }

  &__image-circle {
    fill: none;

    &_hide {
      display: none;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  &__number {
    @include text();
    font-size: 24px;
  }

  &__label {
    @include text();
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__list {
    margin: auto 0 5px 9%;
    list-style: none;

    @media (max-width: 340px) {
      margin-left: 10px;
    }
  }

  &__item {
    position: relative;
    padding-left: 15px;
    line-height: 24px;
    cursor: pointer;

    &_amazing::before {
      @include itemIcon();
      background: $YellowPink;
    }

    &_good::before {
      @include itemIcon();
      background: $SecondaryGradient;
    }

    &_satisfactorily::before {
      @include itemIcon();
      background: $PrimaryGradient;
    }

    &_bad::before {
      @include itemIcon();
      background: $VioletBlue;
    }
  }
}
