.diagram {
  display: flex;
}
.diagram__image {
  position: relative;
  width: 120px;
}
.diagram__text {
  position: absolute;
  top: 37px;
  width: 100%;
}
.diagram__number {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 21.8px;
  line-height: 29px;

  color: #BC9CFF;

  align-items: center;
  text-align: center;

  margin: 0;
}
.diagram__label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;

  text-align: center;
  text-transform: uppercase;

  color: #BC9CFF;
  margin: 0;
}
.diagram__list {
  margin-left: 9%;
  margin-top: auto;
}