mixin header-2()
    .header-container-wrapper
        .header-container
            .header-container__logo
                +logo()
            .header-2-container__navigation
                ul.header-container__list
                    each val, index in ['Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation']
                        li.header-container__item
                            a.header-container__link(href="")= val
                .header-2-container__user
                    a.header-2-container__link(href="")
                        |Cosmin Negoita
