mixin radio-button({ text = 'Значение для выбора', checked, name = 'radio-button' })
  .radio-button
    label.radio-button__filter
      input.radio-button__content(type='radio', name=`${ name }`, checked=checked)
      span.radio-button__indicator
      span.radio-button__description= text
