mixin radio-button(text, checked, name)
  .radio-button
    label.radio-button__filter
      input.radio-button__content.visually-hidden(type='radio', name='radio-button__content'+ name, checked=checked || false)
      span.radio-button__indicator
      span.radio-button__description=text