mixin subscription_text_field()
    ul.subscription_text_field-list
        li.subscription_text_field-item
            label Subscription text field
            input#subscription_text_field.subscription_text_field(type='text', name='subscription_text_field', placeholder='Email')