extends ../layout/layout.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-button/social-button.pug
include ../../components/form-check-in/form-check-in.pug
include ../../components/calendar/calendar.pug

block meta
    meta(name='keywords', content='registration, toxin')
    meta(name='description', content='Registration page TOXIN')
block title
    title Registration page
block content
    .registration__container
      .registration__check-in
        +form-check-in({text: 'Регистрация аккаунта'})