.registration {
  background-image: url('../../src/pages/registration/images/image4.1.png');
  background-repeat: no-repeat;

  @media (width: 280px) {
    min-height: 1730px;
  }
  @media (width: 320px) {
    min-height: 1680px;
  }
  @media (width: 360px) {
    min-height: 1700px;
  }
  @media (width: 375px) {
    min-height: 1880px;
  }
  @media (width: 411px) {
    min-height: 1885px;
  }
  @media (width: 414px) {
    min-height: 1800px;
  }
  @media (width: 540px) {
    min-height: 1695px;
  }
  @media (width: 768px) {
    min-height: 1910px;
  }
  @media (width: 1024px) {
    min-height: 2250px;
  }
  @media (width: 1366px) {
    min-height: 2220px;
  }
}
.registration__header {
  background-color: white;
  box-shadow: 0px 10px 20px $DarkShade05;
  
  min-width: 280px;
  min-height: 70px;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 720px) {
    min-width: 720px;
  }
  @media (min-width: 1160px) {
    min-width: 1160px;
  }
}
.registration__header-container {
  margin-left: auto;
  margin-right: auto;

  min-width: 280px;
  height: 70px;
  @media (min-width: 720px) {
    min-width: 720px;
  }
  @media (min-width: 1160px) {
    max-width: 1160px;
    height: 64px;
    flex-direction: row;
  }
}
.registration__container {
  min-width: 280px;
  max-width: 1440px;
  min-height: 670px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.registration__image-background {
  position: absolute;
  top: 0;
  z-index: -1;
}
.registration__check-in {
  display: flex;
  justify-content: center;

  width: 280px;
  height: 643px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  @media(min-width: 300px) {
    width: 300px;
  }
  @media(min-width: 400px) {
    width: 380px;
  }
}
.registration__footer {
  margin-top: 60px;
  @media(min-width: 768px) {
    padding-bottom: 30px;
  }
  @media(min-width: 1160px) {
    padding-bottom: 60px;
  }
}