extends ../base.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-btn/social-btn.pug
include ../../components/form-check-in/form-check-in.pug
include ../../components/datepicker/datepicker.pug

block meta
    meta(name='keywords', content='registration, toxin')
    meta(name='description', content='Registration page TOXIN')
block title
    title Registration page
block content
  .registration
    .registration__header
      .registration__header-container
        +header()
    .registration__container
      .registration__check-in
        +check-in({text: 'Регистрация аккаунта'})
    .registration__footer
      +footer()
    +copyright()