extends ../common/common.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/form-check-in/form-check-in.pug
include ../../components/calendar/calendar.pug

block meta
  meta(name='keywords', content='registration, toxin')
  meta(name='description', content='Registration page TOXIN')
block title
  title Registration page
block content
  .registration
    .registration__content
      .registration__check-in
        +form-check-in
