.registration {
  height: 684px;
  background-image: url('../../src/pages/registration/images/image4.jpeg');
  background-position: bottom;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 19px 0 0 5px;

    @media (max-width: 800px) {
      align-items: center;
      padding: 19px 5px 0 5px;
    }
  }

  &__check-in {
    width: 380px;
    min-height: 645px;
    margin: 0 auto;
    padding: 40px 28px 20px 30px;

    @include card;

    @media (max-width: 450px) {
      width: 280px;
      min-height: 645px;
      padding: 20px 8px 10px 8px;
    }
  }
}
