.registration-container-wrapper {
    min-width: 320px;
    max-width: 1440px;
	min-height: 670px;
	
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.registration-content__image-background {
	position: absolute;
	top: 0;
    z-index: -1;
}
.registration-content {
	position: relative;
	width: 100%;
	min-height: 670px;
	margin-left: auto;
	margin-right: auto;
	
}
.registration-content__checkIn {
	margin-top: 27px;

	display: flex;
	justify-content: center;
}