extends ../base.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/copyright/copyright.pug
include ../../components/social-btn/social-btn.pug
include ../../components/form-check-in/form-check-in.pug

block content
  .registration
    .registration__header
      .registration__header-container
        +header()
    .registration__container
      img.registration__image-background(src="images/image4.1.png")
      .registration__check-in
        +check-in('Регистрация аккаунта')
    .registration__footer
      +footer()
    +copyright()