mixin list()
  ul.list
    block
    //- li.diagram-list__item.diagram-list__item_sumptuously Великолепно
			//- li.diagram-list__item.diagram-list__item_good Хорошо
			//- li.diagram-list__item.diagram-list__item_satisfactorily Удовлетворительно
			//- li.diagram-list__item.diagram-list__item_disappointed Разочарован