mixin dropdown-row(value, number)
    .dropdown-row-container
        span.dropdown-row-container__value= value
        ul.dropdown-row-container__amount-counter
            li.dropdown-row-container__amount.dropdown-row-container__amount_sign -
            li.dropdown-row-container__amount= number
            li.dropdown-row-container__amount.dropdown-row-container__amount_sign +