.dropdown-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  color: $DarkShade100;

  &__amount {
    width: 30px;
    height: 30px;
    text-align: center;

    &-counter {
      display: flex;
      justify-content: space-between;
      width: 90px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &_with-sign {
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: $DarkShade50;
      border: 1px solid $DarkShade25;
      box-sizing: border-box;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}