mixin dropdown-row({label = 'text', number = '0'} = {label, number})
  .dropdown-row.js-dropdown-row
    span.dropdown-row__label= label
    ul.dropdown-row__amount-counter
      li.dropdown-row__amount.js-dropdown-row__amount.dropdown-row__amount_with-sign.js-dropdown-row__amount_with-sign -
      li.dropdown-row__amount.js-dropdown-row__amount.dropdown-row__amount_with-count.js-dropdown-row__amount_with-count= number
      li.dropdown-row__amount.js-dropdown-row__amount.dropdown-row__amount_with-sign.js-dropdown-row__amount_with-sign +