mixin dropdown-row(label, number)
  .dropdown-row
    span.dropdown-row__label= label
    ul.dropdown-row__amount-counter
      li.dropdown-row__amount.dropdown-row__amount_sign -
      li.dropdown-row__amount= number
      li.dropdown-row__amount.dropdown-row__amount_sign +