mixin dropdown-row({label, number} = {})
  .dropdown-row
    span.dropdown-row__label= label
    ul.dropdown-row__amount-counter
      li.dropdown-row__amount.dropdown-row__amount_with-sign -
      li.dropdown-row__amount.dropdown-row__amount_with-count= number
      li.dropdown-row__amount.dropdown-row__amount_with-sign +