mixin logo()
    .logo-container
        .logo-container__sign
            img(src="../../elements/logo/images/Vector.svg", alt="", width="38", height="38")
        .logo-container__text
            img(src="../../elements/logo/images/TOXIN.png", alt="")