.logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__sign {
    height: 40px;

    &::before {
      position: absolute;
      content: '';
    
      width: 11.76px;
      height: 11.76px;
    
      top: 14px;
      left: 9px;
    
      background-image: url('../elements/logo/images/Vector-1.svg');
    }
    &::after {
      position: absolute;
      content: '';
    
      width: 8px;
      height: 5.91px;
    
      top: 13px;
      left: 21px;
    
      background-image: url('../elements/logo/images/Vector-2.svg');
    }
  }
  &__text {
    padding-top: 15px;
    height: 36px;
  }
}
