.logo-container {
    position: relative;
    display: flex;
    justify-content: space-between;

	width: 106px;
	height: 40px;
}
.logo-container__sign {
	height: 40px;
}
.logo-container__sign::before {
    position: absolute;
    content: '';

    width: 11.76px;
    height: 11.76px;

    top: 14px;
    left: 9px;

    background-image: url('../elements/logo/images/Vector-1.svg');
}
.logo-container__sign::after {
    position: absolute;
    content: '';

    width: 8px;
    height: 5.91px;

    top: 13px;
    left: 21px;

    background-image: url('../elements/logo/images/Vector-2.svg');
}
.logo-container__text {
	padding-top: 15px;
	height: 36px;
}