mixin logo()
  form.logo(action='/../pages/landing/landing.html', target='_blank')
    button.logo__sign
      img(src='../../elements/logo/images/Vector.svg', alt='', width='40', height='40')
    button.logo__text
      img(src='../../elements/logo/images/TOXIN.jpeg', alt='')