mixin checkbox-list({ title = 'Expandable checkbox list', checkboxList } = {})
  .checkbox-list.js-checkbox-list
    .checkbox-list__title-wrapper.js-checkbox-list__title-wrapper
      span.checkbox-list__title= title
      span.checkbox-list__indicator.js-checkbox-list__indicator
    .checkbox-list__container.js-checkbox-list__container.checkbox-list__container_hidden
      .checkbox-list__content
        each checkbox in checkboxList
          +checkbox-button({ value: checkbox.value, checked: checkbox.checked })
