.checkbox-list {
  position: relative;
  cursor: pointer;
}
.checkbox-list__title {
  position: relative;
  display: flex;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 44px;

  text-transform: uppercase;

  color: #1F2041;
}
.checkbox-list__indicator {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 0;
  margin-left: auto;
}
.checkbox-list__indicator::before {
  position: absolute;

  content: "keyboard_arrow_down";

  top: 12px;
  left: 12px;

  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;

  text-transform: initial;

  color: rgba(31, 32, 65, 0.5);
}
.opened.checkbox-list__indicator::before {
  transform: rotate(180deg);
}
.checkbox-list__slide-toggle {
  position: absolute;

  width: 100%;
  z-index: 2;

  display: none;
}
.checkbox-list__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  min-height: 235px;
  margin-top: 5px;
  background-color: white;
}