mixin checkbox-list(text)
    .chechbox-list
        .chechbox-list__title
            span.chechbox-list__description= text
            span.chechbox-list__indicator
        .chechbox-list__slideToggle
            .checkbox-list-container
                +checkbox-button('Завтрак')
                +checkbox-button('Письменный стол', 'checked')
                +checkbox-button('Стул для кормления', 'checked')
                +checkbox-button('Кроватка', 'checked')
                +checkbox-button('Телевизор')
                +checkbox-button('Шампунь')
                +checkbox-button('Телевизор')
                +checkbox-button('Шампунь')