mixin checkbox-list({text} = {})
  .checkbox-list
    .checkbox-list__title
      span.checkbox-list__description= text
      span.checkbox-list__indicator
    .checkbox-list__toggle
      .checkbox-list__content
        block