.checkbox-list {
  position: relative;
  min-width: 266px;

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 12px;
    line-height: 44px;
    text-transform: uppercase;
  }

  &__title {
    cursor: pointer;
  }

  &__indicator {
    position: relative;
    width: 44px;
    height: 44px;

    &::before {
      position: absolute;
      top: 12px;
      left: 14px;
      width: 6px;
      height: 6px;
      border-top: 2px solid $DarkShade50;
      border-right: 2px solid $DarkShade50;
      transform: translate(50%, 50%) rotate(135deg);
      content: '';
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &_closed {
    & > .checkbox-list__container {
      display: none;
    }

    & > .checkbox-list__indicator {
      transform: rotate(180deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 235px;
    margin-top: 5px;
    background-color: #fff;
  }
}
