mixin checkbox-list()
    .checkbox-list-container
        +checkbox-button('Завтрак')
        +checkbox-button('Письменный стол', 'checked')
        +checkbox-button('Стул для кормления', 'checked')
        +checkbox-button('Кроватка', 'checked')
        +checkbox-button('Телевизор')
        +checkbox-button('Шампунь')
        +checkbox-button('Телевизор')
        +checkbox-button('Шампунь')