@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/Regular/Montserrat-Regular.svg') format('svg');
    src: url('../fonts/Montserrat/Regular/Montserrat-Regular.ttf') format('ttf');
    src: url('../fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat/Bold/Montserrat-Bold.svg') format('svg');
    src: url('../fonts/Montserrat/Bold/Montserrat-Bold.ttf') format('ttf');
    src: url('../fonts/Montserrat/Bold/Montserrat-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Quicksand/Regular/Quicksand-Regular.svg') format('svg');
    src: url('../fonts/Quicksand/Regular/Quicksand-Regular.ttf') format('ttf');
    src: url('../fonts/Quicksand/Regular/Quicksand-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.svg') format('svg');
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.ttf') format('ttf');
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Material_Icons/MaterialIcons-Regular.svg') format('svg');
    src: url('../fonts/Material_Icons/MaterialIcons-Regular.ttf') format('ttf');
    src: url('../fonts/Material_Icons/MaterialIcons-Regular.woff') format('woff');
}