@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/../src/fonts/montserrat/regular/montserrat-regular.svg') format('svg');
    src: url('/../src/fonts/montserrat/regular/montserrat-regular.ttf') format('ttf');
    src: url('/../src/fonts/montserrat/regular/montserrat-regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('/../src/fonts/montserrat/medium/montserrat-medium.svg') format('svg');
    src: url('/../src/fonts/montserrat/medium/montserrat-medium.ttf') format('ttf');
    src: url('/../src/fonts/montserrat/medium/montserrat-medium.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('/../src/fonts/montserrat/semi-bold/montserrat-semi-bold.svg') format('svg');
    src: url('/../src/fonts/montserrat/semi-bold/montserrat-semi-bold.ttf') format('ttf');
    src: url('/../src/fonts/montserrat/semi-bold/montserrat-semi-bold.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/../src/fonts/montserrat/bold/montserrat-bold.svg') format('svg');
    src: url('/../src/fonts/montserrat/bold/montserrat-bold.ttf') format('ttf');
    src: url('/../src/fonts/montserrat/bold/montserrat-bold.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('/../src/fonts/quicksand/regular/quicksand-regular.svg') format('svg');
    src: url('/../src/fonts/quicksand/regular/quicksand-regular.ttf') format('ttf');
    src: url('/../src/fonts/quicksand/regular/quicksand-regular.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('/../src/fonts/quicksand/medium/quicksand-medium.svg') format('svg');
    src: url('/../src/fonts/quicksand/medium/quicksand-medium.ttf') format('ttf');
    src: url('/../src/fonts/quicksand/medium/quicksand-medium.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('/../src/fonts/quicksand/semi-bold/quicksand-semi-bold.svg') format('svg');
    src: url('/../src/fonts/quicksand/semi-bold/quicksand-semi-bold.ttf') format('ttf');
    src: url('/../src/fonts/quicksand/semi-bold/quicksand-semi-bold.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('/../src/fonts/quicksand/bold/quicksand-bold.svg') format('svg');
    src: url('/../src/fonts/quicksand/bold/quicksand-bold.ttf') format('ttf');
    src: url('/../src/fonts/quicksand/bold/quicksand-bold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/../src/fonts/open-sans/regular/open-sans-regular.svg') format('svg');
    src: url('/../src/fonts/open-sans/regular/open-sans-regular.ttf') format('ttf');
    src: url('/../src/fonts/open-sans/regular/open-sans-regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    src: url('/../src/fonts/open-sans/bold/open-sans-bold.svg') format('svg');
    src: url('/../src/fonts/open-sans/bold/open-sans-bold.ttf') format('ttf');
    src: url('/../src/fonts/open-sans/bold/open-sans-bold.woff') format('woff');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/../src/fonts/material-icons/material-icons-regular.svg') format('svg');
    src: url('/../src/fonts/material-icons/material-icons-regular.ttf') format('ttf');
    src: url('/../src/fonts/material-icons/material-icons-regular.woff') format('woff');
}
@font-face { 
  font-family: 'rouble';
  src: url('/../src/fonts/sign-rouble/rouble.woff') format('woff');
  src: url('/../src/fonts/sign-rouble/rouble.woff2') format('woff2');
}