@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/Regular/Montserrat-Regular.svg') format('svg');
    src: url('../fonts/Montserrat/Regular/Montserrat-Regular.ttf') format('ttf');
    src: url('../fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat/Medium/Montserrat-Medium.svg') format('svg');
    src: url('../fonts/Montserrat/Medium/Montserrat-Medium.ttf') format('ttf');
    src: url('../fonts/Montserrat/Medium/Montserrat-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat/SemiBold/Montserrat-SemiBold.svg') format('svg');
    src: url('../fonts/Montserrat/SemiBold/Montserrat-SemiBold.ttf') format('ttf');
    src: url('../fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat/Bold/Montserrat-Bold.svg') format('svg');
    src: url('../fonts/Montserrat/Bold/Montserrat-Bold.ttf') format('ttf');
    src: url('../fonts/Montserrat/Bold/Montserrat-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Quicksand/Regular/Quicksand-Regular.svg') format('svg');
    src: url('../fonts/Quicksand/Regular/Quicksand-Regular.ttf') format('ttf');
    src: url('../fonts/Quicksand/Regular/Quicksand-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Quicksand/Medium/Quicksand-Medium.svg') format('svg');
    src: url('../fonts/Quicksand/Medium/Quicksand-Medium.ttf') format('ttf');
    src: url('../fonts/Quicksand/Medium/Quicksand-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.svg') format('svg');
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.ttf') format('ttf');
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.svg') format('svg');
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.ttf') format('ttf');
    src: url('../fonts/Quicksand/Bold/Quicksand-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans/Regular/OpenSans-Regular.svg') format('svg');
    src: url('../fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('ttf');
    src: url('../fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/OpenSans/Bold/OpenSans-Bold.svg') format('svg');
    src: url('../fonts/OpenSans/Bold/OpenSans-Bold.ttf') format('ttf');
    src: url('../fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Material_Icons/MaterialIcons-Regular.svg') format('svg');
    src: url('../fonts/Material_Icons/MaterialIcons-Regular.ttf') format('ttf');
    src: url('../fonts/Material_Icons/MaterialIcons-Regular.woff') format('woff');
}
@font-face { 
  font-family: "rouble";
  src: url('../fonts/sign_rouble/rouble.woff') format('woff');
  src: url('../fonts/sign_rouble/rouble.woff2') format('woff2');
}