.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__user-information {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  &__user-icon {
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  }
  &__user-information-content {
    padding-left: 10px;
  }
  &__user-name {
    font-weight: bold;
    line-height: 24px;
    margin: 0;
  }
  &__date {
    line-height: 24px;
  }
  &__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-left: 2px;
  }

  &__like-button {
    width: 40px;
    min-height: 20px;
  }

  &__paragraph {
    line-height: 24px;
    width: 92%;
    margin: 0;
    margin-left: 10px;
  }
}