.comment {
  color: $DarkShade75;
  line-height: 24px;

  &__info {
    display: flex;
  }

  &__user-icon {
    filter: drop-shadow(0 10px 20px $DarkShade10);
  }

  &__user {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &__user-name {
    font-weight: bold;
  }

  &__content {
    display: flex;
    margin-top: 10px;
  }

  &__like-button {
    width: 40px;
    height: 20px;
    margin: 2px 5px 0 2px;
  }

  &__paragraph {
    margin: 0 0 0 10px;
  }
}
