mixin base-button({text = 'button', decor = false, arrow = false, type = 'button'} = {text, decor, arrow, type})
  .button(class=`${arrow ? 'button_with-'+arrow : ''}`)
    button.button__content(class=`${decor ? 'button__content_with-'+decor : ''}`, type=type)
      span.button__text=text