.button-container {
    display: flex;
    flex-wrap: wrap;
}
.button-container__content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    
    text-transform: uppercase;

    height: 44px;

    color: #BC9CFF;
    background: white;
    border: none;
}
.button-container__content_size-small {
    width: 99px;

    border-radius: 22px;
}
.button-container__content_size-large {
    width: 320px;

    border-radius: 22px;
}
.button-container__content_decor-background {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    color: white;
}
.button-container__content_decor-background:hover {
    opacity: 0.5;
    cursor: pointer;
}
.button-container__content_decor-no-decor:hover {
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
}
.button-container__content_decor-border {
    position: relative;
    border: 2px solid transparent;
    border-radius: 22px;
    background-clip: padding-box;
    padding: 10px;
}
.button-container__content_decor-border::before {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
    content: '';
    z-index: -1;
    border-radius: 22px;
}
.button-container__content_decor-border:hover {
    cursor: pointer;
}
.button-container__content_decor-border:hover::before {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
