.button {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &_with-arrow::before {
    position: absolute;
  
    content: 'arrow_forward';
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0;
  
    font-family: 'Material Icons', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    text-transform: none;
  
    color: white;
    z-index: 10;
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11.3px;
    letter-spacing: 0.05em;
    line-height: 15px;
    text-transform: uppercase;
    color: $Purple;
  
    background: white;
    border: none;
  
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;

    &_with-background {
      background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
      color: white;
      border-radius: 22px;
    }
    &_with-background:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    &_with-noDecor:hover {
      color: $DarkShade50;
      cursor: pointer;
    }
    &_with-border {
      position: relative;
      border: 2px solid transparent;
      border-radius: 22px;
      background-clip: padding-box;

      &::before {
        position: absolute;
        top: -2px; bottom: -2px;
        left: -2px; right: -2px;
        background: linear-gradient(180deg, $Purple 0%, $BlueLilac 100%);
        content: '';
        z-index: -1;
        border-radius: 22px;
      }
      &:hover {
        cursor: pointer;

        &::before {
          background: linear-gradient(180deg, $Purple50 0%, $BlueLilac50 100%);
        }
      }
    }
  }
  &__text {
    text-decoration: none;
    color: inherit;
  }
}
