.like-button {
  width: inherit;
  color: $DarkShade50;

  &__filter {
    position: relative;
    display: flex;
    cursor: pointer;
  }

  &__content {
    opacity: 0;
  }

  &__indicator {
    position: absolute;
    width: 40px;
    height: 20px;
    border: 1px solid $DarkShade25;
    border-radius: 10px;
  }

  &__description {
    // padding-left: 55%;
    font-size: 10px;
    line-height: 20px;
  }

  &__filter input[type='checkbox']:checked {
    & + .like-button__indicator {
      border: 1px solid $Purple;
    }

    & ~ .like-button__description {
      color: $Purple;

      &::before {
        position: absolute;
        top: 0;
        left: 5px;
        color: $PrimaryGradient;
        font-size: 10px;
        font-family: 'Material Icons', Arial, sans-serif;
        content: 'favorite';
      }
    }
  }

  &__filter input[type='checkbox']:not(:checked) {
    & ~ .like-button__description::before {
      position: absolute;
      top: 0;
      left: 5px;
      color: $PrimaryGradient;
      font-size: 10px;
      font-family: 'Material Icons', Arial, sans-serif;
      content: 'favorite_border';
    }
  }

  &__filter input[type='checkbox']:focus {
    & + .like-button__indicator {
      outline: rgb(59, 153, 252) auto 5px;
    }
  }
}
