.like-button {
  position: relative;
  color: $DarkShade50;

  &__filter {
    position: relative;
    display: flex;
    cursor: pointer;
  }

  &__content {
    display: none;
  }

  &__indicator {
    position: absolute;
    width: 100%;
    min-height: 20px;
    border: 1px solid $DarkShade25;
    border-radius: 10px;
  }

  &__description {
    position: relative;
    display: flex;
    font-size: 10px;
    line-height: 20px;
    padding-left: 50%;
  }

  &__filter {

    & input[type='checkbox']:checked {

      & + .like-button__indicator {
        border: 1px solid $Purple;
      }

      & ~ .like-button__description {
        color: $Purple;

        &::before {
          content: 'favorite';
          position: absolute;
          top: 0;
          left: 5px;
          font-family: 'Material Icons', Arial, sans-serif;
          font-size: 10px;
          line-height: 20px;
          color: $PrimaryGradient;
        }
      }
    }

    & input[type='checkbox']:not(:checked) {

      & ~ .like-button__description::before {
        content: 'favorite_border';
        position: absolute;
        top: 0;
        left: 5px;
        font-family: 'Material Icons', Arial, sans-serif;
        font-size: 10px;
        line-height: 20px;
        color: $PrimaryGradient;
      }
    }
  }
}
