mixin like-button({ value = 0, checked = false })
  .like-button.js-like-button
    label.like-button__filter
      input.like-button__content.js-like-button__content(
        type='checkbox',
        name='like-button-content',
        checked=checked
      )
      span.like-button__indicator
      span.like-button__description.js-like-button__description= value
