mixin calendar()
  .calendar
    .calendar__content
      block
    .calendar__buttons
      .calendar__buttons-container.calendar__buttons-container_with-button-clear.js-calendar__buttons-container_with-button-clear
        +button({text: 'Очистить', decor: 'noDecor'})
      .calendar__buttons-container.calendar__buttons-container_with-button-apply.js-calendar__buttons-container_with-button-apply
        +button({text: 'Применить', decor: 'noDecor'})