.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px; 
  }
}
.datepicker-inline .datepicker {
  width: 100%;
  min-height: 302px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $DarkShade50;
  border: none;

  &.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    background: $PrimaryGradient;
  }
  &--nav {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $DarkShade100;
    border: none;

    &-title {
      i {
        color: $DarkShade100;
      }

      &:hover {
        background: $PrimaryGradient25
      }
    }

    &-action {
      position: relative;

      &:hover {
        background: $PrimaryGradient25
      }

      path {
        display: none;
      }

      &[data-action='prev']::before {
        position: absolute;
        content: 'arrow_back';
        font-family: 'Material Icons', Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: $Purple;
      }

      &[data-action='next']::before {
        position: absolute;
        content: 'arrow_forward';
        font-family: 'Material Icons', Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: $Purple;
      }
    }
  }

  &--content {
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 5px;
  }

  &--days-names {
    margin: 0;
  }

  &--day-name {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: none;
    min-height: 42px;
    color: $Purple;
  }

  &--cell-day {
    min-height: 38.5px;

    &.-current- {
      color: #fff;
      font-weight: 700;
      background: $SecondaryGradient;
      border-radius: 20px;

      &.-selected- {
        background: $PrimaryGradient;
      }
    }
    &.-current-.-in-range- {
      border-radius: 0;
      color: #fff;
    }

    &.-range-from- {
      border: none;
      background: $PrimaryGradient25 ;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $PrimaryGradient;
        border-radius: 50% 0 0 50%;
        opacity: 0.25;
      }
      &.-selected- {
        &.-other-month-, .-selected- .-other-decade- {
          background: $PrimaryGradient;
        }
      }
    }

    &.-range-to- {
      border: none;
      background: $PrimaryGradient25;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $PrimaryGradient;
        border-radius: 0 50% 50% 0;
        opacity: 0.25;
      }

      &.-focus- {
        border-radius: 50%;
      }
      &.-selected- {
        &.-other-month-, .-selected- .-other-decade- {
          background: $PrimaryGradient;
        }
      }
    }

    &.-focus- {
      background: $PrimaryGradient25;
      border-radius: 20px;
    }

    &.-selected- {
      position: relative;
      background: $PrimaryGradient;
      border-radius: 20px;
      font-weight: 700;

      &.-focus- {
        background: $PrimaryGradient;
        border-radius: 20px;
      }
    }

    &.-in-range- {
      background: $PrimaryGradient25;
      color: $DarkShade50;

      &.-other-month-, .-other-decade- {
        background: $PrimaryGradient25;
        color: $DarkShade50;
      }

      &.-focus- {
        border-radius: 0;

      }
    }
  }
}
