@import '../../pages/variables.scss';

@mixin range {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $PrimaryGradient;
  opacity: 0.25;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px; 
  }
}
.datepicker-inline .datepicker {
  width: 100%;
  min-height: 302px;
  @include fontMontserrat;
  color: $DarkShade50;
  border: none;

  &.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    background: $PrimaryGradient;
  }
  &--nav {
    @include fontMontserrat;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $DarkShade100;
    border: none;

    &-title {
      i {
        color: $DarkShade100;
      }

      &:hover {
        background: $PrimaryGradient25
      }
    }

    &-action {
      position: relative;

      &:hover {
        background: $PrimaryGradient25
      }

      path {
        display: none;
      }

      &[data-action='prev']::before {
        position: absolute;
        content: 'arrow_back';
        @include fontMaterialIcons;
        color: $Purple;
      }

      &[data-action='next']::before {
        position: absolute;
        content: 'arrow_forward';
        @include fontMaterialIcons;
        color: $Purple;
      }
    }
  }

  &--content {
    margin: 20px 5px 0 7px;
  }

  &--days-names {
    margin: 0;
  }

  &--day-name {
    @include fontMontserrat;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: none;
    min-height: 42px;
    color: $Purple;
  }

  &--cell-day {
    min-height: 38.5px;

    &.-current- {
      color: #fff;
      font-weight: bold;
      background: $SecondaryGradient;
      border-radius: 20px;

      &.-selected- {
        background: $PrimaryGradient;
      }
    }
    &.-current-.-in-range- {
      border-radius: 0;
      color: #fff;
    }

    &.-range-from- {
      border: none;
      background: $PrimaryGradient25 ;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      &::before {
        @include range;
        border-radius: 50% 0 0 50%;
      }
      &.-selected- {
        &.-other-month-, .-selected- .-other-decade- {
          background: $PrimaryGradient;
        }
      }
    }

    &.-range-to- {
      border: none;
      background: $PrimaryGradient25;

      &::before {
        @include range;
        border-radius: 0 50% 50% 0;
      }

      &.-focus- {
        border-radius: 50%;
      }
      &.-selected- {
        &.-other-month-, .-selected- .-other-decade- {
          background: $PrimaryGradient;
        }
      }
    }

    &.-focus- {
      background: $PrimaryGradient25;
      border-radius: 20px;
    }

    &.-selected- {
      position: relative;
      background: $PrimaryGradient;
      border-radius: 20px;
      font-weight: bold;

      &.-focus- {
        background: $PrimaryGradient;
        border-radius: 20px;
      }
    }

    &.-in-range- {
      background: $PrimaryGradient25;
      color: $DarkShade50;

      &.-other-month-, .-other-decade- {
        background: $PrimaryGradient25;
        color: $DarkShade50;
      }

      &.-focus- {
        border-radius: 0;

      }
    }
  }
}
