.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px; 
  }
}
.datepicker-inline .datepicker {
  width: 100%;
  min-height: 302px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $DarkShade50;
  border: none;

  &--nav {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $DarkShade100;
    border: none;

    &-title {
      i {
        color: $DarkShade100;
      }

      &:hover {
        background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%);
      }
    }

    &-action {
      position: relative;

      &:hover {
        background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%);
      }

      path {
        display: none;
      }

      &[data-action='prev']::before {
        position: absolute;
        content: 'arrow_back';
        font-family: 'Material Icons', Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: $Purple;
      }

      &[data-action='next']::before {
        position: absolute;
        content: 'arrow_forward';
        font-family: 'Material Icons', Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: $Purple;
      }
    }
  }

  &--content {
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 5px;
  }

  &--days-names {
    margin: 0;
  }

  &--day-name {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: none;
    min-height: 42px;
    color:#BC9CFF;
  }

  &--cell {
    min-height: 30px;
    @media (min-width: 480px) {
      min-height: 38.5px;
    }
    

    &.-current- {
      color: #FFFFFF;
      background: linear-gradient(180deg, $Green 0%, #66D2EA 100%);
      border-radius: 20px;
    }

    &.-range-from- {
      border: none;
      background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%); 
      border-radius: 20px;

      &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 38.5px;
        right: 0;
        background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%);
      }
    }

    &.-range-to- {
      border: none;
      background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%);

      &.-focus- {
        border-radius: 0px 20px 20px 0px;
      }
      &.-selected- {
        opacity: 1;
        z-index: 2;

        &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 38.5px;
        left: 0;
        background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%);
        z-index: 1;
        }
      }
    }

    &.-focus- {
      background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%); 
      border-radius: 20px;
    }

    &.-selected- {
      position: relative;
      background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
      border-radius: 20px;

      &.-focus- {
        background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
        border-radius: 20px;
      }
    }

    &.-in-range- {
      background: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%);
      color: $DarkShade50;

      &.-focus- {
        border-radius: 0;

      }
    }
  }
}
