mixin calendar()
  .calendar
    .calendar__content
      block
    .calendar__buttons
      .calendar__button-clear.js-calendar__button-clear.calendar__button-clear_hidden
        +button({ text: 'Очистить' })
      .calendar__button-apply.js-calendar__button-apply
        +button({ text: 'Применить' })