.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $Purple;
  font-weight: 600;
  font-size: 12px;
  font-family: inherit;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  border: none;
  cursor: pointer;

  &_small {
    min-height: 34px;
  }

  &_large {
    min-height: 44px;
  }

  &_solid {
    color: white;
    background: $PrimaryGradient;
    border-radius: 22px;

    &:hover {
      opacity: 0.5;
    }
  }

  &_clear {
    justify-content: start;

    &:hover {
      color: $DarkShade50;
    }
  }

  &_bordered {
    position: relative;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 22px;

    &::before {
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      z-index: -1;
      background: $PrimaryGradient;
      border-radius: 22px;
      content: '';
    }

    &:hover {
      &::before {
        background: $PrimaryGradient50;
      }
    }
  }

  &_directed {
    &::before {
      position: absolute;
      top: 50%;
      right: 10px;
      width: 9px;
      height: 9px;
      color: white;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: translate(-50%, -50%) rotate(45deg);
      content: '';
    }

    &::after {
      position: absolute;
      top: 48%;
      right: 15px;
      width: 14px;
      height: 2px;
      color: white;
      border-top: 2px solid;
      content: '';
    }
  }
}
