.button {
  position: relative;
  width: 100%;
  cursor: pointer;

  &_with-arrow::before {
    position: absolute;
    content: 'arrow_forward';
    width: 44px;
    height: 44px;
    top: 0px;
    right: 0;
    font-family: 'Material Icons', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: none;
    color: white;
    z-index: 2;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: $Purple;
    background: white;
    border: none;
    width: 100%;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;
      border: solid 2px $DarkShade50;
      border-radius: 22px;
    }

    &_height_small {
      min-height: 34px;
    }
    &_height_large {
      min-height: 44px;
    }

    &_with-background {
      background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
      color: white;
      border-radius: 22px;
    }

    &_with-background:hover {
      opacity: 0.5;
      cursor: pointer;
    }

    &_with-noDecor {
      justify-content: start;
      &:hover {
        color: $DarkShade50;
        cursor: pointer;
      }
      &:focus {
        outline: none;
        border: none;
      }
    }

    &_with-border {
      position: relative;
      border: 2px solid transparent;
      border-radius: 22px;
      background-clip: padding-box;

      &::before {
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(180deg, $Purple 0%, $BlueLilac 100%);
        content: '';
        z-index: -1;
        border-radius: 22px;
      }

      &:hover {

        cursor: pointer;

        &::before {
          background: linear-gradient(180deg, $Purple50 0%, $BlueLilac50 100%);
        }
      }
    }
  }
}
