mixin toggle({ text = 'Значение для выбора', checked })
  label.toggle
    input.toggle__content(type='checkbox', name='toggle-container-content', checked=checked)
    span.toggle__indicator
    span.toggle__description= text
