.toggle-container__filter {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: rgba(31, 32, 65, 0.75);
}
.toggle-container__indicator {
    position: absolute;

    width: 40px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
}
.toggle-container__description {
    padding-left: 50px;
}
.toggle-container__filter input[type="radio"]:checked + .toggle-container__indicator {
    border: 1px solid #BC9CFF;
}
.toggle-container__filter input[type="radio"]:checked + .toggle-container__indicator::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 23px;

    width: 14px;
    height: 14px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 10px;
}
.toggle-container__filter input[type="radio"]:not(:checked) + .toggle-container__indicator::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;

    width: 14px;
    height: 14px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
}
.visually-hidden:not(:focus):not(:active),
 input[type="checkbox"].visually-hidden,
 input[type="radio"].visually-hidden {
   position: absolute;

   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;

   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden; 
 }