mixin toggle({ text, checked, name ='toggle' })
  label.toggle
    input.toggle__content(type='checkbox', name=`${ name }`, checked=checked)
    span.toggle__indicator
    span.toggle__description= text
