@mixin icon() {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  content: '';
}

.toggle {
  cursor: pointer;

  &__content {
    display: none;
  }

  &__indicator {
    position: absolute;
    width: 40px;
    height: 20px;
    border: 1px solid $DarkShade25;
    border-radius: 10px;
  }

  &__description {
    padding-left: 50px;
  }

  & input[type='checkbox']:checked {
    & + .toggle__indicator {
      border: 1px solid $Purple;

      &::before {
        @include icon();
        top: 3px;
        left: 23px;
        background: $PrimaryGradient;
      }
    }
  }

  & input[type='checkbox']:not(:checked) {
    & + .toggle__indicator::before {
      @include icon();
      top: 3px;
      left: 3px;
      background: $DarkShade25;
    }
  }
}
