mixin toggle({text, checked} = {})
  label.toggle
    input.toggle__content.visually-hidden(type='checkbox',
      name='toggle-container__content', checked=checked || false)
    span.toggle__indicator
    span.toggle__description=text