mixin toggle({text = 'text', checked = false} = {text, checked})
  label.toggle
    input.toggle__content.visually-hidden(type='checkbox',
      name='toggle-container__content', checked=checked)
    span.toggle__indicator
    span.toggle__description=text