mixin checkbox-button({value = 'Text', checked = false, weight = false, description} = {value, checked, weight, description})
  .checkbox-button
    label.checkbox-button__filter
      input.checkbox-button__content.visually-hidden(type='checkbox',
        name='checkbox-button__content', checked=checked)
      span.checkbox-button__indicator
      span.checkbox-button__value(class=`${weight ? 'checkbox-button__value_bold' : ''}`)=value
    .checkbox-button__description= description