.checkbox-button {
  color: $DarkShade50;

  &__filter {
    position: relative;
    display: flex;
    line-height: 20px;
  }

  &__content {
    opacity: 0;
  }

  &__indicator {
    position: absolute;
    width: 20px;
    min-height: 20px;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    cursor: pointer;
  }

  &__filter input[type='checkbox']:checked {
    & + .checkbox-button__indicator {
      border: 1px solid $Purple;
    }

    & + .checkbox-button__indicator::before {
      position: absolute;
      top: 4.5px;
      left: 5px;
      width: 6px;
      height: 4px;
      border-top: 2px solid;
      border-right: 2px solid;
      border-image: $PrimaryGradient;
      border-image-slice: 1;
      transform: rotate(135deg);
      content: '';
    }
  }

  &__filter input[type='checkbox']:focus {
    & + .checkbox-button__indicator {
      box-shadow: 0 5px 10px $Purple;
    }
  }

  &__value {
    padding-left: 10px;
    cursor: pointer;

    &_bold {
      padding-top: 1px;
      color: $DarkShade75;
      font-weight: bold;
    }
  }

  &__description {
    padding: 5px 0 0 30px;
    font-size: 12px;
    line-height: 14px;
  }
}
