mixin checkbox-button(value, checked, weight, description)
  .checkbox-button
    label.checkbox-button__filter
      input.checkbox-button__content.visually-hidden(type='checkbox',
        name='checkbox-button__content', checked=checked || false)
      span.checkbox-button__indicator
      span.checkbox-button__value(class=`checkbox-button__value_${weight}` || false)=value
    .checkbox-button__description= description