.checkbox-button {
  line-height: 20px;
  color: $DarkShade50;

  &__filter {
    position: relative;
    display: flex;

    & input[type='checkbox']:checked {

      & + .checkbox-button__indicator {
        border: 1px solid $Purple;
      }

      & + .checkbox-button__indicator::before {
        content: '';
        position: absolute;
        top: 4.5px;
        left: 5px;
        width: 6px;
        height: 4px;
        border-top: 2px solid;
        border-right: 2px solid;
        border-image: $PrimaryGradient;
        border-image-slice: 1;
        transform: rotate(135deg); 
      }
    }
  }

  &__content {
    display: none;
  }

  &__indicator {
    position: absolute;
    left: 1px;
    width: 20px;
    min-height: 20px;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    cursor: pointer;
  }

  &__value {
    line-height: 18px;
    padding-left: 28px;
    cursor: pointer;

    &_bold {
      font-weight: bold;
      line-height: 18px;
      padding-top: 1px;
    }
  }

  &__description {
    font-size: 12px;
    padding-left: 28px;
    padding-top: 5px;
    letter-spacing: 0em;
    text-align: left;
    min-width: 255px;
  }
}
