mixin date_dropdown()
    ul.date_dropdown-list
        li.date_dropdown-item
            label Date dropdown
            input#date_dropdown.date_dropdown(type='text', name='date_dropdown', placeholder='ДД.ММ.ГГГГ')