include ../../elements/rate_button/rate_button.pug
mixin star_group_button_1()
    +rate_button('checked')
    +rate_button('checked')
    +rate_button('checked')
    +rate_button('checked')
    +rate_button()