.base_button-container {
    display: flex;
    flex-wrap: wrap;
}
.base_button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    
    text-transform: uppercase;

    height: 44px;

    color: #BC9CFF;
    background: white;
    border: none;
}
.base_button_size_small {
    width: 99px;
}
.base_button_size_large {
    width: 320px;
}