mixin base_button(text, size, background, border)
    .base_button-container
        button.base_button(class='base_button_size_'+size || false, class='base_button_'+background || false, class='base_button_'+border || false, type="button")
            span=text