doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="../global.scss")
        block scripts
    body
        block content
        block scripts
            script(src="../../libs/jquery/jquery-3.4.1.min.js")