doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="../global.scss")
        link(href="../../../node_modules/jquery-ui/themes/base/all.css")
        block scripts
    body
        block content
        block scripts
            script(src="../main.js")
            script(src="../../components/datepicker/datepicker.js")
            script(src="../../components/datepicker/datepicker-ru.js")