doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="../global.scss")
        block scripts
    body
        block content
        block scripts
            script(src="../main.js")
            script(src="../../components/datepicker/datepicker.js")