doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css")
        link(rel="stylesheet", href="../global.scss")
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js")
    body
        block content
        block scripts
            script(src="../../components/datepicker/datepicker.js")
            script(src="../../elements/dropdown/dropdown.js")