@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Regular.svg') format('svg');
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand/Quicksand-Regular.svg') format('svg');
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf') format('ttf');
    src: url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff');
}

$DarkShade: #1F2041;
$Purple: #BC9CFF;
$Green: #6FCF97;