doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block meta
        block title
        link(rel="stylesheet", href="../global.scss")
        link(rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon")
        link(rel='mask-icon' href="../images/favicon-safari.svg" color="blue")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
            script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js")
    body
        block content
        block scripts
            script(src="../../components/datepicker/datepicker.js")
            script(src="../../components/number-card/number-card.js")
            script(src="../../components/header/header.js")
            script(src="../../components/dropdown/dropdown.js")
            script(src="../../components/form-search-room/form-search-room.js")
            script(src="../../elements/checkbox-list/checkbox-list.js")
            script(src="../../elements/range-slider/range-slider.js")
            script(src="../../elements/rate-button/rate-button.js")
            script(src="../demo/demo.js")
            script(src="../landing/landing.js")
            script(src="../search-room/search-room.js")