$DarkShade100:rgba(31, 32, 65, 1);
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.5);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade10: rgba(31, 32, 65, 0.1);
$DarkShade05: rgba(31, 32, 65, 0.05);
$Purple: rgba(188, 156, 255, 1);
$Purple50: rgba(188, 156, 255, 0.5);
$Purple25: rgba(188, 156, 255, 0.25);
$BlueLilac:rgba(139, 164, 249, 1);
$BlueLilac50:rgba(139, 164, 249, 0.5);
$BlueLilac25: rgba(139, 164, 249, 0.25);
$Green: #6fcf97;
$TurquoiseBlue: #66d2ea;

$PrimaryGradient: linear-gradient(180deg, $Purple 0%, $BlueLilac 100%);
$PrimaryGradient25: linear-gradient(180deg, $Purple25 0%, $BlueLilac25 100%);
$PrimaryGradient50: linear-gradient(180deg, $Purple50 0%, $BlueLilac50 100%);

$SecondaryGradient: linear-gradient(180deg, $Green 0%, $TurquoiseBlue 100%);

$YellowPink: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);

$VioletBlue: linear-gradient(180deg, #919191 0%, #3d4975 100%);

$BlackTransparent: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

$primaryShadow: 0 10px 20px $DarkShade05;
$cardShadow: 0 0 25px $DarkShade25;

$borderColor: rgba(0, 0, 0, 0.12);

@mixin fontMontserrat() {
  font-weight: normal;
  font-size: 12px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  line-height: 15px;
}

@mixin fontMaterialIcons() {
  font-weight: normal;
  font-size: 20px;
  font-family: 'Material Icons', Arial, sans-serif;
  font-style: normal;
  line-height: 20px;
}

$primaryFont: 'Montserrat', 'Arial', 'sans-serif';

@mixin input {
  padding: 9px 10px 9px 15px;
  color: $DarkShade75;
  font: 14px/24px 'Montserrat', Arial, sans-serif;
  letter-spacing: 0.2px;
  border: 1px solid $DarkShade25;
  border-radius: 5px;

  &::placeholder {
    color: $DarkShade25;
  }

  &:hover,
  &:focus,
  &.hover-focus {
    border-color: $DarkShade50;
  }

  &:focus {
    border-color: $DarkShade50;
    outline: none;
  }
}

@mixin h2() {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  font-family: $primaryFont;
  letter-spacing: -0.6px;
}
