.settlement-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  min-height: 90px;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: 350px) {
    min-height: 107px;
    margin: 0 5px 0 2px;
    font-size: 14px;
  }

  &__string {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__column-first {
    position: relative;
    max-width: 240px;
    padding-right: 30px;
  }

  &__column-last {
    display: flex;
    justify-content: flex-end;
    min-width: 33px;
  }

  &__information-sign {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;
      height: 18px;
      color: $DarkShade25;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      border: 1px solid $DarkShade25;
      border-radius: 10px;
      content: 'i';
    }
  }

  &__main-group {
    display: inline-block;
  }

  &__sign-number {
    padding-right: 5px;

    &_hidden {
      display: none;
    }
  }

  &__number_bold {
    padding-right: 6px;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
  }

  &__sign-rouble {
    display: inline-block;
    width: 0.4em;
    line-height: 5px;
    border-bottom: 1px solid;
  }

  &__description {
    display: inline-block;

    &_bold-pink {
      color: $Purple;
      font-weight: bold;
      font-size: 12px;
      line-height: 33px;
      text-transform: uppercase;
    }

    &_normal {
      padding-left: 7px;
      color: $DarkShade50;
      font-size: 11px;
      line-height: 30px;
    }
  }
}
