mixin social-btn()
    ul.social-btn-container
        li.social-btn-container__item
            a.social-btn-container__button
                img(src="../../components/social-btn/images/tw.svg", alt="", weight="19px", height="19px")
        li.social-btn-container__item
            a.social-btn-container__button
                img(src="../../components/social-btn/images/fb.svg", alt="", weight="20.5px", height="20.5px")
        li.social-btn-container__item
            a.social-btn-container__button
                img(src="../../components/social-btn/images/insta.svg", alt="", weight="20.5px", height="20.5px")