mixin social-btn()
    ul.social-btn-container
        li.social-btn-container__item
            a.social-btn-container__button
                img(src="../../components/social-btn/images/tw.svg", alt="")
        li.social-btn-container__item
            a.social-btn-container__button
                img(src="../../components/social-btn/images/fb.svg", alt="")
        li.social-btn-container__item
            a.social-btn-container__button
                img(src="../../components/social-btn/images/insta.svg", alt="")