include ../../elements/logo/logo.pug
include ../../elements/base-button/base-button.pug
include ../../elements/base-input/base-input.pug

mixin header()
  .header
    .header__grouping
      form.header__logo(action='/../pages/landing/landing.html', target='_blank')
        +logo()
      .header__user-icon.js-header__user-icon
      .header__navigation-icon.js-header__navigation-icon
    ul.header__navigation.js-header__navigation
      each value, index in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
        - var itemName = value
        if(itemName === 'Услуги' || itemName === 'Соглашения')
          li.header__item.header__item_drop-down-menu
            a.header__link(href='')= value
        else
          li.header__item
            a.header__link(href='')= value
    .header__user.js-header__user
      form.header__user-button-login(action='/../pages/landing/landing.html', target='_blank')
        +base-button({text: 'Войти', decor: 'border', type: 'submit'})
      form.header__user-button-registration(action='/../pages/registration/registration.html', target='_blank')
        +base-button({text: 'Зарегистироваться', decor: 'background', type: 'submit'})
