include ../../elements/logo/logo.pug
include ../../elements/base-button/base-button.pug
include ../../elements/base-input/base-input.pug

mixin header()
  .header
    .header__content
      .header__grouping
        .header__logo
          +logo()   
        .header__user-icon
        .header__navigation-icon 
      ul.header__navigation
        each val, index in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
          li.header__item
            a.header__link(href="")= val
      .header__user
          +base-button('Войти', 'small-medium', 'small', 'border', '')
          +base-button('Зарегистироваться', 'medium-large', 'small', 'background', '')
