include ../../elements/logo/logo.pug
include ../../elements/button/button.pug

mixin header()
  - 
    const menu = ['О нас', {'Услуги': ['Аренда конференц-зала', 'Трансфер до отеля', 'Аренда транспорта', 'Камера хранения / сейф']}, 'Вакансии', 'Новости', {'Соглашения': ['Обработка персональных данных', 'Условия бронирования']}];
  header.header
    .header__content
      .header__grouping
        .header__logo
          +logo()
        .header__user-icon.js-header__user-icon
        .header__navigation-icon.js-header__navigation-icon
      ul.header__navigation.js-header__navigation
        each itemMenu in menu
          if (typeof(itemMenu) === 'object')
            - const itemName = Object.keys(itemMenu);
            - const subItemMenu = itemMenu[itemName];
            li.header__title-submenu.js-header__title-submenu
              button.header__text-title= itemName[0]
              ul.header__submenu.js-header__submenu
                each value in subItemMenu
                  li.header__submenu-item
                    a.header__link(href='')= value
          else
            li.header__item
              a.header__link(href='')= itemMenu
      .header__user.js-header__user
        .header__user-button-login
          +button({ text: 'Войти', type: 'bordered', height: 'small', href: '../../pages/sign-in/sign-in.pug' })
        .header__user-button-registration
          +button({ text: 'Зарегистрироваться', type: 'solid', size: 'small', href: '../../pages/registration/registration.pug' })
