include ../../elements/logo/logo.pug
include ../../elements/button/button.pug

mixin header(currentPage)
  -
    const menu = [
      {
        content: 'О нас',
        href: '',
      },
      {
        content: 'Услуги',
        links: [
          {
            content: 'Аренда конференц-зала',
            href: '',
          },
          {
            content: 'Трансфер до отеля',
            href: '',
          },
          {
            content:'Аренда транспорта',
            href: '',
          },
          {
            content: 'Камера хранения / сейф',
            href: '',
          },
        ],
      },
      {
        content: 'Вакансии',
        href: '',
      },
      {
        content: 'Новости',
        href: '',
      },
      {
        content: 'Соглашения',
        links: [
          {
            content: 'Обработка персональных данных',
            href: ''
          },
          {
            content: 'Условия бронирования',
            href: ''
          }
        ],
      },
    ];

  -
    const loginButton = {
      text: 'Войти',
      type: 'bordered',
      height: 'small',
      href: '../../pages/sign-in/sign-in.pug'
    }

  -
    const registrationButton = {
      text: 'Зарегистрироваться',
      type: 'solid',
      size: 'small',
      href: '../../pages/registration/registration.pug'
    }

  header.header
    .header__content
      .header__grouping
        .header__logo
          +logo
        .header__user-icon.js-header__user-icon
        .header__navigation-icon.js-header__navigation-icon
      ul.header__navigation.js-header__navigation
        each itemMenu in menu
          if (itemMenu.links)
            li.header__title-submenu.js-header__title-submenu
              button.header__text-title= itemMenu.content
              ul.header__submenu.js-header__submenu
                each value in itemMenu.links
                  li.header__submenu-item
                    a.header__link(href=value.href)= value.content
          else
            li.header__item
              a.header__link(href=itemMenu.href)= itemMenu.content
      .header__user.js-header__user
        .header__user-button-login
          +button(loginButton)
        .header__user-button-registration
          +button(registrationButton)
