.header-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 70px;
}
.header-container__logo {
    margin-top: auto;
    margin-bottom: auto;
}
.header-container__navigation {
    display: flex;
    justify-content: space-between;

    width: 775px;
}
.header-container__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-container__item {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.header-container__link {
    text-decoration: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: rgba(31, 32, 65, 0.5);

    margin-left: 30px;
}
.header-container__user {
    display: flex;
    justify-content: space-between;

    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}