include ../../elements/logo/logo.pug
include ../../elements/button/button.pug
include ../../elements/input/input.pug

mixin header()
  .header
    .header__grouping
      .header__logo
        +logo()
      .header__user-icon.js-header__user-icon
      .header__navigation-icon.js-header__navigation-icon
    ul.header__navigation.js-header__navigation
      each value, index in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
        - let itemName = value
        - const suitableValue = itemName === 'Услуги' || itemName === 'Соглашения'
        if(suitableValue)
          li.header__item.header__item_menu_drop-down
            a.header__link(href='')= value
        else
          li.header__item
            a.header__link(href='')= value
    .header__user.js-header__user
      a.header__user-button-login(href='../../pages/sign-in/sign-in.pug', target='_blank')
        +button({text: 'Войти', decor: 'border', type: 'submit', height: 'small'})
      a.header__user-button-registration(href='../../pages/registration/registration.pug', target='_blank')
        +button({text: 'Зарегистироваться', decor: 'background', type: 'submit', height: 'small'})
