include ../../elements/logo/logo.pug
include ../../elements/base-button/base-button.pug
include ../../elements/base-input/base-input.pug

mixin header()
  .header
    .header__grouping
      .header__logo
        +logo()   
      .header__user-icon
      .header__navigation-icon 
    ul.header__navigation
      each val, index in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
        - var itemName = val
        if(itemName === 'Услуги' || itemName === 'Соглашения')
          li.header__item.header__item_drop-down-menu
            a.header__link(href="")= val
        else
          li.header__item
            a.header__link(href="")= val
    .header__user
      .header__user-button-login
        +base-button('Войти', 'border', '')
      .header__user-button-registration
        +base-button('Зарегистироваться', 'background', '')
