mixin header()
    .header-container
        +logo()
        .header-container__navigation
            ul.header-container__list
                each val, index in ['Home', 'About Us', 'Servieces', 'Careers', 'News', 'Documentation']
                li.header-container__item
                    a(href="http://")= val
            .header-container__user
                +base-button('Login', 'small', 'border')
                +base-button('Register', 'medium', 'background')
