.filter_date_dropdown-list {
    padding: 0;
}
.filter_date_dropdown-item {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 266px;
    
    margin: 0;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: var(--DarkShade);
}
.filter_date_dropdown {
    width: 266px;
    height: 44px;
    left: 141px;
    top: 163px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: rgba(31, 32, 65, 0.25);

    margin-top: 5px;
    padding-left: 15px;
}
.filter_date_dropdown-item::before {
    content: "";

    position: absolute;
    top: 35px;
    right: 13px;

    width: 8px;
    height: 8px;
    border-top: 2px solid rgba(31, 32, 65, 0.5);
    border-right: 2px solid rgba(31, 32, 65, 0.5);

    transform: rotate(135deg);
}
.filter_date_dropdown:hover,
.filter_date_dropdown:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);

    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);
}