mixin filter_date_dropdown()
    ul.filter_date_dropdown-list
        li.filter_date_dropdown-item
            label Filter date dropdown
            input#filter_date_dropdown.filter_date_dropdown(type='text', name='filter_date_dropdown', placeholder='19 авг - 23 авг')