.input-container {
    position: relative;
    display: flex;
    flex-direction: column;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: var(--DarkShade);
}
.input-container__content {
    height: 44px;
    left: 141px;
    top: 163px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: rgba(31, 32, 65, 0.25);

    margin-top: 5px;
    padding-left: 15px;
}
.input-container__content:hover,
.input-container__content:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);

    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);
}
.input-container_size-large {
    width: 320px;
}
.input-container_size-medium {
    width: 266px;
}
.input-container_size-small {
    width: 150px;
}
.input-container_arrow-down::before {
    content: "";

    position: absolute;
    top: 35px;
    right: 13px;

    width: 8px;
    height: 8px;
    border-top: 2px solid rgba(31, 32, 65, 0.5);
    border-right: 2px solid rgba(31, 32, 65, 0.5);

    transform: rotate(135deg);
}
.input-container_arrow::before {
    content: "";

    position: absolute;
    top: 35px;
    right: 13px;

    width: 10px;
    height: 10px;
    border-top: 2px solid #BC9CFF;
    border-right: 2px solid #BC9CFF;

    transform: rotate(45deg);
}
.input-container_arrow::after {
    content: "";

    position: absolute;

    width: 15px;
    height: 2px;
    top: 40px;
    right: 12px;

    background-color: #BC9CFF;
}