mixin base-input(label, placeholder, arrow, borderRadiusTop, borderRadiusBottom, hide)
  div.input()
    span(class='input__description', class='input__description_' + hide || false)= label
    .input__wrapper(class='input__wrapper_'+arrow || false)
      input.input__content(class='input__content_border-radius-'+borderRadiusTop || false,
      class='input__content_border-radius-'+borderRadiusBottom || false, type='text',
      name='input-content', placeholder= placeholder)
