mixin base-input(label, placeholder, arrow, borderRadiusTop, borderRadiusBottom, attributeName)
  div.input()
    span(class='input__description')= label
    .input__wrapper(class='input__wrapper_'+arrow || false)
      input.input__content(class='input__content_border-radius-'+borderRadiusTop || false,
      class='input__content_border-radius-'+borderRadiusBottom || false, type='text',
      name= attributeName, placeholder= placeholder)
