mixin base-input(label, padding, placeholder, arrow, borderRadiusTop, borderRadiusBottom, attributeName)
  div.input()
    span(class='input__description-'+padding || false)= label
    .input__wrapper(class='input__wrapper_'+arrow || false, class='input__wrapper_size-'+size || 'large')
      input.input__content(class='input__content_border-radius-'+borderRadiusTop || false,
      class='input__content_border-radius-'+borderRadiusBottom || false, type='text',
      name= attributeName, placeholder= placeholder)
