mixin base-input(label, placeholder, size, arrow, borderRadiusTop, borderRadiusBottom)
    div.input-container(class='input-container_'+arrow || false, class='input-container_size-'+size || 'large')
        label.input-container__description= label
        input.input-container__content(class='input-container__content_border-radius-'+borderRadiusTop || false,
         class='input-container__content_border-radius-'+borderRadiusBottom || false, type='text',
          name='input-container__content', placeholder= placeholder)
