doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="text_field.css")
        title Document
    body
        p.text_field-paragraph
            label Text field
            input#text_field.text_field(type='text', name='text_field', placeholder='Email')