mixin datepicker()
    .datepicker-container
        .datepicker-container__content.datepicker-here(data-range="true")
        .datepicker-container__buttons
            +base-button('Очистить', '', 'large', 'noDecor')
            +base-button('Применить', '', 'large', 'noDecor')