mixin datepicker()
  .datepicker
    .datepicker__content.datepicker-here(data-range="true")
    .datepicker__buttons
      +base-button('Очистить', '', 'large', 'noDecor')
      +base-button('Применить', '', 'large', 'noDecor')