.datepicker {
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
  
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: rgba(31, 32, 65, 0.5);
}
.datepicker__buttons {
    display: flex;
    justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px; 
}
.datepicker--nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 17.3px;
    line-height: 20px;

    color: #1F2041;

    border-bottom: none;
}
.datepicker--nav-title i {
    color: #1F2041;
}
.datepicker--nav-action {
    position: relative;
}
.datepicker--nav-action:hover {
	background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}
.datepicker--nav-action path {
    display: none;
}
.datepicker--nav-action[data-action="prev"]::before {
    position: absolute;
    content: "arrow_back";

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    color: #BC9CFF;
}
.datepicker--nav-action[data-action="next"]::before {
    position: absolute;
    content: "arrow_forward";

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    color: #BC9CFF;
}
.datepicker--nav-title:hover {
	background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}
.datepicker--content {
	margin-top: 20px;
	margin-left: 7px;
	margin-right: 5px;
}
.datepicker--days-names {
    margin: 0;
}
.datepicker--day-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    text-transform: none;

    height: 42px;
    color:#BC9CFF;
}
.datepicker--cell {
    height: 38.5px;
}
.datepicker--cell.-current- {
    color: #FFFFFF;

    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 20px;
}
.datepicker--cell.-range-from- {
    border: none;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); 
    border-radius: 20px;
}
.datepicker--cell.-range-to- {
    border: none;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); 
    border-radius: 20px;
}
.datepicker--cell.-focus- {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); 
    border-radius: 20px;
}
.datepicker--cell.-selected- {
    position: relative;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 20px;
}
.datepicker--cell.-range-from-::before {
    position: absolute;
    content: "";

    width: 20px;
    height: 38.5px;

    right: 0;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}
.datepicker--cell.-range-to-::before {
    position: absolute;
    content: "";

    width: 20px;
    height: 38.5px;

    left: 0;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}
.datepicker--cell.-in-range- {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    color: rgba(31, 32, 65, 0.5);
}
.datepicker--cell.-selected-.-focus- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 20px;
}
