mixin datepicker()
    .datepicker-container
        .datepicker-container__content(id='datepicker')
        .datepicker-container__buttons
            +base-button('Очистить', '', 'noDecor')
            +base-button('Применить', '', 'noDecor')