mixin datepicker()
  .calendar
    .calendar__content.datepicker-here(data-range="true")
    .calendar__buttons
      .calendar__buttons-container
        +base-button('Очистить', 'noDecor')
      .calendar__buttons-container
        +base-button('Применить', 'noDecor')