.bullet-list {
    position: relative;
    padding-left: 20px;
}
.bullet-list::before {
    position: absolute;

    content: '';
    width: 10.43px;
    height: 10px;

    border-radius: 5px;

    background: rgba(31, 32, 65, 0.25);
}