include ../../components/calendar/calendar.pug
include ../../elements/input/input.pug

mixin datepicker-group({labelArray = ['date dropdown', 'date dropdown'], dates = ['ДД.ММ.ГГГГ','ДД.ММ.ГГГГ'], size = 'large', amountField = 'two'} = {labelArray, dates, size, amountField})
  .datepicker-group.js-datepicker-group
    .datepicker-group__inputs
      if (amountField === 'with-one-input')
        .datepicker-group__input(class=`datepicker-group__input_width_${size}`)
          +input({
            label: labelArray[0],
            placeholder: dates[0],
            arrow: 'arrow-down',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            readonly: 'readonly',
            areInDropdown: true,
            })
      else if (amountField === 'with-two-inputs')
        .datepicker-group__input(class=`datepicker-group__input_width_${size}`)
          +input({
            label: labelArray[0],
            placeholder: dates[0],
            arrow: 'arrow-down',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            readonly: 'readonly',
            areInDropdown: true,
          })
        .datepicker-group__input(class=`datepicker-group__input_width_${size}`)
          +input({
            label: labelArray[1],
            placeholder: dates[1],
            arrow: 'arrow-down',
            hasBorderRadiusTop: true,
            hasBorderRadiusBottom: true,
            readonly: 'readonly',
            areInDropdown: true,
          })
    .datepicker-group__datepicker.js-datepicker-group__datepicker(class=`datepicker-group__datepicker_${amountField}`)
      +calendar()