.collage {
  display: grid;
  grid-template-columns: repeat(2, 34%) 1fr;
  background-color: grey;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 50%);
  }

  &__image {
    position: relative;
    width: 100%;
    max-height: 242.5px;
    object-fit: cover;

    &:nth-child(3n + 1) {
      grid-row: span 2;
      grid-column: span 2;
      max-height: 485px;
    }
  }
}
