mixin footer()
    .footer-container-wrapper
        .footer-container
            .footer-container__logo
                +logo()
                span.footer-container__logo-description
                    |Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            ul.footer-container__list
                each val, index in ['Navigation', 'About Us', 'News', 'Support', 'Products']
                    li.footer-container__item
                        a.footer-container__link(href="")= val
            ul.footer-container__list
                each val, index in ['About Us', 'Who we are', 'Our team', 'Careers', 'Investors']
                    li.footer-container__item
                        a.footer-container__link(href="")= val
            ul.footer-container__list
                each val, index in ['Support', 'Documentation', 'Community', 'Get in Touch']
                    li.footer-container__item
                        a.footer-container__link(href="")= val
            .footer-container__subscribe
                span.footer-container__subscribe-title
                    |Subscribe to our newsletter
                span.footer-container__subscribe-description
                    |Receive our latest news and promotions in your inbox!
                +base-input('', 'Your email address', 'medium', 'arrow', 'top', 'bottom')