.footer-container-wrapper {
    width: 100%;
    background-color: white;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer-container-wrapper_borderTop {
	border-top: 1px solid rgba(31, 32, 65, 0.25);
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 320px;//1055px;
    min-height: 680px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 40px; //92px;
}
.footer-container__logo {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
	width: 240px;
	height: 117px;
}
.footer-container__logo-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 22px;

	color: rgba(31, 32, 65, 0.75);
	
	margin: 0;
    min-height: 60px;
    text-align: center;
}
.footer-container__list {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
	list-style: none;

    padding: 0;
    margin: 0;
}
.footer-container__item {
    height: 25px;
}
.footer-container__link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px; //12.8px;
    line-height: 16px; //15px;
    
    color: rgba(31, 32, 65, 0.5);
}
.footer-container__item:first-child .footer-container__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px; //11px;
    line-height: 16px; //15px;
    
    text-transform: uppercase; 
    
    color: #1F2041;
}
.footer-container__subscribe {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-container__subscribe-title {
    display: block;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;

    text-transform: uppercase;

    color: #1F2041;
}
.footer-container__subscribe-description {
    display: block;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12.78px;
    line-height: 22px;

    color: rgba(31, 32, 65, 0.75);
    text-align: center;
}