mixin footer()
    .footer-container
        .footer-container__logo
            +logo()
            span.footer-container__logo-description
        .footer-container__navigation
        .footer-container__about-us
        .footer-container__support
        .footer-container__subscribe