.footer {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 720px) {
      min-width: 720px;
    }
    @media (min-width: 1170px) {
      width: 1160px;
      min-height: 180px;
      flex-direction: row;
      align-items: flex-start;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__logo {
    width: 105px;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 260px;
      height: 117px;
      margin-bottom: 30px;
      @media (min-width: 1170px) {
        align-items: flex-start;
        margin-bottom: 15px;
        margin-right: 40px;
      }
    }

    &-description {
      width: 100%;
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: $DarkShade75;
      margin: 0;
      min-height: 60px;
      text-align: center;
      @media (min-width: 1170px) {
        margin-top: 17px;
        text-align: start;
      }
    }
  }

  &__information {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    @media (min-width: 480px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      min-height: 300px;
    }
    @media (min-width: 720px) {
      width: 550px;
      min-height: 195px;
      justify-content: space-between;
    }
    @media (min-width: 1170px) {
      margin-right: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
    @media (min-width: 480px) {
      width: 50%;
    }
    @media (min-width: 720px) {
      align-items: flex-start;
      width: 27%;
    }

    &:last-of-type {
      @media (min-width: 720px) {
        align-items: flex-start;
        max-height: 140px;
      }
    }
  }

  &__item {
    height: 25px;

    &:first-child {

      .footer__link {
        font-family: 'Montserrat', Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase; 
        color: $DarkShade100;
        margin-bottom: 20px;
        @media (min-width: 720px) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $DarkShade50;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    width: 80%;
    @media (min-width: 720px) {
      width: 260px;
    }
    @media (min-width: 1170px) {
      min-height: 150px;
      align-items: flex-start;
    }

    &-title {
      display: block;
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: $DarkShade100;
    }

    &-description {
      display: block;
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: $DarkShade75;
      text-align: center;
      @media (min-width: 1170px) {
        text-align: start;
      }
    }
  }
}