@import './variables.scss';

.footer {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 280px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 720px) {
      min-width: 720px;
    }

    @media (min-width: 1170px) {
      flex-direction: row;
      align-items: flex-start;
      width: 1160px;
      min-height: 180px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__logo {
    width: 105px;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 260px;
      min-height: 117px;
      margin-bottom: 40px;

      @media (min-width: 1170px) {
        align-items: flex-start;
        margin-right: 40px;
        margin-bottom: 15px;
      }
    }

    &-description {
      width: 100%;
      min-height: 60px;
      margin: 0;
      line-height: 24px;
      text-align: center;

      @media (min-width: 1170px) {
        margin-top: 15px;
        text-align: start;
      }
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 280px;
    margin-bottom: 15px;

    @media (min-width: 480px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      min-height: 300px;
    }

    @media (min-width: 720px) {
      justify-content: space-between;
      width: 550px;
      min-height: 195px;
    }

    @media (min-width: 1170px) {
      margin-top: 2px;
      margin-right: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;

    @media (min-width: 480px) {
      width: 50%;
    }

    @media (min-width: 720px) {
      align-items: flex-start;
      width: 27%;
      margin-bottom: 15px;
    }

    @media (min-width: 900px) {
      display: block;
    }
  }

  &__item {
    padding-top: 20px;

    &:first-of-type {
      padding: 0;
    }

    &:first-child {
      .footer__link {
        margin-bottom: 20px;
        color: $DarkShade100;
        font-weight: bold;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;

        @media (min-width: 720px) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  &__link {
    color: $DarkShade50;
    line-height: 17px;
    text-decoration: none;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 427px;
    min-height: 120px;

    @media (min-width: 720px) {
      width: 260px;
    }

    @media (min-width: 1170px) {
      align-items: flex-start;
      min-height: 150px;
      margin-top: 2px;
    }
  }

  &__subscribe-title {
    display: block;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__subscribe-description {
    display: block;
    line-height: 24px;
    text-align: center;

    @media (min-width: 1170px) {
      text-align: start;
    }
  }

  &__subscribe-input-wrapper {
    position: relative;
    width: 100%;
  }

  &__subscribe-input-title::before {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 44px;
    height: 44px;
    color: #bc9cff;
    font-size: 22px;
    font-family: 'Material Icons', Arial, sans-serif;
    line-height: 22px;
    text-transform: initial;
    cursor: pointer;
    content: 'arrow_forward';
  }

  &__subscribe-input {
    @include input;
    width: 100%;
  }
}
