include ../../components/copyright/copyright.pug

mixin footer
  footer.footer
    .footer__container
      .footer__logo-container
        .footer__logo
          +logo
        p.footer__logo-description
          | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__information
        -
          const columns = [
            ['Навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги'],
            ['О нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'],
            ['Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами'],
          ];

        each column in columns
          ul.footer__list
            each value in column
              li.footer__item
                a.footer__link(href='')= value
      .footer__subscribe
        span.footer__subscribe-title Подписка
        span.footer__subscribe-description Получайте специальные предложения и новости сервиса
        .footer__subscribe-input-wrapper
          span.footer__subscribe-input-title
          input.footer__subscribe-input(type='email', placeholder='Email')
    +copyright
