mixin footer()
  .footer
    .footer__container
      .footer__logo-container
        .footer__logo
          +logo()
        p.footer__logo-description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»‎
      .footer__information
        - let columnFirst = ['Навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги']
        - let columnMedium = ['О нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
        - let columnLast = ['Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами']
        - let columns = [columnFirst, columnMedium, columnLast]
        each val, index in columns
          - let column = val
          ul.footer__list
            each value, index in column
              li.footer__item
                a.footer__link(href='')= value
      .footer__subscribe
        span.footer__subscribe-title Подписка
        span.footer__subscribe-description Получайте специальные предложения и новости сервиса
        +base-input({
          placeholder: 'Email',
          type: 'email',
          arrow: 'arrow',
          hasBorderRadiusTop: true,
          hasBorderRadiusBottom: true,
        })