include ../advantages/advantages.pug
include ../like-button/like-button.pug

mixin review(title, value, nameIcon, line, height, marginLeft, text)
    .review-container
        +advantages(title, value, nameIcon, line, height, marginLeft)
        .review-container__content
            +like-button('12', 'checked')
            p.review-container__paragraph= text
