mixin advantages(advantageData)
  -
    const {
      title,
      advantagesList = [{
        advantageTitle: 'Advantage',
        advantageDescription: 'Advantage description',
        advantageIcon: 'mood'
      }]
    } = advantageData;

  .advantages
    h2.advantages__main-title= title
    .advantages__wrapper
      each advantagesItem in advantagesList 
        - const { advantageTitle, advantageDescription, advantageIcon } = advantagesItem;

        .advantages__item
          span.advantages__icon(class=`advantages__icon_with-sign-${ advantageIcon }`)= advantageIcon
          .advantages__content
            h4.advantages__title= advantageTitle
            span.advantages__value= advantageDescription
