.advantages {
  position: relative;
  display: flex;
  justify-content: flex-start;

  &__icon {
    width: 44px;

    &_with-sign-mood::before {
      content: 'mood';
      position: absolute;
      font-family: 'Material Icons', Arial, sans-serif;
      font-size: 44px;
      color: $Purple;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_with-sign-locationCity::before {
      content: 'location_city';
      position: absolute;
      font-family: 'Material Icons', Arial, sans-serif;
      font-size: 44px;
      color: $Purple;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_with-sign-whatshot::before {
      content: 'whatshot';
      position: absolute;
      font-family: 'Material Icons', Arial, sans-serif;
      font-size: 44px;
      color: $Purple;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__content {
    padding-left: 15px;
  }

  &__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $DarkShade75;
    margin: 0;
  }

  &__value {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $DarkShade75;
  }
}