mixin advantages(advantageData)
  -
    const {
      title,
      advantagesList = [{
        advantageTitle,
        advantageDescription,
        advantageIcon
      }]
    } = advantageData;

  .advantages
    h2.advantages__main-title= title
    .advantages__wrapper
      each advantagesItem in advantagesList 
        - const { advantageTitle, advantageDescription, advantageIcon } = advantagesItem;

        .advantages__item
          span.advantages__icon= advantageIcon
          .advantages__content
            h4.advantages__title= advantageTitle
            span.advantages__value= advantageDescription
