mixin advantages(title, value, nameIcon, line, height)
  .advantages(class='advantages_'+line || false)
    .advantages__icon(class='advantages__icon_'+nameIcon || userIcon)
    .advantages__content
      h1.advantages__title= title
      span.advantages__value= value