.advantages-container {
    position: relative;
    display: flex;
    justify-content: flex-start;

	width: 100%;
}
.advantages-container_line {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.advantages-container__icon {
    width: 44px;
    height: 44px;
}
.advantages-container__icon_mood::before {
    content: "mood";

    position: absolute;

    font-family: 'Material Icons';
    font-size: 44px;
    color: #BC9CFF;
}
.advantages-container__icon_locationCity::before {
    content: "location_city";

    position: absolute;

    font-family: 'Material Icons';
    font-size: 44px;
    color: #BC9CFF;
}
.advantages-container__icon_whatshot::before {
	content: "whatshot";

    position: absolute;

    font-family: 'Material Icons';
    font-size: 44px;
    color: #BC9CFF;
}
.advantages-container__icon_userIcon::before {
    content: "";

    position: absolute;
    top: -10px;
    left: -20px;

    width: 90px;
    height: 90px;
	background-image: url(../elements/advantages/images/userIcon.png);
	background-size: 90px;
}
.advantages-container__icon_Murad::before {
    content: "";

    position: absolute;
    top: -10px;
    left: -20px;

    width: 90px;
    height: 90px;
	background-image: url(../elements/advantages/images/Murad.png);
	background-size: 90px;
    
}
.advantages-container__icon_Patriziya::before {
    content: "";

    position: absolute;
    top: -10px;
    left: -20px;

    width: 90px;
    height: 90px;
	background-image: url(../elements/advantages/images/Patriziya.png);
	background-size: 90px;
    
}
.advantages-container__content {
    padding-left: 15px;
}
.advantages-container__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);

    margin: 0;
}
.advantages-container__value {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);
}
.advantages-container_large {
	height: 63px;
}
.advantages-container_small {
	height: 54px;
}