include ../dropdown-row/dropdown-row.pug

mixin dropdown(placeholder)
    .dropdown-container
        +base-input('dropdown', placeholder, 'medium', 'arrow-down', 'top', '')
    .dropdown-rows
        +dropdown-row('Взрослые', '0')
        +dropdown-row('Дети', '0')
        +dropdown-row('Младенцы', '0')
        .dropdown-buttons
            +base-button('Очистить', '', 'noDecor')
            +base-button('Применить', '', 'noDecor')
