include ../../components/social-button/social-button.pug

mixin copyright()
  - 
    const buttons = [
      { name: 'Twitter', src: '../../components/copyright/images/twitter.svg' },
      {
        name: 'Facebook',
        src: '../../components/copyright/images/facebook.svg',
      },
      {
        name: 'Instagram',
        src: '../../components/copyright/images/instagram.svg',
      },
    ];
  .copyright
    .copyright__content
      span.copyright__description
        |Copyright © 2018 Toxin отель. Все права защищены.
      .copyright__social-button
        +social-button({ buttons })