mixin copyright()
    .footer-copyright-wrapper
        .footer-copyright
            span.footer-copyright__description
                |Copyright © 2018 Toxin UI Kit. All rights reserved.
            +social-btn()