include ../../components/social-btn/social-btn.pug

mixin copyright()
  .copyright
    .copyright__content
      span.copyright__description
        |Copyright © 2018 Toxin отель. Все права защищены.
      .copyright__social-btn
        +social-btn()