.copyright {
  background-color: white;
  box-shadow: 0px 10px 20px $DarkShade05;
  border-top: 1px solid $DarkShade25;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 1200px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 280px;
    min-height: 90px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    @media (min-width: 720px) {
      min-height: 80px;
      flex-direction: row;
    }
    @media (min-width: 1200px) {
      width: 1160px;
    }
  }

  &__description {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $DarkShade75;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    @media (min-width: 393px) {
      margin-bottom: 0;
    }
    @media (min-width: 720px) {
      text-align: start;
      margin-top: 0;
    }
  }

  &__social-button {
    width: 110px;
  }
}