include ../../components/social-btn/social-btn.pug

mixin copyright()
    .footer-copyright-wrapper
        .footer-copyright
            span.footer-copyright__description
                |Copyright © 2018 Toxin отель. Все права защищены.
            +social-btn()