include ../../components/social-button/social-button.pug

mixin copyright()
  .copyright
    .copyright__content
      span.copyright__description
        |Copyright © 2018 Toxin отель. Все права защищены.
      .copyright__social-button
        +social-button()