mixin copyright()
    .footer-copyright-wrapper
        .footer-copyright
            span.footer-copyright__description
                |Copyright © 2018 Toxin UI Kit. All rights reserved.
            ul.footer-copyright__social
                li.footer-copyright__social-item
                    a.footer-copyright__social-btn
                        img(src="../../components/copyright/images/tw.svg", alt="")
                li.footer-copyright__social-item
                    a.footer-copyright__social-btn
                        img(src="../../components/copyright/images/fb.svg", alt="")
                li.footer-copyright__social-item
                    a.footer-copyright__social-btn
                        img(src="../../components/copyright/images/insta.svg", alt="")