.comments {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @include h2();
    margin: 0;
  }

  &__amount {
    color: $DarkShade50;

    @media (max-width: 800px) {
      margin-top: 5px;
    }
  }

  &__comment {
    margin-bottom: 23px;
  }
}
