.comments {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    @include h2();
    margin: 0;
  }

  &__amount {
    color: $DarkShade50;
  }

  &__comment {
    margin-bottom: 23px;
  }
}
