.diagramma-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	width: 284px;
}
.diagramma-content {
	position: relative;
	width: 139px;
	height: 138px;
	margin-left: -15px;
	margin-top: 3px;
}
.diagramma-content__chart-text {
	position: absolute;
	top: 45px;
	width: 100%;
}
.diagramma-content__chart-number {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 21.8px;
	line-height: 29px;

	color: #BC9CFF;

	align-items: center;
	text-align: center;

	margin: 0;
}
.diagramma-content__chart-label {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 15px;

	text-align: center;
	text-transform: uppercase;

	color: #BC9CFF;
	margin: 0;
}
.diagramma-list {
	list-style: none;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 12.8px;
	line-height: 22.5px;

	color: rgba(31, 32, 65, 0.75);

	padding: 0;
	margin: 0;
	margin-bottom: 13px;
}
.diagramma-list__item {
	position: relative;
	padding-left: 14px;
}
.diagramma-list__item::before {
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;

	top: 6.5px;
	left: 0;
	border-radius: 50%;

	background-color: black;
}
.diagramma-list__item_sumptuously.diagramma-list__item::before {
	background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}
.diagramma-list__item_good.diagramma-list__item::before {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.diagramma-list__item_satisfactorily.diagramma-list__item::before {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.diagramma-list__item_disappointed.diagramma-list__item::before {
	background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}