mixin checkbox_button(text, checked)
    .checkbox_button-container
        label.filter-checkbox
            input#checkbox_button.checkbox_button.visually-hidden(type='checkbox', name='base_checkbox_button', checked=checked || false)
            span.checkbox-indicator
            span.checkbox-description=text