mixin login({text = 'Form name'} = {})
  .login
    span.login__title= text
    .login__login-details
      .login__input-item
        +input({
          placeholder: 'Email',
          type: 'email',
          isTitleHidden: true,
        })
      .login__input-item
        +input({
          placeholder: 'Пароль',
          type: 'password',
          isTitleHidden: true,
        })
    .login__check-in-details
      .login__check-in-button
        +button({text: 'Войти', decor: 'background', hasArrow: 'arrow', height: 'large', href: '../../pages/landing/landing.pug'})
      .login__have-an-account
        span.login__text Нет аккаунта на Toxin?
        .login__create-button
          +button({text: 'Создать', decor: 'border', height: 'large', href: '../../pages/registration/registration.pug'})