mixin login({text = 'Form name'} = {text})
  .login
    span.login__title= text
    .login__login-details
      .login__input-item
        +base-input({
          placeholder: 'Email',
          type: 'email',
          borderRadiusTop: true,
          borderRadiusBottom: true,
          hide: true,
        })
      .login__input-item
        +base-input({
          placeholder: 'Пароль',
          type: 'password',
          borderRadiusTop: true,
          borderRadiusBottom: true,
          hide: true,
        })
    .login__check-in-details
      .login__check-in-button
        +base-button({text: 'Войти', decor: 'background', arrow: 'arrow'})
      .login__have-an-account
        span.login__text Нет аккаунта на Toxin?
        .login__create-button
          +base-button({text: 'Создать', decor: 'border'})