mixin login({text = 'Form name'} = {text})
  .login
    span.login__title= text
    .login__login-details
      .login__input-item
        +input({
          placeholder: 'Email',
          type: 'email',
          hasBorderRadiusTop: true,
          hasBorderRadiusBottom: true,
          isHide: true,
        })
      .login__input-item
        +input({
          placeholder: 'Пароль',
          type: 'password',
          hasBorderRadiusTop: true,
          hasBorderRadiusBottom: true,
          isHide: true,
        })
    .login__check-in-details
      form.login__check-in-button(action='/../pages/landing/landing.html', target='_blank')
        +button({text: 'Войти', decor: 'background', arrow: 'arrow', type: 'submit'})
      .login__have-an-account
        span.login__text Нет аккаунта на Toxin?
        form.login__create-button(action='/../pages/registration/registration.html', target='_blank')
          +button({text: 'Создать', decor: 'border', type: 'submit'})