.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  min-height: 282px;

  &__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: $DarkShade100;
    width: 100%;
  }

  &__check-in {

    &-details {
      width: 100%;
      min-height: 115px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-button {
      width: 100%;
      min-height: 44px;
      text-decoration: none;
    }
  }

  &__login-details {
    width: 100%;
    min-height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    align-items: center;
    @media(min-width: 400px) {
      line-height: 39px;
      text-align: left;
    }
  }

  &__have-an-account {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
  }

  &__create-button {
    width: 99px;
    min-height: 44px;
    text-decoration: none;
  }
}