mixin login(text)
  .login
    span.login__title= text
    .login__login-details
      .login__input-item
        +base-input( '', 'Email', '', 'top', 'bottom', 'hide')
      .login__input-item
        +base-input( '', 'Пароль', '', 'top', 'bottom', 'hide')
    .login__check-in-details
      .login__check-in-button
        +base-button('Войти', 'background', 'arrow')
      .login__have-an-account
        span.login__text Нет аккаунта на Toxin?
        .login__create-button
          +base-button('Создать', 'border')