mixin login(text)
  .login
    span.login__title= text
    .login__login-details
      .login__input-item
        +base-input( '', 'Email', 'email', '', 'top', 'bottom', 'hidden')
      .login__input-item
        +base-input( '', 'Пароль', 'password', '', 'top', 'bottom', 'hidden')
    .login__check-in-details
      .login__check-in-button
        +base-button('Войти', 'background', 'arrow', 'button')
      .login__have-an-account
        span.login__text Нет аккаунта на Toxin?
        .login__create-button
          +base-button('Создать', 'border', '', 'button')