mixin login(text)
	.login
		span.login__title= text
		.login__login-details
			+base-input('', '', 'Email', '', 'top', 'bottom')
			+base-input('', '', 'Пароль', '', 'top', 'bottom')
		.login__check-in-details
			+base-button('Войти', 'large', 'large', 'background', 'arrow')
			.login__have-an-account
				span.login__text Нет аккаунта на Toxin?
				+base-button('Создать', 'medium', 'large', 'border')