.login {
  position: relative;
  z-index: 2;

  &__title {
    margin: 0 0 20px 0;
    color: $DarkShade100;
    font-weight: bold;
    font-size: 24px;
  }

  &__input {
    @include input;
    width: 100%;
    margin-bottom: 10px;
  }

  &__check-in-button {
    margin: 10px 0 30px 0;
  }

  &__have-an-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
  }

  &__create-button {
    width: 99px;
  }
}
