.input {
  color: $DarkShade100;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

  &__description {
    padding-bottom: 5px;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    &_hidden {
      display: none;
    }

    &_visible {
      display: inline;
    }
  }

  &__icon-arrow {
    &:hover {
      & + .input__content {
        line-height: 24px;
        border: 1px solid $DarkShade50;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 44px;
      height: 44px;
      color: $Purple;
      font-size: 22px;
      font-family: 'Material Icons', Arial, sans-serif;
      line-height: 22px;
      text-transform: initial;
      cursor: pointer;
      content: 'arrow_forward';
    }
  }

  &__content {
    width: 100%;
    min-height: 43px;
    padding-right: 40px;
    padding-left: 12px;
    color: $DarkShade100;
    border: 1px solid $DarkShade25;
    border-radius: 4px;

    &:hover,
    :focus {
      color: $DarkShade75;
      border: 1px solid $DarkShade50;
      outline-style: none;
    }

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: $DarkShade25;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
