.input {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $DarkShade100;

  &__description {
    padding-bottom: 7px;
  }

  &__wrapper {
    position: relative;
  }

  &__description {

    &_hidden {
      display: none;
    }

    &_visible {
      display: inline;
    }
  }

  &__icon-arrow-down {
    &:hover {
      & + .input__content {
        border: 1px solid $DarkShade50;
        line-height: 24px;
        color: $DarkShade75;
      }
    }
    &::before {
      position: absolute;
      content: 'keyboard_arrow_down';
      width: 44px;
      height: 44px;
      right: 0;
      top: 0px;
      font-family: 'Material Icons', Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-transform: initial;
      color: $DarkShade50;
      cursor: pointer;
    }
  }

  &__icon-arrow::before {
    position: absolute;
    content: 'arrow_forward';
    width: 44px;
    height: 44px;
    right: 0;
    top: 0px;
    font-family: 'Material Icons', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: initial;
    color: $Purple;
    cursor: pointer;
  }

  &__content {
    min-height: 42px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $DarkShade100;
    padding-left: 12px;
    padding-right: 40px;

    &_opened {
      border: 1px solid $DarkShade50;
    }

    &:hover, :focus {
      border: 1px solid $DarkShade50;
      line-height: 24px;
      color: $DarkShade75;
    }

    &::placeholder {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: $DarkShade25;
    }

    &_with-border-radius-top {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &_with-border-radius-bottom {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &_with-dropdown {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 14px;
      line-height: 39px;
      color: $DarkShade75;
    
      &::placeholder {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }
    }
  }
}