@mixin sign-rouble() {
  &::after {
    content: '\20BD';
  }
}

.form-room-cost {
  padding: 40px 30px 30px 30px;

  @media (max-width: 800px) {
    padding: 20px 15px;
  }

  &__identification-room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__specification-room {
    color: $DarkShade100;
    font-weight: bold;
  }

  &__sign-number {
    padding-right: 3px;
    line-height: 17.5px;
  }

  &__number-room {
    padding-right: 8px;
    font-size: 24px;
  }

  &__room-class {
    color: $Purple;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__room-cost {
    display: flex;
    align-items: end;
    padding-bottom: 2px;
    font-weight: bold;
  }

  &__cost-text {
    padding-left: 3px;
    font-weight: normal;
    font-size: 12px;
  }

  &__inputs-with-datepicker {
    display: flex;
    justify-content: space-between;
  }

  &__dropdown-container {
    margin-top: 20px;
  }

  &__calculation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 105px;
    margin: 21px 0 30px 0;
  }

  &__cost-item {
    display: flex;
    justify-content: space-between;
  }

  &__column-calc {
    flex-basis: 69%;
  }

  &__cost {
    @include sign-rouble();
  }

  &__cost-title {
    @include sign-rouble();
    color: $DarkShade50;
  }

  &__block-with-tooltip {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__total {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__total-item {
    color: $DarkShade100;
    font-weight: bold;
    font-size: 19px;

    &_with-border {
      width: 120px;
      border-bottom: 1px dotted $DarkShade25;

      @media (min-width: 380px) {
        width: 180px;
      }
    }

    &_with-cost {
      @include sign-rouble();
    }
  }
}
