.form-room-cost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__identification-room {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 13px;
  }

  &__specification-room {
    color: $DarkShade100;
    font-weight: bold;
    line-height: 17px;
  }

  &__sign-number {
    padding-right: 3px;
    line-height: 17, 5px;
  }

  &__number-room {
    padding-right: 3px;
    font-size: 24px;
    line-height: 30px;
  }

  &__room-class {
    padding-left: 5px;
    color: $Purple;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
  }

  &__cost-per-day {
    padding-right: 3px;
    color: $DarkShade50;
    font-size: 12px;
    line-height: 34px;
  }

  &__room-cost {
    padding-right: 3px;
    font-weight: bold;
  }

  &__sign-rouble {
    display: inline-block;
    width: 0.4em;
    line-height: 7px;
    border-bottom: 1px solid;
  }

  &__inputs-with-datepicker {
    display: flex;
    justify-content: space-between;
  }

  &__input-container {
    width: 47%;
  }

  &__datepicker {
    display: none;
    width: 320px;
    min-height: 369px;
    margin-top: 5.5px;
    padding: 10px;
    padding-top: 10px;
    background: #fff;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    box-shadow: $primaryShadow;

    &_visible {
      display: block;
    }
  }

  &__dropdown-container {
    width: 100%;
    margin-top: 20px;
  }

  &__calculation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 110px;
    margin-top: 19px;
    margin-bottom: 28px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 15px;
    margin: 0;
    margin-bottom: 23.5px;
    padding: 0;
    padding-right: 5px;
    list-style: none;

    &-item {
      color: $DarkShade100;
      font-weight: bold;
      font-size: 19px;
      line-height: 18px;
      letter-spacing: 0;
      text-align: left;

      &_with-border {
        width: 120px;
        min-height: 18px;
        border-bottom: 1px dotted $DarkShade25;

        @media (min-width: 380px) {
          width: 180px;
        }
      }

      &_with-cost {
        color: $DarkShade100;
        font-weight: bold;
        font-size: 19px;
        line-height: 23, 75px;
        letter-spacing: 0;
        text-align: left;
      }
    }
  }

  &__armor-button {
    width: 100%;
    min-height: 44px;
  }
}
