.form-room-cost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__identification-room {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 13px;
  }

  &__specification-room {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $DarkShade100;
  }
  &__sign-number {
    line-height: 17,5px;
    padding-right: 3px;
  }
  &__number-room {
    font-size: 24px;
    line-height: 30px;
    padding-right: 3px;
  }
  &__room-class {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    padding-left: 5px;

    color: $Purple;
  }

  &__cost-per-day {
    padding-right: 3px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 34px;
    color: $DarkShade50;
  }
  &__room-cost {
    font-weight: bold;
    font-size: 14px;
    padding-right: 3px;
  }
  &__sign-rouble {
    line-height: 7px;
    width: 0.4em;
    border-bottom: 1px solid; 
    display: inline-block;
  }

  &__inputs-with-datepicker {
    display: flex;
    justify-content: space-between;
  }

  &__input-container {
    width: 47%;
  }

  &__datepicker {
    display: none;
    width: 320px;
    min-height: 369px;
    background: #fff;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $DarkShade05;
    border-radius: 4px;
    padding: 10px;
    padding-top: 10px;
    margin-top: 5.5px;

    &_visible {
      display: block;
    }
  }

  &__dropdown-container {
    width: 100%;
    margin-top: 20px;
  }

  &__calculation {
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 28px;
    margin-top: 19px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
  
    width: 100%;
    min-height: 15px;
  
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 23.5px;
    padding-right: 5px;

    &-item {
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;

      color: $DarkShade100;

      &_with-border {
        width: 120px;
        min-height: 18px;
        border-bottom: 1px dotted $DarkShade25;
        @media(min-width: 380px) {
          width: 180px;
        }
      }
      &_with-cost {
        font-family: 'Montserrat', Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23,75px;
        letter-spacing: 0em;
        text-align: left;

        color: $DarkShade100;
      }
    }
  }

  &__armor-button {
    width: 100%;
    min-height: 44px;
  }
}