@mixin arrowAfter() {
  position: absolute;
  top: 43%;
  color: #fff;
  font: 24px/24px 'Material Icons', sans-serif;
  cursor: pointer;
}

@mixin arrowBefore() {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background-image: $BlackTransparent;
  content: '';
}

@mixin cardPrev() {
  &::after {
    @include arrowAfter;
    left: 10px;
    transform: rotate(90deg);
    content: '\e5cf';
  }

  &::before {
    @include arrowBefore;
    border-top-left-radius: 4px;
  }
}

@mixin cardNext() {
  &::after {
    @include arrowAfter;
    right: 10px;
    transform: rotate(270deg);
    content: '\e5cf';
  }

  &::before {
    @include arrowBefore;
    right: 0;
    border-top-left-radius: 4px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.room-card {
  position: relative;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: $primaryShadow;

  &__prev,
  &__next {
    width: 44px;
  }

  &__slider {
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
      & .room-card__prev {
        @include cardPrev();
      }

      & .room-card__next {
        @include cardNext();
      }
    }
  }

  &__content {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    animation-name: fade;
    animation-duration: 1.5s;

    &_display_hidden {
      display: none;
    }
  }

  &__slider-dots {
    position: absolute;
    right: 15px;
    bottom: 118px;
  }

  &__switch-slider {
    width: 7px;
    height: 7px;
    margin-left: 4px;
    padding: 0;
    background: none;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgb(31 32 65 / 25%);
    cursor: pointer;

    &-active {
      background-color: #fff;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 106px;
    padding: 10px 10px 7px 10px;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    @media (min-width: 850px) {
      padding: 10px 17px 7px 20px;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
  }

  &__data-border {
    border-bottom: solid 1px $DarkShade10;
  }

  &__specification {
    text-decoration: none;
  }

  &__specification-group {
    color: $DarkShade100;
    font-weight: bold;
  }

  &__sign-number {
    padding-right: 3px;
  }

  &__number {
    padding-right: 7px;
    font-size: 20px;
  }

  &__kind {
    color: $Purple;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__cost {
    display: flex;
    align-items: center;
    color: $DarkShade50;

    &-room {
      padding-right: 5px;
      font-weight: bold;
    }

    &-room-description {
      font-size: 12px;
    }
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
  }

  &__amount {
    display: flex;
    align-items: center;
    color: $DarkShade50;

    &-reviews {
      padding-right: 4px;
      font-weight: bold;
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    right: 12px;
    display: flex;
    justify-content: space-between;
    width: 16.5%;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
