*{
  box-sizing: border-box;
}
.rating {
  position: relative;
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;

  &-item {
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;

    &::before {
      content: 'star_border';
      position: absolute;
      font-family: 'Material Icons', Arial, sans-serif;
      font-size: 22px;
      color: $Purple;
      background: $PrimaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.active::after {
      content: 'star';
      position: absolute;
      font-family: 'Material Icons', Arial, sans-serif;
      font-size: 22px;
      color: $Purple;
      background: $PrimaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
