@mixin star() {
  font: 22px 'Material Icons', sans-serif;
  background: $PrimaryGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    width: 24px;
    height: 24px;

    &::before {
      @include star();
      content: 'star_border';
    }

    &_active::before {
      @include star();
      content: 'star';
    }
  }
}
