mixin rating()
  ul.rating.js-rating
    li.rating-item.js-rating-item(class='active' data-rate='1')
    li.rating-item.js-rating-item(data-rate='2')
    li.rating-item.js-rating-item(data-rate='3')
    li.rating-item.js-rating-item(data-rate='4')
    li.rating-item.js-rating-item(data-rate='5')
