@import 'fonts/fonts.scss';
@import './styles/variables.scss';

* {
  box-sizing: border-box;
}

html {
  color: $DarkShade75;
  font-size: 14px;
  font-family: $primaryFont;
  background-color: white;
}

.content-list__item {
  min-height: 40px;
  list-style: none;
}
