doctype html
html
    head
        meta(charset="UTF-8")
        title Document
    body
    a(href="../src/pages/demo/demo.pug") Дeмо страница
    a(href="../src/pages/landing/landing.pug") Landing
    a(href="../src/pages/registration/registration.pug") Registration
    a(href="../src/pages/room-details/room-details.pug") Room details
    a(href="../src/pages/search-room/search-room.pug") Search room
    a(href="../src/pages/sign-in/sign-in.pug") Sign in