doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="keywords", content="демонстрация страниц, toxin")
        meta(name="description", content="Демонстрационная страница со сылками на страницы TOXIN - макет страниц по поиску номеров в отеле")
        title Document
        link(rel="stylesheet", href="../src/index.scss")
        link(rel="shortcut icon" href="../src/pages/images/favicon.ico" type="image/x-icon")
        link(rel='mask-icon' href="../src/pages/images/favicon-safari.svg" color="blue")
    body
      ul.content-list
        li.content-list__item
          a.content-list__link(href="../src/pages/demo/demo.pug") Дeмо страница
        li.content-list__item
          a.content-list__link(href="../src/pages/landing/landing.pug") Landing
        li.content-list__item
          a.content-list__link(href="../src/pages/registration/registration.pug") Registration
        li.content-list__item
          a.content-list__link(href="../src/pages/room-details/room-details.pug") Room details
        li.content-list__item
          a.content-list__link(href="../src/pages/search-room/search-room.pug") Search room
        li.content-list__item
          a.content-list__link(href="../src/pages/sign-in/sign-in.pug") Sign in