mixin masked_text_field()
    ul.masked_text_field-list
        li.masked_text_field-item
            label Masked text field
            input#masked_text_field.masked_text_field(type='data', name='masked_text_field', placeholder='ДД.ММ.ГГГГ')