mixin base_input(label, placeholder)
    ul.base_input-list
        li.base_input-item
            label= label
            input#base_input.base_input(type='text', name='base_input', placeholder= placeholder)            